// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
// GUARANTEE
.bl_guarantee {
  .bl_guarantee__content {
    h1 {
      margin-bottom: 60px;
      @media (max-width: 425px) {
        margin-bottom: 20px;
      }
    }
    .bl_guarantee__text_img {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      max-height: 300px;
      @media (max-width: 768px) {
        max-height: none;
        flex-direction: column;
        margin-bottom: 20px;
      }
      .bl_guarantee__text {
        width: 45%;
        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 20px;
        }
        p {
          &:first-child {
            color: $dark;
          }
        }
        > a {
          display: block;
          font-family: $Mont;
          font-size: 40px;
          font-weight: 400;
          margin-top: 30px;
          margin-bottom: 30px;
          color: $dark;
          @media (max-width: 1024px) {
            font-size: 30px;
          }
          @media (max-width: 768px) {
            font-size: 24px;
          }
        }
      }
      .bl_guarantee__img {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
        }
        img {
          display: block;
          width: 430px;
          margin: 0 auto;
          @media (max-width: 1024px) {
            width: 290px;
          }
          @media (max-width: 425px) {
            width: 100%;
          }
        }
      }
    }
    .bl_guarantee__timing {
      margin-bottom: 100px;
      @media (max-width: 768px) {
        margin-bottom: 60px;
      }
      h2 {
        margin-bottom: 60px;
        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
      }
      > p {
        font-weight: 500;
        color: $dark;
        font-size: 18px;
        margin-bottom: 20px;
        display: block;
        span {
          color: $blue;
        }
      }
      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        @media (max-width: 992px) {
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
        }
        @media (max-width: 600px) {
          grid-template-columns: repeat(1, 1fr);
        }
        li {
          p {
            color: $light_grey;
            font-size: 14px;
            font-weight: 400;
            &:first-child {
              font-size: 40px;
              color: $blue;
              margin-bottom: 10px;
              @media (max-width: 1024px) {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}
// END GUARANTEE
// ========================================
