@font-face {
    font-family: "Aktiv Grotesk Corp";
    src: local("AktivGroteskCorp-Medium"), url("AktivGroteskCorp-Medium.woff2") format("woff2"),
        url("AktivGroteskCorp-Medium.woff") format("woff"), url("AktivGroteskCorp-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Aktiv Grotesk Corp";
    src: local("AktivGroteskCorp-Bold"), url("AktivGroteskCorp-Bold.woff2") format("woff2"),
        url("AktivGroteskCorp-Bold.woff") format("woff"), url("AktivGroteskCorp-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Aktiv Grotesk Corp";
    src: local("AktivGroteskCorp-Regular"), url("AktivGroteskCorp-Regular.woff2") format("woff2"),
        url("AktivGroteskCorp-Regular.woff") format("woff"), url("AktivGroteskCorp-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
