// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
// HEADER
.main_header {
  position: relative;
  z-index: 50;
  // overflow: hidden;
  // --------------------
  //  Header desktop
  .header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 50;
    @media (max-width: 768px) {
      // top: 50px;
    }
    @media (max-width: 425px) {
      // top: 30px;
    }
    .header__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .header__logo {
      max-width: 220px;
      width: 100%;
      @media (max-width: 992px) {
        max-width: 180px;
      }
      @media (max-width: 768px) {
        max-width: 140px;
      }
      a {
        display: block;
        width: 100%;
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .header__menu {
      display: block;
      @media (max-width: 992px) {
        display: none;
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        li {
          margin-left: 60px;
          @media (max-width: 1200px) {
            margin-left: 30px;
          }

          &:first-child {
            margin-left: 0;
          }
          a {
            display: block;
            font-family: $Wal;
            font-size: 20px;
            color: #fff;
            font-weight: 500;
            line-height: 100%;
            position: relative;
            transition: 0.3s;
            &::before {
              content: "";
              display: block;
              width: 0;
              height: 4px;
              background-color: $red1;
              position: absolute;
              left: 0;
              top: -10px;
              transition: 0.3s;
            }
            &:hover {
              color: $red1;
              transition: 0.3s;
            }
            &:hover::before {
              width: 100%;
              transition: 0.3s;
            }
          }
          a.active {
            color: $red1;
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
    .header__burger {
      display: none;
      width: 50px;
      height: 45px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 9px 4px;
      border: 3px solid #fff;
      @media (max-width: 992px) {
        display: flex;
      }
      @media (max-width: 768px) {
        width: 45px;
        height: 36px;
        padding: 8px 4px;
        border: 2px solid #fff;
      }
      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: 0.3s;

        @media (max-width: 768px) {
          height: 2px;
        }
      }
    }
    .header__burger.active {
      span {
        &:first-child {
          transform: rotate(405deg) translate(6px, 6px);
          transition: 0.3s;
          @media (max-width: 768px) {
            transform: rotate(405deg) translate(5px, 5px);
          }
        }
        &:nth-child(2) {
          display: none;
        }
        &:last-child {
          transform: rotate(-405deg) translate(6px, -6px);
          transition: 0.3s;
          @media (max-width: 768px) {
            transform: rotate(-405deg) translate(5px, -5px);
          }
        }
      }
    }
  }

  //  End Header desktop
  // --------------------
  // Header mobile
  .header__mobile {
    position: fixed;
    z-index: 45;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 70px;
    overflow: auto;
    transition: 0.3s;
    padding-top: 150px;
    display: none;
    @media (max-width: 992px) {
      display: block;
    }
    @media (max-width: 768px) {
      padding: 50px;
      padding-top: 120px;
    }
    @media (max-width: 425px) {
      width: 100%;
      padding: 20px;
      padding-top: 120px;
    }
  }
  .header__mobile.active {
    right: 0;
    transition: 0.3s;
  }
  .header__menu {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    @media (max-width: 992px) {
      display: block;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      li {
        margin-bottom: 30px;

        &:first-child {
          margin-left: 0;
        }
        a {
          display: block;
          font-family: $Wal;
          font-size: 20px;
          color: #fff;
          font-weight: 500;
          line-height: 100%;
          position: relative;
          transition: 0.3s;
          &::before {
            content: "";
            display: block;
            width: 0;
            height: 4px;
            background-color: $red1;
            position: absolute;
            left: 0;
            top: -10px;
            transition: 0.3s;
          }
          &:hover {
            color: $red1;
            transition: 0.3s;
          }
          &:hover::before {
            width: 100%;
            transition: 0.3s;
          }
        }
        a.active {
          color: $red1;
          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  //   // End Header mobile
  //   // --------------------
}
// .main_header.header__sticky {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   .header {
//     background-color: #fff;
//   }
// }

// END HEADER
// ========================================
