// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
// Heading
h1 {
  font-family: $Wal;
  font-weight: 700;
  font-size: 80px;
  line-height: normal;
  color: #fff;
  max-width: 1000px;
  position: relative;
  @media (max-width: 992px) {
    font-size: 70px;
  }
  @media (max-width: 768px) {
    font-size: 50px;
  }
  @media (max-width: 425px) {
    font-size: 36px;
  }
  &:before {
    content: "";
    display: block;
    width: 100px;
    height: 14px;
    background-color: $red1;
    position: absolute;
    top: -20px;
    left: 0;
    @media (max-width: 768px) {
      height: 10px;
    }
  }
  span {
    display: block;
    font-size: 50px;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
}
h2 {
  font-family: $Wal;
  font-weight: 700;
  font-size: 60px;
  line-height: normal;
  color: $black1;
  position: relative;
  text-transform: uppercase;
  @media (max-width: 1440px) {
    font-size: 50px;
  }
  @media (max-width: 992px) {
    font-size: 45px;
  }
  @media (max-width: 768px) {
    font-size: 35px;
  }
  @media (max-width: 425px) {
    font-size: 28px;
  }
  &:before {
    content: "";
    display: block;
    width: 100px;
    height: 14px;
    background-color: $red1;
    position: absolute;
    top: -20px;
    left: 0;
    @media (max-width: 768px) {
      height: 10px;
    }
  }
  span {
    display: block;
  }
}

h4 {
  font-family: $Wal;
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  color: $black1;
  position: relative;
  text-transform: uppercase;
  @media (max-width: 992px) {
    // font-size: 45px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
  @media (max-width: 425px) {
    // font-size: 28px;
  }
}

// End Heading
// ------------------------------
p {
  font-family: $Ave;
  font-weight: 400;
  font-size: 18px;
  // line-height: 30px;
  line-height: 30/18 * 100%;
  color: $black1;
  position: relative;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
// ------------------------------
// Links
.btn_red {
  width: 324px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../img/icons/btn_red.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-family: $Wal;
  font-size: 25px;
  line-height: 100%;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-right: 20px;
  transition: 0.3s;
  @media (max-width: 425px) {
    width: 250px;
    height: 42px;
    font-size: 18px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 15px;
    background-image: url("../img/icons/btn_arrow_right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: 0.3s;
  }

  &:hover::before {
    right: 30px;
  }
}
// End links
// ------------------------------
