// ========================================
//=== Variables ===
// ---fonts---
$Mont: 'Montserrat',
sans-serif;
// ---colors--- 
$green_a2: #A2C2C6;
$blue_04: #04244D;
$grey_f5:#F5F5F5;
$grey_c4:#c4c4c4;
$black_5b: #5B5959;
//=== End Variables ===
// ========================================