// ========================================
//=== Variables ===
// ---fonts---
$GTAmerica:'GT America',
sans-serif;
// ---colors--- 
$black_1a: #1a1a1a;
$black_3a: #3A3734;
$grey_e:#eeeeee;
//=== End Variables ===
// ========================================