.entry {
    position: absolute;
    opacity: .5;
    cursor: move;
    transition: opacity .3s;
}

.entry.dim-over {
    opacity: 1;
}

.entry.dim-hide {
    opacity: .2;
}

.entry p {
    display: inline;
    line-height: 25px;
    padding: 5px 0;
    z-index: 1000;
}

.entry:hover p {
    border-bottom: 3px solid black;
}