// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
// HEADER
.main_header {
  position: relative;
  z-index: 50;
  // --------------------
  //  Header desktop
  .header_d {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    .header_d__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .header_d__logo {
      position: relative;
      z-index: 150;
      a {
        display: block;
        font-size: 55px;
        line-height: 67/55 * 100%;
        font-family: $Mont;
        color: #fff;
        font-weight: 400;
        @media (max-width: 768px) {
          font-size: 35px;
        }
      }
    }
    .header_d__links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px) {
        display: none;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 29px;
        line-height: 100%;
        color: $black1;
        text-transform: uppercase;
        background-color: #fff;
        border: 1px solid #fff;
        font-family: $Mont;
        font-size: 12px;
        border-radius: 25px;
        transition: 0.3s;
        font-weight: 700;
        &:hover {
          transition: 0.3s;
          opacity: 0.6;
        }
        &:first-child {
          background-color: transparent;
          color: #fff;
          margin-right: 8px;
          font-weight: 700;
          font-family: $Mont;
        }
      }
    }
    .header__burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 34px;
      min-width: 34px;
      height: 20px;
      // margin-right: 40px;
      position: relative;
      display: none;
      z-index: 150;
      @media (max-width: 768px) {
        display: flex;
        // margin-right: 20px;
      }
      span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transition: 0.3s;
      }
    }
    .header__burger.active {
      span {
        &:first-child {
          transform: rotate(405deg) translate(4px, 5px);
        }
        &:nth-child(2) {
          width: 0;
          height: 0;
          transition: 0.3s;
        }
        &:last-child {
          transform: rotate(-405deg) translate(9px, -9px);
        }
      }
    }
  }
  //  End Header desktop
  // --------------------
  // Header mobile
  .header_m {
    position: fixed;
    width: 100%;
    // height: 300px;
    top: -100%;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    @media (max-width: 600px) {
      padding-top: 120px;
    }
    .header_d__links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px) {
        // display: none;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        font-size: 14px;
        line-height: 100%;
        color: $black1;
        text-transform: uppercase;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 25px;
        transition: 0.3s;
        font-weight: 700;
        &:hover {
          transition: 0.3s;
          opacity: 0.6;
        }
        &:first-child {
          background-color: transparent;
          color: #fff;
          margin-right: 8px;
        }
      }
    }
  }
  .header_m.active {
    top: 0;
    transition: 0.3s;
  }
  // End Header mobile
  // --------------------
}
// END HEADER
// ========================================
