// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
// BRANCHES
.bl_branches__contacts {
  padding-top: 0;
}
// END BRANCHES
// ========================================

// REQUISITES CONTACTS
.bl_requisites__contacts {
  padding-top: 100px;
  @media (max-width: 768px) {
    padding-top: 60px;
  }
}
// END REQUISITES CONTACTS
// ========================================
// ABOUT SPEC
.bl_about_spec {
  .bl_about_spec__content {
    .bl_about_spec__items {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            .doctor__item {
              &:hover .doctor__item__bottom {
                opacity: 1;
                transition: 0.3s;
              }
              &:hover .hover_height {
                height: inherit !important;
              }
              // > a {
              //   z-index: 0;
              //   display: none;
              // }
              .doctor__address {
                margin-bottom: 10px;
              }
              .doctor__item__bottom {
                opacity: 0;
                transition: 0.3s;
                div {
                  &:first-child {
                    margin-bottom: 10px;
                  }
                  .title {
                    font-family: $Nun;
                    font-size: 12px;
                    line-height: 135%;
                    color: $grey;
                    margin-right: 5px;
                  }
                  p {
                    display: inline;
                  }
                  a {
                    display: inline;
                    font-family: $Nun;
                    font-size: 12px;
                    line-height: 135%;
                    color: $dark;
                    margin-right: 5px;
                    &:hover {
                      color: $red;
                    }
                  }
                  address {
                    font-family: $Nun;
                    font-size: 12px;
                    line-height: 135%;
                    color: $grey;
                    margin-right: 5px;
                    font-style: normal;
                    display: inline;
                  }
                }
                .hover_height {
                  height: 22px;
                  overflow: hidden;
                }
              }
            }
          }
        }
      }
    }
  }
}
// END ABOUT SPEC
// ========================================
// ADDRESS AND PHONES
.bl_add_phone {
  padding-bottom: 100px;
  @media (max-width: 768px) {
    // padding-bottom: 60px;
  }

  .bl_add_phone__content {
    .swiper {
      @media (max-width: 425px) {
        overflow: inherit;
      }
      .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        @media (max-width: 1024px) {
          gap: 20px;
        }
        @media (max-width: 768px) {
          gap: 10px;
        }
        @media (max-width: 700px) {
          grid-template-columns: repeat(1, 1fr);
        }
        @media (max-width: 425px) {
          display: flex;
          gap: 0;
        }
        .swiper-slide {
          padding: 30px;
          border-radius: 8px;
          background-color: $bg;
          @media (max-width: 768px) {
            padding: 20px;
          }
          .bl_add_phone__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            h4 {
              font-weight: 700;
              font-size: 16px;
              line-height: 150%;
              color: $dark;
              margin-bottom: 30px;
              min-height: 72px;
              height: initial;
              @media (max-width: 1024px) {
                min-height: 108px;
              }
              @media (max-width: 768px) {
                min-height: 138px;
              }
              @media (max-width: 700px) {
                min-height: auto;
              }
            }
            .bl_add_phone__bottom {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              p {
                font-weight: 600;
                font-size: 14px;
                line-height: 135%;
                color: $grey;
                margin-bottom: 20px;
              }
              .add_phone__items {
                .add_phone__item {
                  font-size: 14px;
                  line-height: 135%;
                  font-weight: 600;
                  margin-bottom: 10px;
                  font-family: $Nun;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  span {
                    margin-bottom: 0;
                    display: inline;
                    color: $grey;
                  }
                  address {
                    color: $dark;
                    display: inline;
                    font-style: normal;
                  }
                  a {
                    display: inline;
                    font-size: 14px;
                    line-height: 135%;
                    font-weight: 600;
                    color: $dark;
                  }
                }
              }
            }
          }
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
        @media (max-width: 425px) {
          display: block;
          bottom: -40px;
        }
      }
      .swiper-button-prev {
        @media (max-width: 425px) {
          left: 25px;
        }
      }
      .swiper-button-next {
        @media (max-width: 425px) {
          right: 25px;
        }
      }
    }
  }
}
// END ADDRESS AND PHONES
// ========================================
// MAP BRANCHES
.bl_map_branches_contacts {
  background-color: #fff;
  padding-bottom: 100px;
  @media (max-width: 768px) {
    padding-bottom: 60px;
  }
  .bl_map_branches__content {
    .bl_map_branches__body {
      .bl_map_branches__menu {
        ul {
          li {
            background-color: $bg;
            a {
            }
          }
        }
      }
    }
  }
}
// END MAP BRANCHES
// ========================================
