*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font: 14px/22px "open_sans", Arial, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

footer,
header,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    outline: none;
    transition: 0.3s;
}
picture,
img {
    display: block;
    height: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0c0c0c;
    display: block;
}

button {
    display: block;
    transition: 0.3s;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
