/* ---------------------------------------- */
/* ----- SF Pro Display ----- */
/* -------------------- */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@font-face {
  font-family: "SF Pro Display";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("./SFProDisplay-Light.ttf") format("truetype"), url("./SFProDisplay-Light.woff2") format("woff2"), url("./SFProDisplay-Light.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./SFProDisplay-Regular.ttf") format("truetype"), url("./SFProDisplay-Regular.woff2") format("woff2"), url("./SFProDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./SFProDisplay-Medium.ttf") format("truetype"), url("./SFProDisplay-Medium.woff2") format("woff2"), url("./SFProDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./SFProDisplay-Bold.ttf") format("truetype"), url("./SFProDisplay-Bold.woff2") format("woff2"), url("./SFProDisplay-Bold.woff") format("woff");
}
/* -------------------- */
/* ----- END SF Pro Display ----- */
/* ---------------------------------------- */
