// ========================================
// ---------- VARIABLES ----------
@import "__variables.scss";
// ---------- END VARIABLES ----------
// ========================================
// ---------- BLOCK HEADER ----------
// ----------------------------------------
// .ggg {
//   p {
//     @extend %grey;
//   }
// }
.bl-header {
  padding-top: 43px;
  padding-bottom: 130px;
  @media (max-width: 1024px) {
    padding-bottom: 75px;
  }
  @media (max-width: 480px) {
    padding-bottom: 60px;
    padding-top: 20px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }
  }
  &__texts {
    width: 48%;
    margin-right: 30px;
    @media (max-width: 1024px) {
      width: 100%;
      margin-right: 0;
    }
    h1 {
      @extend %G;
      @extend %dark;
      font-weight: 500;
      font-size: 40px;
      line-height: normal;
      margin-bottom: 23px;
      @media (max-width: 480px) {
        font-size: 30px;
        margin-bottom: 14px;
      }
    }
    > p {
      margin-bottom: 40px;
      @media (max-width: 480px) {
        margin-bottom: 30px;
      }
    }
    .bl-header__blockquote {
      width: 100%;
      display: block;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      padding-top: 15px;
      padding-bottom: 15px;
      @extend %G;
      @extend %dark;
      font-size: 18px;
      line-height: 30px;
      font-style: italic;
      margin-bottom: 45px;
      @media (max-width: 480px) {
        margin-bottom: 6px;
      }
    }
  }
  &__texts-bottom {
    > p {
      line-height: normal;
    }
  }
  &__img {
    @media (max-width: 1024px) {
      max-width: 630px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    img {
      min-width: calc(100% + 60px);
      @media (max-width: 1024px) {
        min-width: auto;
      }
    }
  }
}
.call-to-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  @media (max-width: 480px) {
    flex-direction: column-reverse;
    margin-bottom: 15px;
  }
  .btn-green {
    margin-right: 20px;
    @media (max-width: 480px) {
      max-width: 100%;
      min-width: auto;
      width: 100%;
      margin-right: 0;
    }
  }
  p {
    @extend %G;
    @extend %dark;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    @media (max-width: 480px) {
      margin-bottom: 22px;
    }
  }
}

// ----------------------------------------
// ---------- END BLOCK HEADER ----------
// ========================================
// ---------- FAVORITE ----------
// ----------------------------------------
.bl-favorite {
  padding-bottom: 120px;
  @media (max-width: 1024px) {
    padding-bottom: 60px;
  }
  @media (max-width: 480px) {
    padding-bottom: 50px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__img {
    @media (max-width: 1024px) {
      width: 100%;
      max-width: 630px;
      margin: 0 auto;
      margin-bottom: 55px;
    }
    @media (max-width: 480px) {
      margin-bottom: 26px;
    }
    img {
      display: block;
    }
  }
  &__texts {
    width: 40%;
    margin-left: 26px;
    @media (max-width: 1024px) {
      width: 100%;
      margin: 0;
    }
    p {
      margin-bottom: 18px;
    }
    .call-to-action {
      margin-top: 45px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      @media (max-width: 1024px) {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      @media (max-width: 480px) {
        margin-top: 25px;
        flex-direction: column;
      }
      .btn-green {
        @media (max-width: 480px) {
          margin-bottom: 27px;
        }
      }
      p {
        margin: 0;
        @media (max-width: 480px) {
          text-align: center;
        }
      }
    }
  }
}
// ----------------------------------------
// ---------- END FAVORITE ----------
// ========================================
// ---------- WHY ----------
// ----------------------------------------
.bl-why {
  background-color: $blue;
  padding-top: 94px;
  padding-bottom: 110px;
  @media (max-width: 480px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .title-h2 {
    color: #fff;
  }
  .text-d {
    @media (max-width: 700px) {
      display: none;
    }
  }
  .text-m {
    display: none;
    @media (max-width: 700px) {
      display: block;
    }
  }
  p {
    color: #fff;
    .title {
      display: block;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    @media (max-width: 700px) {
      flex-direction: column-reverse;
    }
  }
  &__texts {
    width: 58%;
    margin-right: 10px;
    @media (max-width: 992px) {
      width: 100%;
      margin: 0;
    }
    > p {
      width: 58%;
      @media (max-width: 700px) {
        width: 100%;
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    @media (max-width: 992px) {
      flex-direction: column;
      width: 58%;
    }
    @media (max-width: 700px) {
      width: 100%;
      margin-bottom: 20px;
    }
    ul {
      &:first-child {
        margin-right: 10px;
        @media (max-width: 992px) {
          margin: 0;
        }
      }
      li {
        @extend %G;
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        position: relative;
        padding-left: 22px;
        &::before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $green;
          position: absolute;
          left: 0;
          top: 9px;
        }
      }
    }
  }
  .call-to-action {
    margin-top: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    @media (max-width: 1024px) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @media (max-width: 480px) {
      display: none;
      margin-top: 25px;
      flex-direction: column;
    }
    .btn-green {
      @media (max-width: 480px) {
        margin-bottom: 27px;
      }
    }
    p {
      margin: 0;
      @media (max-width: 480px) {
        text-align: center;
      }
    }
  }
  &__img {
    width: 41%;
    @media (max-width: 992px) {
      position: absolute;
      right: 0;
      top: 0;
    }
    @media (max-width: 700px) {
      position: relative;
      right: auto;
      top: auto;
      width: 100%;
      margin-top: 30px;
    }
  }
}
// ----------------------------------------
// ---------- END WHY ----------
// ========================================
// ---------- JOURNEY ----------
// ----------------------------------------
.bl-journey {
  padding-top: 110px;
  padding-bottom: 125px;
  @media (max-width: 600px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .title-h2 {
    margin-bottom: 22px;
    span {
      font-size: 25px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 20px;
      display: block;
      text-align: center;
      text-transform: uppercase;
      @media (max-width: 600px) {
        font-size: 22px;
      }
    }
  }
  .title-h3__m {
    display: none;
    @media (max-width: 600px) {
      display: block;
      margin-bottom: 15px;
    }
  }
}
.steps {
  margin-top: 33px;
  > ul {
    > li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 52px;
      @media (max-width: 768px) {
        align-items: flex-start;
      }
      @media (max-width: 600px) {
        flex-direction: column;
        margin-bottom: 35px;
      }
      &:last-child {
        margin-bottom: 0;
        .steps__img {
          width: 39%;
        }
        .steps__texts {
          width: 61%;
        }
      }
      &:nth-child(2n) {
        flex-direction: row-reverse;
        @media (max-width: 600px) {
          flex-direction: column;
        }
        .steps__img {
          padding: 0;
          padding-left: 15px;
          @media (max-width: 600px) {
            width: 100%;
            padding: 0;
          }
        }
        .steps__texts {
          padding: 0;
          padding-right: 15px;
          @media (max-width: 600px) {
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }
  &__img {
    width: 50%;
    padding-right: 15px;
    @media (max-width: 600px) {
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
    }
  }
  &__texts {
    width: 50%;
    padding-left: 15px;
    @media (max-width: 600px) {
      width: 100%;
      padding: 0;
      margin-bottom: 0;
    }
    > p {
      margin-bottom: 18px;
      // &:last-child {
      //   margin-bottom: 0;
      // }
    }
    .title-h3 {
      @media (max-width: 600px) {
        display: none;
      }
    }
    ul {
      margin-bottom: 18px;
      li {
        @extend %G;
        @extend %dark;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        position: relative;
        padding-left: 22px;
        margin: 0;
        &::before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $green;
          position: absolute;
          left: 0;
          top: 9px;
        }
      }
    }
    .call-to-action {
      margin-top: 45px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      @media (max-width: 1024px) {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      @media (max-width: 480px) {
        margin-top: 25px;
        flex-direction: column;
      }
      .btn-green {
        @media (max-width: 480px) {
          margin-bottom: 27px;
        }
      }
      p {
        margin: 0;
        @media (max-width: 480px) {
          text-align: center;
        }
      }
    }
  }
}
// ----------------------------------------
// ---------- END JOURNEY ----------
// ========================================
// ---------- COMPANIES ----------
// ----------------------------------------
.bl-companies {
  padding-bottom: 120px;
  @media (max-width: 480px) {
    padding-bottom: 60px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 950px;
    margin: 0 auto;
    gap: 46px 28px;
    @media (max-width: 480px) {
      gap: 46px 22px;
    }
  }
  li {
    // overflow: hidden;
    border-radius: 20px;
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    }
    a {
      display: block;
      border: 1px solid #ededed;
      border-radius: 20px;
      overflow: hidden;
      width: 94px;
      height: 95px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform: scale(1.1);
      }
    }
    // margin-right: 28px;
    // margin-bottom: 46px;
    // &:nth-child(8n) {
    //   margin-right: 0;
    // }
  }
}
// ----------------------------------------
// ---------- END COMPANIES ----------
// ========================================
// ---------- REVIEWS ----------
// ----------------------------------------
.bl-reviews {
  background-color: $blue;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 80px;
  @media (max-width: 480px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .title-h2 {
    color: #fff;
  }
  .review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 700px) {
      flex-direction: column;
    }
    li {
      width: 25%;
      padding-right: 33px;
      margin-bottom: 38px;
      position: relative;
      padding-top: 44px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 1024px) {
        width: 33.333%;
        padding-right: 10px;
      }
      @media (max-width: 700px) {
        width: 100%;
        margin-bottom: 50px;
        padding-right: 0;
      }
      &::before {
        content: "";
        display: block;
        width: 38px;
        height: 38px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("../img/icons/quote.svg");
        position: absolute;
        top: 0;
        left: 0;
      }
      &:nth-child(3) {
        @media (max-width: 1024px) {
          display: none;
        }
      }
      &:nth-child(4) {
        padding-right: 0;
      }
      &:nth-child(5) {
        padding-right: 33px;
        width: 50%;
        @media (max-width: 700px) {
          width: 100%;
          padding-right: 0;
        }
      }
      &:nth-child(6) {
        padding-right: 0;
        width: 50%;
        @media (max-width: 700px) {
          width: 100%;
        }
      }
    }
    &__blockquote {
      margin-bottom: 20px;
      blockquote {
        display: block;
        font-family: $G;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
      }
    }
    &__author {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      @media (max-width: 1024px) {
        align-items: flex-end;
      }
      @media (max-width: 700px) {
        align-items: center;
      }
    }
    &__img {
      max-width: 94px;
      min-width: 94px;
      height: 94px;
      overflow: hidden;
      border: 1px solid #ededed;
      border-radius: 20px;
      margin-right: 23px;
      @media (max-width: 1024px) {
        margin-right: 18px;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__texts {
      h4 {
        display: block;
        font-family: $G;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
      }
      p {
        display: block;
        font-family: $G;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
      }
    }
  }
  .btn-more {
    display: block;
    font-family: $G;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: $green;
    margin: 0 auto;
    width: fit-content;
    text-decoration: underline;
    display: none;
    @media (max-width: 480px) {
      display: block;
    }
    &:hover {
      color: #fff;
    }
  }
}
// ----------------------------------------
// ---------- END REVIEWS ----------
// ========================================
// ---------- TILES ----------
// ----------------------------------------
.bl-tiles {
  padding-top: 120px;
  padding-bottom: 65px;
  @media (max-width: 480px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  &__content {
    > p {
      max-width: 980px;
      margin: 0 auto;
    }
    .call-to-action {
      padding-top: 30px;
      padding-bottom: 30px;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      max-width: 850px;
      margin: 0 auto;
      margin-top: 65px;
      @media (max-width: 1024px) {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      @media (max-width: 480px) {
        margin-top: 25px;
        flex-direction: column;
      }
      .btn-green {
        @media (max-width: 480px) {
          margin-bottom: 27px;
        }
      }
      p {
        margin: 0;
        @media (max-width: 480px) {
          text-align: center;
        }
      }
    }
  }
}
.tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 46px;
  @media (max-width: 480px) {
    margin-bottom: 60px;
  }
  &__item {
    width: 33.333%;
    padding-right: 30px;
    @media (max-width: 1024px) {
      width: 50%;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  &__item1 {
    @media (max-width: 1024px) {
      display: none;
    }
    ul {
      li {
        &:nth-child(3) {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }
  }
  &__item2 {
    @media (max-width: 600px) {
      display: none;
    }
    ul {
      li {
        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 3;
        }
        &:nth-child(2) {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }
  }
  &__item3 {
    ul {
      li {
        &:nth-child(5) {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 160px);
    gap: 30px;
    @media (max-width: 600px) {
      gap: 30px 25px;
    }
    li {
      border-radius: 10px;
      overflow: hidden;
      picture,
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// ----------------------------------------
// ---------- END TILES ----------
// ========================================
