// ========================================
// ---------- VARIABLES ----------
@import "__variables.scss";
// ---------- END VARIABLES ----------
// ========================================
// ----------------------------------------
// ---------- HEADER ----------
// ----------------------------------------
.bl-header {
  min-height: 800px;
  background-image: url("../img/bg-colors-header.png");
  background-repeat: repeat-x;
  background-position: center center;
  background-size: auto 100%;
  padding-top: 187px;
  @media (max-width: 1200px) {
    padding-bottom: 100px;
  }

  @media (max-width: 992px) {
    min-height: 500px;
    padding-top: 120px;
    padding-bottom: 80px;
    background-image: url("../img/bg-colors-header2.png");
  }
  @media (max-width: 700px) {
    padding-bottom: 100px;
    padding-top: 90px;
    background-image: url("../img/bg-colors-header3.png");
  }
  // display: none;
  .container {
    max-width: 1440px;
    padding-left: 85px;
    padding-right: 60px;
    @media (max-width: 992px) {
      padding-left: 106px;
      padding-right: 71px;
    }
    @media (max-width: 830px) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 1200px) {
      align-items: center;
    }
    @media (max-width: 700px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__left {
    max-width: 633px;
    position: relative;
    z-index: 5;
    h1 {
      display: block;
      font-family: $Rob;
      font-weight: 900;
      font-size: 70px;
      line-height: 111%;
      letter-spacing: 0.045em;
      color: #000;
      margin-bottom: 44px;
      @media (max-width: 992px) {
        font-size: 40px;
        margin-bottom: 13px;
      }
      @media (max-width: 768px) {
        font-size: 36px;
      }
      @media (max-width: 700px) {
        text-align: center;
      }
      span {
        color: $pink;
        display: inline;
      }
    }
  }
  &__ul {
    border: 1px solid $pink;
    border-top: 1px solid transparent;
    width: fit-content;
    padding: 11px 15px;
    padding-right: 12px;
    padding-bottom: 20px;
    position: relative;
    @media (max-width: 992px) {
      padding: 23px 25px;
    }
    @media (max-width: 700px) {
      margin: 0 auto;
    }
    &::before {
      content: "";
      height: 1px;
      width: 27%;
      background-color: $pink;
      display: block;
      position: absolute;
      left: 0;
      top: -1px;
    }
    &::after {
      content: "";
      height: 1px;
      width: 27%;
      background-color: $pink;
      display: block;
      position: absolute;
      right: 0;
      top: -1px;
    }
    ul {
      li {
        position: relative;
        font-family: $Fut;
        font-weight: 600;
        font-size: 28px;
        line-height: 138%;
        color: rgba(0, 0, 0, 0.74);
        margin-bottom: 12px;
        white-space: nowrap;
        padding-left: 49px;
        @media (max-width: 992px) {
          font-size: 16px;
          padding-left: 30px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          background-image: url("../img/icons/check_header_pink.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          position: absolute;
          left: 0;
          top: 6px;
          @media (max-width: 992px) {
            width: 17px;
            height: 17px;
            top: 4px;
          }
        }
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    .booklet {
      width: 532px;
      height: 400px;
      position: absolute;
      left: -158%;
      top: 145px;
      @media (max-width: 1300px) {
        width: 400px;
        height: auto;
        left: -120%;
        top: 180px;
      }
      @media (max-width: 1200px) {
        position: relative;
        left: auto;
        top: auto;
        padding-top: 50px;
        margin-top: 100px;
      }
      @media (max-width: 992px) {
        width: 288px;
        padding-top: 50px;
        margin-top: 0;
      }
      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $Fut;
        font-size: 28px;
        font-weight: 900;
        letter-spacing: 0.06em;
        color: #000;
        position: absolute;
        top: -86px;
        right: 133px;
        z-index: 5;
        width: 143px;
        height: 150px;
        background-image: url("../img/spot_header_blue.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        @media (max-width: 1200px) {
          right: 0;
          top: 0;
        }
        @media (max-width: 992px) {
          width: 103px;
          height: 108px;
          font-size: 18px;
          top: 20px;
          right: 20px;
        }
      }
    }
  }
  &__form {
    max-width: 320px;
    width: 100%;
    padding: 9px 30px 40px;
    @media (max-width: 1200px) {
      display: none;
    }

    form {
      h4 {
        margin: 0 auto;
        margin-bottom: 28px;
        max-width: 240px;
      }
      .input {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// ----------------------------------------
// ---------- END HEADER ----------
// ----------------------------------------
// ---------- GARANT ----------
.bl-garant {
  // display: none;
  padding-top: 120px;
  padding-bottom: 200px;
  position: relative;
  @media (max-width: 992px) {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  @media (max-width: 600px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .paint_blue {
    position: absolute;
    bottom: -80px;
    left: 0;
    display: block;
    max-width: 705px;
    @media (max-width: 1440px) {
      max-width: 600px;
    }
    @media (max-width: 992px) {
      max-width: 400px;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  &__content {
    @media (max-width: 992px) {
      padding-left: 70px;
      padding-right: 70px;
    }
    @media (max-width: 830px) {
      padding: 0;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 35px;
      @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 40px;
      }
      @media (max-width: 600px) {
        gap: 50px 20px;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 130px;
    min-height: 130px;
    border: 1px solid $blue;
    border-top: 1px solid transparent;
    position: relative;
    padding: 25px;
    margin-top: 80px;
    @media (max-width: 992px) {
      margin-top: 60px;
    }
    @media (max-width: 600px) {
      margin-top: 20px;
      max-height: 85px;
      min-height: 85px;
      padding: 20px;
    }
    &::before {
      content: "";
      height: 1px;
      width: 27%;
      background-color: $blue;
      display: block;
      position: absolute;
      left: 0;
      top: -1px;
      @media (max-width: 992px) {
        width: 32%;
      }
    }
    &::after {
      content: "";
      height: 1px;
      width: 18%;
      background-color: $blue;
      display: block;
      position: absolute;
      right: 0;
      top: -1px;
      @media (max-width: 992px) {
        width: 28%;
      }
    }
    h4 {
      line-height: 125%;
      @media (max-width: 600px) {
        font-size: 16px;
      }
    }
    img {
      display: block;
      position: absolute;
      top: -65%;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: 992px) {
        max-width: 130px;
        top: -50%;
      }
      @media (max-width: 600px) {
        max-width: 60px;
        top: -40%;
      }
    }
  }
  .pink {
    border: 1px solid $pink;
    border-top: 1px solid transparent;
    &::before {
      width: 25%;
      background-color: $pink;
      @media (max-width: 992px) {
        width: 32%;
      }
    }
    &::after {
      width: 24%;
      background-color: $pink;
      @media (max-width: 992px) {
        width: 32%;
      }
    }
    img {
      @media (max-width: 992px) {
        max-width: 100px;
      }
      @media (max-width: 600px) {
        max-width: 47px;
      }
    }
  }
  .yellow {
    border: 1px solid $yellow;
    border-top: 1px solid transparent;
    &::before {
      width: 23%;
      background-color: $yellow;
      @media (max-width: 992px) {
        width: 30%;
      }
    }
    &::after {
      width: 18%;
      background-color: $yellow;
      @media (max-width: 992px) {
        width: 28%;
      }
    }
    img {
      @media (max-width: 992px) {
        max-width: 124px;
      }
      @media (max-width: 600px) {
        max-width: 60px;
      }
    }
  }
  .black {
    border: 1px solid #000;
    border-top: 1px solid transparent;
    padding-bottom: 5px;
    &::before {
      width: 23%;
      background-color: #000;
      @media (max-width: 992px) {
        width: 32%;
      }
    }
    &::after {
      width: 18%;
      background-color: #000;
      @media (max-width: 992px) {
        width: 30%;
      }
    }
    img {
      @media (max-width: 992px) {
        max-width: 100px;
      }
      @media (max-width: 600px) {
        max-width: 47px;
      }
    }
  }
}
// ---------- END GARANT ----------
// ----------------------------------------
// ---------- SERVICES ----------
.bl-services {
  padding-bottom: 200px;
  position: relative;
  z-index: 5;
  @media (max-width: 600px) {
    padding-bottom: 100px;
  }
  &__content {
    h2 {
      margin-bottom: 53px;
      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 40px;
      @media (max-width: 1200px) {
        gap: 50px 20px;
      }
      @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }
      li {
        h4 {
          position: relative;
          text-align: left;
          font-size: 20px;
          padding-left: 10px;
          padding-top: 3px;
          padding-bottom: 5px;
          &::before {
            content: "";
            width: 2px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: $pink;
          }
        }
        &:first-child {
          .bl-services__img {
            height: 200px;
            @media (max-width: 992px) {
              height: 150px;
            }
          }
        }
        &:nth-child(2) {
          .bl-services__img {
            height: 300px;
            @media (max-width: 992px) {
              height: 150px;
            }
          }
        }
        &:nth-child(3) {
          @media (max-width: 992px) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
          }
          @media (max-width: 600px) {
            grid-column-start: auto;
            grid-column-end: auto;
            grid-row-start: auto;
            grid-row-end: auto;
          }
          .bl-services__img {
            height: 200px;
            @media (max-width: 992px) {
              height: 150px;
            }
          }
        }
        &:nth-child(4) {
          .bl-services__img {
            height: 350px;
            @media (max-width: 992px) {
              height: 150px;
            }
          }
        }
        &:nth-child(5) {
          .bl-services__img {
            height: 250px;
            @media (max-width: 992px) {
              height: 150px;
            }
          }
        }
      }
    }
  }
  &__img {
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
// ---------- END SERVICES ----------
// ----------------------------------------
// ---------- ABOUT ----------
.bl-about {
  padding-top: 76px;
  padding-bottom: 132px;
  position: relative;
  @media (max-width: 600px) {
    padding-bottom: 90px;
  }
  .paint_yellow {
    position: absolute;
    right: 0;
    top: -128px;
    display: block;
    max-width: 800px;
    @media (max-width: 1440px) {
      max-width: 550px;
      top: -55px;
    }
    @media (max-width: 1200px) {
      max-width: 350px;
    }
    @media (max-width: 992px) {
      top: 0;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  &::before {
    content: "";
    display: block;
    background-color: $blue2;
    position: absolute;
    width: 100%;
    top: 20px;
    right: 0;
    bottom: 50px;
    left: 0;
    transform: skewY(2.5deg);
    @media (max-width: 600px) {
      bottom: 20px;
    }
  }
  &__content {
    position: relative;
    z-index: 5;
    h2 {
      margin-bottom: 50px;
      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
    p {
      display: block;
      max-width: 607px;
      margin: 0 auto;
      font-family: $Fut;
      font-size: 22px;
      font-weight: 300;
      line-height: 138%;
      color: #000;
      @media (max-width: 768px) {
        margin-right: 20px;
        margin-left: 20px;
      }
      @media (max-width: 600px) {
        font-size: 18px;
      }
    }
  }
}
// ---------- END ABOUT ----------
// ----------------------------------------
// ---------- FORM ----------
.bl-form {
  padding-top: 50px;
  padding-bottom: 120px;
  @media (max-width: 992px) {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  @media (max-width: 600px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  &__content {
    h2 {
      margin-bottom: 50px;
      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
    form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      max-width: 860px;
      margin: 0 auto;
      @media (max-width: 992px) {
        grid-template-columns: repeat(1, 1fr);
        max-width: 260px;
      }
      .btn-blue {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        min-width: auto;
        @media (max-width: 992px) {
          grid-column-start: auto;
          grid-column-end: auto;
          grid-row-start: auto;
          grid-row-end: auto;
        }
      }
    }
  }
}
// ---------- END FORM ----------
// ----------------------------------------

// ----------------------------------------
// ========================================
