// -----------------------------------------------------
//Variables
// fonts
$intro:'Intro',
sans-serif;
$pragmac:'PragmaticaLightC',
sans-serif;
// color 
$green: #008B58;
$blue: #13224B;
$blue_a: #8194C9;
$blue_scroll_btn: #223770;
$grey1:#F2F2F2;
$grey2: #C2C8CC;
$gradient: linear-gradient(180deg, rgba(8, 19, 46, 0.9) 0%, rgba(12, 25, 55, 0) 100%);
$gradient2: linear-gradient(0deg, rgba(8, 19, 46, 0.9) 0%, rgba(12, 25, 55, 0) 100%);
//End Variables
// -----------------------------------------------------
// ========================================
// ========================================
// BLOCK ABOUT
.bl_about__about {
    padding-top: 50px;
    // padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    z-index: 2;
    @media (max-width: 600px) {
        padding-bottom: 0px;
    }
    @media (max-width: 450px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    h2 {
        margin-bottom: 50px;
        @media (max-width: 450px) {
            margin-bottom: 20px;
        }
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 78%;
        width: 78%;
        background-color: $grey1;
        z-index: -1;
        @media (max-width: 600px) {
            width: 100%;
            height: 57%;
            bottom: 0;
        }
    }
    .about_index__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 600px) {
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column-reverse;
        }
        .about_index__text {
            max-width: 570px;
            width: 48%;
            padding-top: 50px;
            padding-bottom: 50px;
            @media (max-width: 600px) {
                width: 100%;
                padding-top: 0px;
            }
            @media (max-width: 450px) {
                padding-bottom: 20px;
            }
            h3 {
                // max-width: 460px;
                margin-bottom: 20px;
            }
            .download {
                border: 1px solid $green;
                color: $green;
                width: fit-content;
                transition: 0.3s;
                white-space: nowrap;
                &:hover {
                    opacity: 0.6;
                    transition: 0.3s;
                }
                &:after {
                    background-image: url("../img/icons/download_green.svg");
                }
            }
        }
        .about_index__img {
            max-width: 500px;
            width: 48%;
            transform: translateY(-90px);
            @media (max-width: 600px) {
                transform: translateY(0px);
                max-width: none;
                width: 100%;
                margin-bottom: 20px;
            }
            @media (max-width: 450px) {
                width: 100%;
                margin-bottom: 20px;
            }
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

// END BLOCK ABOUT
// ========================================
// ========================================
// BLOCK advantages
.bl_advantages {
    padding-top: 90px;
    padding-bottom: 50px;
    @media (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media (max-width: 767px) {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .advantages__items {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            li {
                width: 43%;
                margin-bottom: 40px;
                @media (max-width: 1366px) {
                    width: 48%;
                }
                @media (max-width: 991px) {
                    margin-bottom: 25px;
                }
                @media (max-width: 767px) {
                    width: 100%;
                }
                @media (max-width: 450px) {
                    margin-bottom: 15px;
                }
                .advantages__item {
                    padding-left: 60px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    // align-items: flex-start;
                    min-height: 40px;
                    @media (max-width: 991px) {
                        padding-left: 45px;
                        min-height: 30px;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 0;
                        min-width: 40px;
                        height: 40px;
                        border: 10px solid $green;
                        border-radius: 50%;
                        background-color: #fff;
                        margin-right: 20px;
                        @media (max-width: 991px) {
                            min-width: 30px;
                            height: 30px;
                            border: 8px solid $green;
                        }
                    }
                    h4 {
                        margin-bottom: 10px;
                        @media (max-width: 450px) {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

//End BLOCK advantages
// ========================================
// ========================================
// OUR DEVELOPMENT
.bl_our_development {
    padding-top: 90px;
    padding-bottom: 70px;
    background: url("../img/others/2_about_our_development.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    @media (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media (max-width: 767px) {
        padding-bottom: 30px;
    }
    @media (max-width: 450px) {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: rgba(8, 19, 46, 0.85);
    }
    .main_h2 {
        .bands {
            span {
                background-color: #fff;
            }
        }
    }
    h2 {
        color: #ffffff;
    }
    .our_development__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        // flex-wrap: wrap;
        @media (max-width: 1300px) {
            margin-right: 50px;
            margin-left: 50px;
        }
        .slick-track {
            @media (max-width: 600px) {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
        // .slick-prev {
        //     transition: all .3s ease;
        // }
        // .slick-prev[disabled="disabled"] {
        //     opacity: 0.3;
        // }
        // .slick-prev {
        //     display: none!important;
        // }
        .our_development__item {
            width: 24%;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            @media (max-width: 1300px) {
                padding-right: 20px;
                padding-left: 20px;
            }
            @media (max-width: 767px) {
                align-items: center;
            }
            @media (max-width: 600px) {
                padding-left: 0;
                padding-right: 0;
            }
            // &:first-child {
            //     width: 18%;
            // }
            // &:nth-child(2) {
            //     width: 25%;
            // }
            // &:nth-child(3) {
            //     width: 16%;
            // }
            // &:last-child {
            //     width: 20%;
            // }
            // @media (max-width: 991px) {
            //     width: 33%!important;
            // }
            // @media (max-width: 767px) {
            //     width: 48%!important;
            //     margin-bottom: 20px;
            // }
            // @media (max-width: 450px) {
            //     width: 100%!important;
            //     margin-bottom: 20px;
            // }
            span {
                color: #ffffff;
                font-family: $intro;
                font-weight: 900;
                font-size: 56px;
                line-height: 100%;
                display: block;
                margin-bottom: 10px;
                @media (max-width: 991px) {
                    font-size: 46px;
                }
                @media (max-width: 767px) {
                    text-align: center;
                }
            }
            p {
                color: #ffffff;
                margin-bottom: 10px;
                display: block;
                @media (max-width: 767px) {
                    text-align: center;
                }
            }
        }
        .development1994_2 {
            span {
                display: flex;
                flex-wrap: wrap;
                b {
                    color: #ffffff;
                    font-family: $intro;
                    font-weight: 900;
                    font-size: 56px;
                    line-height: 100%;
                    display: block;
                    margin-bottom: 10px;
                    @media (max-width: 991px) {
                        font-size: 46px;
                    }
                }
            }
        }
    }
}

//END OUR DEVELOPMENT
// ========================================
// ========================================
// BLOCK ABOUT INDEX about index 2
.bl_about__index_2 {
    &:before {
        left: auto;
        right: 0;
        @media (max-width: 600px) {
            width: 100%;
        }
    }
    .about_index__body {
        flex-direction: row-reverse;
        @media (max-width: 600px) {
            flex-direction: column-reverse;
        }
        .about_index__text {
            @media (max-width: 600px) {
                width: 100%;
            }
            p {
                max-width: 470px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .about_index__img {
            @media (max-width: 600px) {
                width: 100%;
                margin-bottom: 20px;
                max-width: none;
            }
        }
    }
}

//End BLOCK ABOUT INDEX about index 2
// ========================================
// ========================================