// -----------------------------------------------------
//Variables
// fonts
$intro:'Intro',
sans-serif;
$pragmac:'PragmaticaLightC',
sans-serif;
// color 
$green: #008B58;
$blue: #13224B;
$blue_a: #8194C9;
$blue_scroll_btn: #223770;
$gradient: linear-gradient(180deg, rgba(8, 19, 46, 0.9) 0%, rgba(12, 25, 55, 0) 100%);
//End Variables
// -----------------------------------------------------
.main_header {
    width: 100%;
    margin: 0 auto;
    z-index: 20;
    .header__body {
        max-width: 1440px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 80px;
        z-index: 20;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 450px) {
            height: 60px;
        }
        .header__logo {
            width: 165px;
            height: 50px;
            margin-left: 50px;
            margin-right: 10%;
            @media (max-width: 1300px) {
                margin-right: 5%;
            }
            @media (max-width: 1160px) {
                margin-right: 30px;
            }
            @media (max-width: 991px) {
                margin-left: 20px;
            }
            @media (max-width: 450px) {
                height: 40px;
            }
            a {
                display: block;
                width: inherit;
                height: inherit;
                img {
                    display: block;
                    width: auto;
                    height: 100%;
                }
            }
        }
        .header__menu {
            max-width: 674px;
            width: 100%;
            margin-right: 5%;
            @media (max-width: 1300px) {
                margin-right: 20px;
            }
            @media (max-width: 1100px) {
                max-width: 600px;
            }
            @media (max-width: 991px) {
                display: none;
            }
            ul {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: Ñenter;
                li {
                    position: relative;
                    line-height: 100%;
                    a {
                        font-family: $pragmac;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 18px;
                        color: #ffffff;
                        &:hover {
                            cursor: pointer;
                            transition: 0.3s;
                            color: $green;
                        }
                    }
                    .submenu {
                        display: none;
                        position: absolute;
                        top: 18px;
                        left: 0;
                        padding-top: 20px;
                        width: max-content;
                        // z-index: 1;
                        ul {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
                            padding: 20px;
                            background-color: rgba(255, 255, 255, 0.25);
                            li {
                                margin-bottom: 20px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                a {
                                    color: #fff;
                                    transition: 0.3s;
                                    &:hover {
                                        color: $green;
                                        transition: 0.3s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .lang__select {
            margin-right: 20px;
            position: relative;
            @media (max-width: 1100px) {
                display: none;
            }
            .lang__selected {
                &>a {
                    display: block;
                    font-family: $pragmac;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 18px;
                    position: relative;
                    padding: 5px;
                    padding-right: 12px;
                    color: #ffffff;
                    transition: 0.3s;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: 0;
                        height: 0;
                        border: 4px solid transparent;
                        border-top: 4px solid #fff;
                        transition: 0.3s;
                    }
                    &:hover {
                        cursor: pointer;
                        transition: 0.3s;
                        color: $green;
                        &:after {
                            border-top: 4px solid $green;
                            transition: 0.3s;
                        }
                    }
                }
                .lang__dropdown {
                    // transform: scale(0);
                    display: none;
                    height: 0;
                    position: absolute;
                    top: 25px;
                    padding-top: 0;
                    padding-bottom: 15px;
                    left: 0;
                    font-family: $pragmac;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 18px;
                    color: #000;
                    transition: 0.3s;
                    ul {
                        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
                        padding: 10px;
                        margin-top: 15px;
                        li {
                            padding: 5px;
                            a {
                                color: #ffffff;
                                transition: 0.3s;
                                &:hover {
                                    transition: 0.3s;
                                    cursor: pointer;
                                    color: $green;
                                }
                            }
                        }
                    }
                }
            }
            .lang__selected:hover .lang__dropdown {
                // transform: scale(1);
                display: block;
                transition: 0.3s;
            }
        }
        .header_btn {
            max-width: 266px;
            width: 100%;
            height: 100%;
            padding: 10px;
            background-color: $green;
            font-family: $pragmac;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: 0.3s;
            @media (max-width: 1100px) {
                display: none;
            }
            &:before {
                content: "";
                display: block;
                width: 18px;
                height: 20px;
                margin-right: 12px;
                background-image: url("../img/icons/user.svg");
                position: relative;
                z-index: 2;
            }
            &:hover {
                background-color: rgb(2, 94, 60);
                transition: 0.3s;
                cursor: pointer;
            }
        }
        .header__burger {
            display: none;
            @media (max-width: 1100px) {
                min-width: 40px;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: relative;
                cursor: pointer;
                z-index: 2;
                border: 3px solid #fff;
                margin-right: 20px;
                padding: 5px;
            }
            span {
                display: block;
                position: absolute;
                width: 70%;
                height: 2px;
                background-color: #fff;
                border-radius: 1px;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 1px;
                    -webkit-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;
                }
                &:after {
                    top: -8px;
                }
                &:before {
                    top: 8px;
                }
            }
        }
    }
    .header__body>.header__menu>ul>li:hover .submenu {
        display: block;
        transition: 0.3s;
    }
    .header__body_media {
        display: none;
        @media (max-width: 1100px) {
            display: block;
            position: fixed;
            z-index: 50;
            top: 0;
            bottom: 0;
            right: -100%;
            z-index: 20;
            width: 300px;
            height: 100%;
            background-color: $blue;
            padding: 20px;
            padding-top: 80px;
            padding-bottom: 40px;
            overflow: auto;
            transition: 0.5s;
        }
        @media (max-width: 500px) {
            width: 100%;
        }
        .header__hidden {
            background-color: $blue;
            position: fixed;
            top: inherit;
            right: inherit;
            z-index: 55;
            height: 78px;
            width: inherit;
        }
        .header__logo {
            display: none;
            @media (max-width: 500px) {
                display: block;
                width: auto;
                height: 40px;
                z-index: 70;
                position: fixed;
                top: inherit;
                left: inherit;
                margin-top: 20px;
            }
            a {
                @media (max-width: 500px) {
                    display: block;
                    width: inherit;
                    height: inherit;
                }
                img {
                    @media (max-width: 500px) {
                        display: block;
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
        .header__burger_close {
            @media (max-width: 1100px) {
                position: fixed;
                right: inherit;
                top: inherit;
                width: 40px;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                z-index: 70;
                border: 3px solid #fff;
                margin-right: 20px;
                margin-top: 20px;
                padding: 5px;
            }
            span {
                display: block;
                position: absolute;
                width: 70%;
                height: 2px;
                background-color: transparent;
                border-radius: 1px;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 1px;
                    transition: 0.3s;
                }
                &:after {
                    top: 0;
                    transform: rotate(45deg);
                    transition: 0.3s;
                }
                &:before {
                    top: 0;
                    transform: rotate(-45deg);
                    transition: 0.3s;
                }
            }
        }
        .header__content_media {
            overflow: hidden;
            .header__menu {
                display: none;
                @media (max-width: 991px) {
                    display: block;
                    width: 100%;
                    margin-bottom: 30px;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    li {
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            font-family: $pragmac;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 18px;
                            color: #ffffff;
                            &:focus {
                                cursor: pointer;
                                transition: 0.3s;
                                color: $green;
                            }
                        }
                        .submenu {
                            // display: none;
                            padding-left: 20px;
                            margin-top: 20px;
                            ul {
                                li {
                                    margin-bottom: 15px;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .lang__select {
                // width: 36px;
                margin-bottom: 30px;
                .lang__selected {
                    font-family: $pragmac;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 18px;
                    position: relative;
                    padding: 5px;
                    padding-right: 12px;
                    padding-left: 0;
                    color: #ffffff;
                    transition: 0.3s;
                    &:after {
                        display: none;
                        // content: '';
                        // position: absolute;
                        // top: 50%;
                        // transform: translateY(-50%);
                        // right: 0;
                        // width: 0;
                        // height: 0;
                        // border: 4px solid transparent;
                        // border-top: 4px solid #fff;
                        // transition: 0.3s;
                    }
                    &:hover {
                        cursor: pointer;
                        transition: 0.3s;
                        color: $green;
                        &:after {
                            border-top: 4px solid $green;
                            transition: 0.3s;
                        }
                    }
                }
                .lang__dropdown {
                    display: block;
                    width: 100%;
                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        width: 100%;
                        li {
                            width: 33px;
                            margin-right: 10px;
                            margin-bottom: 10px;
                            display: inline-block;
                            a {
                                display: block;
                                color: #fff;
                                padding: 5px;
                                background-color: rgba(255, 255, 255, 0.25);
                            }
                        }
                    }
                }
            }
            .header_btn {
                max-width: 266px;
                width: 100%;
                height: 100%;
                padding: 10px;
                background-color: $green;
                font-family: $pragmac;
                font-weight: bold;
                font-size: 16px;
                line-height: 18px;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: 0.3s;
                &:before {
                    content: "";
                    display: block;
                    width: 18px;
                    height: 20px;
                    margin-right: 12px;
                    background-image: url("../img/icons/user.svg");
                    position: relative;
                    z-index: 2;
                }
                &:hover {
                    background-color: rgb(2, 94, 60);
                    transition: 0.3s;
                    cursor: pointer;
                }
            }
        }
    }
    .header__body_media.active {
        right: 0;
    }
}