// -----------------------------------------------------
//Variables
@import "_variables.scss";
//End Variables
// -----------------------------------------------------
.main__contacts {
    background-color: $black_1a;
}

// ========================================
// ========================================
// BLOCK HEADER CONTACTS
.bl_header__contacts {
    padding-top: 220px;
    padding-bottom: 220px;
    @media (max-width: 767px) {
        padding-top: 170px;
        padding-bottom: 130px;
    }
    .contacts__body {
        max-width: 970px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        h2 {
            font-weight: 400;
            color: #fff;
            margin-bottom: 50px;
            display: block;
        }
        .contacts__items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }
            .contacts__left {
                max-width: 220px;
                margin-right: 40px;
                p {
                    color: #fff;
                    display: block;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: #fff;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                address {
                    span {
                        display: block;
                        font-style: normal;
                        color: #fff;
                    }
                }
            }
            .contacts__right {
                max-width: 400px;
                display: flex;
                flex-direction: column;
                @media (max-width: 767px) {
                    margin-bottom: 120px;
                }
                p {
                    color: #fff;
                    display: block;
                    margin-bottom: 50px;
                    @media (max-width: 767px) {
                        margin-bottom: 40px;
                    }
                }
                .contacts__form {
                    form {
                        .contacts__inputs {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            input {
                                width: 100%;
                                border: none;
                                background-color: transparent;
                                padding-top: 16px;
                                padding-bottom: 11px;
                                font-family: $GTAmerica;
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 120%;
                                color: $grey_e;
                                border-bottom: 1px solid $grey_e;
                                @media (max-width: 767px) {}
                                @media (max-width: 450px) {}
                                &:active, &:focus {
                                    outline: none;
                                    border-bottom: 2px solid #fff;
                                }
                            }
                             ::placeholder {
                                font-size: 14px;
                                line-height: 120%;
                                color: $grey_e;
                                @media (max-width: 767px) {}
                            }
                             :-ms-input-placeholder {
                                font-size: 12px;
                                line-height: 120%;
                                color: $grey_e;
                                @media (max-width: 767px) {}
                            }
                             ::-ms-input-placeholder {
                                font-size: 14px;
                                line-height: 120%;
                                color: $grey_e;
                                @media (max-width: 767px) {}
                            }
                        }
                        textarea {
                            width: 100%;
                            border: none;
                            background-color: transparent;
                            padding-top: 16px;
                            padding-bottom: 11px;
                            font-family: $GTAmerica;
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 120%;
                            color: $grey_e;
                            border-bottom: 1px solid $grey_e;
                            height: auto;
                            margin-bottom: 30px;
                            resize: vertical;
                            min-height: 50px;
                            &:active,
                            &:focus {
                                outline: none;
                                border-bottom: 2px solid #fff;
                            }
                            &::placeholder {
                                // color: $grey_e;
                                color: #fff;
                            }
                        }
                        button {
                            background-color: transparent;
                            font-family: $GTAmerica;
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 30px;
                            border: none;
                            color: #fff;
                            display: inline-block;
                            transition: 0.3s;
                            position: relative;
                            cursor: pointer;
                            &:before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                height: 1px;
                                width: inherit;
                                background-color: $grey_e;
                            }
                            &:active,
                            &:focus {
                                outline: none;
                            }
                            &:hover {
                                transition: 0.3s;
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }
    }
}

//END BLOCK HEADER CONTACTS
// ========================================
// ========================================