// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
// HEADER HISTORY
.bl_header__history {
  background-image: url("../img/header_bg/header_bg2.jpg");
}

// END HEADER HISTORY
// ========================================
// HISTORY
.bl_history {
  padding-top: 120px;
  padding-bottom: 120px;
  @media (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .container {
    max-width: 792px;
  }
  h3 {
    margin-bottom: 32px;
    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
  .bl_history__personal {
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 768px) {
      margin-top: 40px;
    }
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    .personal__img {
      // max-width: 92px;
      // min-width: 92px;
      // height: 92px;
      max-width: 200px;
      min-width: 200px;
      height: 200px;
      overflow: hidden;
      margin-bottom: 16px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
    figcaption {
      font-family: $Mart;
      font-size: 16px;
      line-height: 128%;
      color: $black_16;
      font-weight: 400;
      text-align: right;
      @media (max-width: 768px) {
        font-size: 14px;
      }
      span {
        margin-top: 4px;
        display: block;
        font-weight: 700;
      }
    }
  }
}
// END HISTORY
// ========================================
// HISTORY 4 IMG
.bl_history_4img {
  padding-bottom: 70px;
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
  .bl_history_4img__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
    }
    .bl_history_4img__img {
      width: 49%;
      height: 360px;
      overflow: hidden;
      margin-bottom: 48px;
      @media (max-width: 1440px) {
        height: calc(210px + (360 - 210) * ((100vw - 769px) / (1440 - 769)));
      }
      @media (max-width: 768px) {
        margin-bottom: 32px;
        width: 100%;
        height: calc(170px + (400 - 170) * ((100vw - 320px) / (768 - 320)));
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
// END HISTORY 4 IMG
// ========================================
