@import "_base.scss";
// ========================================
// ========================================
// BLOCK 404 
.bl_404 {
    justify-content: center;
    align-items: center;
    .container {
        height: inherit;
    }
    .main__404 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: inherit;
        width: inherit;
        position: relative;
        z-index: 5;
        span {
            font-family: $intro;
            font-weight: 900;
            font-size: 250px;
            line-height: 100%;
            color: #fff;
            @media (max-width: 991px) {
                font-size: 200px;
            }
            @media (max-width: 767px) {
                font-size: 150px;
            }
        }
        p {
            display: block;
            font-family: $intro;
            font-weight: 900;
            font-size: 32px;
            line-height: 100%;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 40px;
            text-align: center;
            @media (max-width: 767px) {
                font-size: 28px;
            }
        }
        .read_more__green {
            background-color: $green;
            color: #fff;
            padding: 15px 18px;
            font-weight: normal;
            min-width: 270px;
            @media (max-width: 767px) {
                // min-width: auto;
            }
            span {
                background-color: #fff;
                margin-left: 85px;
                &:before,
                &:after {
                    background-color: #fff;
                }
            }
        }
    }
}

//END BLOCK 404