// -----------------------------------------------------
//Variables
// fonts
$intro:'Intro',
sans-serif;
$pragmac:'PragmaticaLightC',
sans-serif;
// color 
$green: #008B58;
$blue: #13224B;
$blue_a: #8194C9;
$blue_scroll_btn: #223770;
$grey1:#F2F2F2;
$grey2: #C2C8CC;
$gradient: linear-gradient(180deg, rgba(8, 19, 46, 0.9) 0%, rgba(12, 25, 55, 0) 100%);
$gradient2: linear-gradient(0deg, rgba(8, 19, 46, 0.9) 0%, rgba(12, 25, 55, 0) 100%);
//End Variables
// -----------------------------------------------------
// ========================================
// ========================================
// BLOCK INDUSTRY SOLUTIONS
.industry__sections {
    padding-top: 90px;
    padding-bottom: 90px;
    @media (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media (max-width: 767px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .industry__items {
        .industry__item {
            width: 100%;
            height: 400px;
            padding: 60px 50px;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 20px;
            @media (max-width: 991px) {
                height: 350px;
                padding: 40px 25px;
            }
            @media (max-width: 767px) {
                height: 300px;
                padding: 30px 20px;
            }
            @media (max-width: 450px) {
                height: 250px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $gradient2;
                z-index: 1;
            }
            .link_img {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            h3 {
                color: #ffffff;
                position: relative;
                z-index: 3;
                max-width: 550px;
                margin-bottom: 0;
                width: fit-content;
            }
            .read_more__green {
                margin-top: 30px;
                position: relative;
                z-index: 3;
                color: #fff;
                @media (max-width: 767px) {
                    margin-top: 20px;
                }
                &:hover {
                    transition: 0.3s;
                    color: $green;
                    text-decoration: underline;
                }
                &:hover span,
                &:hover span:before,
                &:hover span:after {
                    transition: 0.3s;
                    background-color: $green;
                }
                &:hover span {
                    transition: 0.3s;
                    background-color: $green;
                }
                span {
                    background-color: #fff;
                    &:after,
                    &:before {
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

//END BLOCK INDUSTRY SOLUTIONS
// ========================================
// ========================================