/* ---------------------------------------- */
/* ----- Gilroy ----- */
/* -------------------- */
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./Gilroy-Bold.ttf") format("truetype"), url("./Gilroy-Bold.woff2") format("woff2"), url("./Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("./Gilroy-Heavy.ttf") format("truetype"), url("./Gilroy-Heavy.woff2") format("woff2"), url("./Gilroy-Heavy.woff") format("woff");
}
/* -------------------- */
/* ----- END Gilroy ----- */
/* ---------------------------------------- */
