// -----------------------------------------------------
//Variables
@import "_variables.scss";
//End Variables
// -----------------------------------------------------
// ================================================
// HEADER
.main_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 48;
    // ------------------- 
    // Header desktop 
    .header__desktop {
        border-bottom: 1px solid #ccc;
        .header__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            @media(max-width: 767px) {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            .header__logo {
                max-width: 240px;
                width: 100%;
                margin-right: 20px;
                position: relative;
                z-index: 60;
                a {
                    display: block;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
            .header__menu {
                @media(max-width: 767px) {
                    display: none;
                }
                ul {
                    display: flex;
                    flex-direction: row;
                    li {
                        margin-right: 30px;
                        a {
                            display: block;
                            color: $black1;
                            font-family: $OS;
                            font-size: 16px;
                            line-height: 120%;
                            transition: 0.3s;
                            &:hover {
                                transition: 0.3s;
                                color: $blue;
                            }
                        }
                    }
                }
            }
            .header__viber {
                width: 42px;
                height: 42px;
                @media(max-width: 767px) {
                    display: none;
                }
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: relative;
                    transition: 0.3s;
                    border-radius: 50%;
                    border: 1px solid $blue;
                    &:hover {
                        transition: 0.3s;
                        opacity: 0.5;
                    }
                    &:before {
                        content: '\f409';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        right: 0;
                        bottom: 0;
                        transform: translate(-50%, -50%);
                        width: 25px;
                        height: 25px;
                        font-family: $FA5;
                        font-size: 25px;
                        line-height: 25px;
                        font-weight: 400;
                        color: $blue;
                    }
                }
            }
            .header__burger {
                max-width: 40px;
                min-width: 40px;
                height: 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                display: none;
                z-index: 60;
                transition: 0.3s;
                @media(max-width: 767px) {
                    display: flex;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 3px;
                    width: 100%;
                    background-color: $black1;
                    border-radius: 5px;
                    display: block;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 3px;
                    width: 100%;
                    background-color: $black1;
                    border-radius: 5px;
                    display: block;
                }
                span {
                    display: block;
                    height: 3px;
                    width: 100%;
                    background-color: $black1;
                    border-radius: 5px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
            .header__burger.active {
                transform: rotate(360deg);
                transition: 0.3s;
                &:before {
                    transform: rotate(45deg);
                    top: 8.5px;
                }
                &:after {
                    transform: rotate(-45deg);
                    bottom: 8.5px;
                }
                span {
                    width: 0;
                }
            }
        }
    }
    // End Header desktop 
    // ------------------- 
    // Header Mobile
    .header__mobile {
        border-bottom: 1px solid #ccc;
        position: fixed;
        left: 100%;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        // background-color: rgba(22, 22, 247, 0.5);
        background-color: #eee;
        padding: 50px;
        padding-top: 100px;
        display: none;
        transition: 0.8s;
        @media(max-width: 767px) {
            display: block;
        }
        .header__content {
            width: 100%;
            height: 100%;
            // padding-bottom: 50px;
            .header__menu {
                margin-bottom: 50px;
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    li {
                        margin-bottom: 30px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            display: block;
                            color: $black1;
                            font-family: $OS;
                            font-size: 16px;
                            line-height: 120%;
                            transition: 0.3s;
                            &:hover {
                                transition: 0.3s;
                                color: $blue;
                            }
                        }
                    }
                }
            }
            .header__viber {
                width: 42px;
                height: 42px;
                margin: 0 auto;
                @media(max-width: 767px) {
                    //   display: none;
                }
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: relative;
                    transition: 0.3s;
                    border-radius: 50%;
                    border: 1px solid $blue;
                    &:hover {
                        transition: 0.3s;
                        opacity: 0.5;
                    }
                    &:before {
                        content: '\f409';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        right: 0;
                        bottom: 0;
                        transform: translate(-50%, -50%);
                        width: 25px;
                        height: 25px;
                        font-family: $FA5;
                        font-size: 25px;
                        line-height: 25px;
                        font-weight: 400;
                        color: $blue;
                    }
                }
            }
        }
    }
    .header__mobile.active {
        right: 0;
        left: 0;
        transition: 0.8s;
    }
    // End Header Mobile
    // ------------------- 
}

// END HEADER
// ================================================