// ========================================
//=== Variables ===
// ---fonts---
$TrojanPro3:'TrajanPro3',
sans-serif;
$Pl_dis:'Playfair Display',
serif;
$Pl_dis2:'Playfair Display SC',
serif;
$SourceSansPro:'SourceSansPro',
sans-serif;
$OpenSans: 'Open Sans',
sans-serif;
// ---colors--- 
$red_6a: #6a2e2e;
$green_63: #636b4c;
$black_31:#313131;
$black_14:#141414;
$black_1a:#1a171b;
$blue_4b:#4b5d61;
$fiolet_60:#605563;
$grey_bf:#bfb49f;
$yellow_cb:#cbb172;
$yellow_cb9:#cbbfa9;
$yellow_c8:#c8ac69;
//=== End Variables ===
// ========================================