// ========================================
// ---------- VARIABLES ----------
@import "__variables.scss";
// ---------- END VARIABLES ----------
// ========================================
// ---------- CONTACT ----------
// ----------------------------------------
.bl-contact {
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  &__contacts {
    width: 50%;
    padding-right: 132px;
    @media (max-width: 1300px) {
      padding-right: 60px;
    }
    @media (max-width: 1024px) {
      padding-right: 40px;
    }
    @media (max-width: 992px) {
      padding: 0;
      width: 100%;
      margin-bottom: 60px;
    }
    .header__soc-networks {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;
      @media (max-width: 768px) {
        margin-bottom: 30px;
      }
      // a {
      //   // border: 1px solid $dark_txt;
      // }
    }
  }
  &__time {
    p {
      color: $grey_txt;
    }
  }

  &__map {
    height: 400px;
    width: 50%;
    background-color: #ccc;
    border-radius: 30px;
    overflow: hidden;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    margin-bottom: 20px;
    gap: 20px;
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
  &__address {
    grid-column-start: 1;
    grid-column-end: 3;
    @media (max-width: 480px) {
      grid-column-start: auto;
      grid-column-end: auto;
    }
  }
  address {
    font-family: $G;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }
  .header__contact {
    margin: 0;
    .header__mail {
      font-size: 22px;
    }
  }
}

// ----------------------------------------
// ---------- END CONTACT ----------
// ========================================
