// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
.main_footer {
  // display: none;
  .footer_top {
    padding-top: 90px;
    padding-bottom: 60px;
    background-image: url("../img/others/footer_bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
      padding-top: 30px;
      padding-bottom: 40px;
    }
    .footer_top__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: 768px) {
        flex-direction: column;
        // align-items: center;
      }
      .footer_top__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 60px;
        @media (max-width: 768px) {
          margin-right: 0;
          max-width: 445px;
          width: 100%;
          margin: 0 auto;
        }
        .footer__logo {
          max-width: 380px;
          width: 100%;
          margin-bottom: 50px;
          @media (max-width: 768px) {
            max-width: 150px;
            margin-bottom: 20px;
          }
          a {
            display: block;
            width: 100%;
            transition: 0.3s;

            // &:hover {
            //   transition: 0.3s;
            //   opacity: 0.6;
            // }
            img {
              display: block;
              width: 100%;
            }
          }
        }
        .footer_menu {
          margin-bottom: 30px;
          @media (max-width: 768px) {
            margin-bottom: 40px;
          }
          ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            li {
              margin-bottom: 15px;
              @media (max-width: 768px) {
                margin-bottom: 12px;
              }
              &:last-child {
                margin-bottom: 0;
              }
              a {
                display: block;
                font-size: 20px;
                font-family: $Rob;
                text-decoration: underline;
                color: #fff;
                font-weight: 400;
                transition: 0.3s;
                @media (max-width: 768px) {
                  font-size: 16px;
                }

                &:hover {
                  color: #ffb81b;
                  transition: 0.3s;
                }
              }
            }
          }
        }
        .footer_text__desktop {
          @media (max-width: 768px) {
            margin-bottom: 20px;
          }
          @media (max-width: 425px) {
            display: none;
          }
          p {
            display: block;
            margin-bottom: 15px;
            font-family: $Rob;
            font-size: 16px;
            line-height: 17px;
            font-weight: 400;
            line-height: normal;
            color: #fff;
            &:first-child {
              color: #ffb81b;
              font-weight: bold;
            }
          }
        }
      }
      .footer_top__form {
        border-radius: 5px;
        overflow: hidden;
        max-width: 445px;
        @media (max-width: 768px) {
          margin: 0 auto;
        }
        @media (max-width: 425px) {
          margin-bottom: 40px;
        }

        .footer__form {
          width: 100%;
          border: 10px solid #ffb81b;
          background-color: rgba(146, 153, 147, 0.6);
          padding: 25px;
          @media (max-width: 425px) {
            background-color: transparent;
            border: none;
            padding: 0;
          }
          form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 5;
            h3 {
              display: block;
              font-family: $Rob;
              font-size: 20px;
              font-weight: bold;
              line-height: normal;
              color: #fff;
              text-align: center;
              margin-bottom: 45px;
              @media (max-width: 425px) {
                display: none;
              }
            }
            > input {
              padding: 15px 30px;
              font-family: $Rob;
              font-size: 16px;
              color: #000;
              line-height: normal;
              font-weight: bold;
              font-style: italic;
              background-color: transparent;
              width: 100%;
              border: 2px solid #fff;
              border-radius: 5px;
              margin-bottom: 15px;
              outline: none;
              &:focus,
              &:active {
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
              }
              @media (max-width: 425px) {
                // max-width: 250px;
                color: #fff;
              }
            }
            textarea {
              padding: 15px 30px;
              font-family: $Rob;
              font-size: 16px;
              color: #000;
              line-height: normal;
              font-weight: bold;
              font-style: italic;
              background-color: transparent;
              width: 100%;
              border: 2px solid #fff;
              border-radius: 5px;
              margin-bottom: 30px;
              outline: none;
              min-height: 80px;
              resize: vertical;
              @media (max-width: 425px) {
                color: #fff;
              }
              &:focus,
              &:active {
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
              }
            }
            ::placeholder {
              @media (max-width: 425px) {
                color: #fff;
              }
            }
            > p {
              font-family: $Rob;
              color: #fff;
              font-size: 13px;
              font-style: italic;
              display: block;
              text-align: center;
              margin-bottom: 30px;
              line-height: normal;
            }
            button {
              width: 100%;
              margin-bottom: 18px;
              outline: none;
              max-width: 300px;
              &:focus,
              &:active {
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
              }
              @media (max-width: 425px) {
                max-width: 250px;
                font-size: 15px;
                max-width: none;
                width: 100%;
              }
            }
            label {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: flex-start;
              position: relative;
              outline: none;
              width: 100%;
              &:hover {
                cursor: pointer;
              }

              input {
                position: absolute;
                left: 3px;
                top: 0px;
                opacity: 0;
                // width: 0;
                // height: 0;
                &:checked + span:before {
                  opacity: 1;
                }
              }
              span {
                max-width: 17px;
                min-width: 17px;
                height: 17px;
                position: relative;
                background-color: $yellow1;
                border-radius: 2px;
                margin-right: 10px;
                display: block;

                &:before {
                  content: "";
                  width: 70%;
                  height: 70%;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  background-image: url("../img/icons/check_form.svg");
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center center;
                  opacity: 0;
                  transition: 0.3s;
                }
              }
              p {
                font-size: 12px;
                font-family: $Mont;
                font-weight: 300;
                line-height: normal;
                color: #fff;
                text-align: left;
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .footer_text__mobile {
        display: none;
        @media (max-width: 425px) {
          display: block;
        }
        p {
          display: block;
          margin-bottom: 12px;
          font-family: $Rob;
          font-size: 14px;
          line-height: 17px;
          font-weight: 300;
          line-height: normal;
          color: #fff;
          &:first-child {
            color: #ffb81b;
            font-weight: bold;
          }
        }
      }
    }
  }
  .footer_bottom {
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 50px;
    @media (max-width: 768px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .footer_bottom__desk {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      > p {
        color: #fff;
        font-family: $Rob;
        font-size: 16px;
        line-height: 105%;
        font-weight: 300;
        display: block;
        @media (max-width: 768px) {
          font-size: 14px;
          text-align: center;
          margin-bottom: 20px;
          line-height: 150%;
        }
      }
      > a {
        display: block;
        color: #fff;
        text-decoration: underline;
        font-family: $Rob;
        font-size: 16px;
        line-height: 105%;
        font-weight: 400;
        @media (max-width: 768px) {
          // display: none;
        }
      }
      .footer_bottom__mobile {
        display: none;
        @media (max-width: 768px) {
          // display: block;

          p {
            color: #fff;
            font-family: $Rob;
            font-size: 14px;
            line-height: 105%;
            font-weight: 300;
            display: block;
            text-align: center;
            a {
              color: #fff;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
// ========================================
