// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
// ========================================
// HEADER BLOCK
.bl_header_about {
    min-height: 783px;
    background-image: url("../img/header/about_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 120px;
    position: relative;
    @media (max-width: 767px) {
        padding-top: 160px;
        padding-bottom: 90px;
    }
    @media (max-width: 400px) {
        padding-top: 250px;
    }
    .about_bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .bl_header__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 550px;
        position: relative;
        z-index: 10;
        .bl_header__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            @media (max-width: 767px) {
                align-items: flex-start;
            }
            h1 {
                color: #fff;
                margin-bottom: 35px;
                @media (max-width: 767px) {
                    text-align: left;
                    margin-bottom: 30px;
                }
            }
            p {
                margin-bottom: 10px;
                color: #fff;
                text-align: center;
                max-width: 860px;
                line-height: 150%;
                @media (max-width: 767px) {
                    text-align: left;
                }
            }
        }
    }
}

//END HEADER BLOCK
// ========================================
// ========================================
// BLOCK PERSONS
.bl_persons {
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 30px;
    @media (max-width: 767px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .bl_persons__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .bl_persons__item {
            width: 23.5%;
            position: relative;
            margin-bottom: 70px;
            padding-bottom: 13px;
            @media (max-width: 991px) {
                width: 48%;
            }
            @media (max-width: 450px) {
                width: 100%;
                margin-bottom: 50px;
            }
            &:last-child {
                @media (max-width: 450px) {
                    margin-bottom: 0;
                }
            }
            .bl_persons__img {
                width: 100%;
                height: 280px;
                overflow: hidden;
                border-radius: 20px;
                box-shadow: 0 0 60px rgba(171, 199, 226, 0.9);
                @media (max-width: 1366px) and (min-width: 992px) {
                    height: calc(210px + (280 - 210) * ((100vw - 991px) / (1366 - 991)));
                }
                @media (max-width: 767px) and (min-width: 451px) {
                    height: calc(210px + (280 - 210) * ((100vw - 451px) / (767 - 451)));
                }
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .bl_persons__miniblock {
                position: absolute;
                bottom: 0;
                right: 15px;
                left: 15px;
                background-color: $blue;
                border-radius: 5px;
                padding: 14px 18px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .bl_persons__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    h4 {
                        display: block;
                        font-family: $Gibson;
                        font-size: 15px;
                        line-height: 120%;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #fff;
                        letter-spacing: 0.5px;
                    }
                    p {
                        font-family: $SF;
                        font-size: 11px;
                        line-height: 120%;
                        color: #fff;
                    }
                }
                .bl_persons__soc {
                    width: 30px;
                    height: 30px;
                    // border-left: 1px solid #418ed3;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-end;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 20px;
                        background-color: #418ed3;
                    }
                    .soc_in {
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: relative;
                        transition: 0.3s;
                        &:before {
                            content: "\f0e1";
                            position: absolute;
                            color: #fff;
                            right: 0;
                            bottom: 0;
                            font-family: $font5;
                            font-size: 20px;
                            font-weight: 900;
                            line-height: 100%;
                            width: 100%;
                            height: 100%;
                        }
                        &:hover {
                            transition: 0.3s;
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}

// END BLOCK PERSONS
// ========================================
// ========================================
// JOIN TEAM
.bl_join_team {
    padding-top: 55px;
    padding-bottom: 130px;
    @media (max-width: 767px) {
        padding-bottom: 70px;
    }
    .bl_join_team__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .bl_join_team__top {
            display: flex;
            flex-direction: column;
            max-width: 670px;
            margin: 0 auto;
            margin-bottom: 70px;
            @media (max-width: 767px) {
                margin-bottom: 40px;
            }
            h2 {
                margin-bottom: 20px;
                @media (max-width: 767px) {
                    text-align: left;
                }
            }
            p {
                line-height: 30px;
                text-align: center;
                @media (max-width: 767px) {
                    text-align: left;
                }
            }
        }
        .bl_join_team__items {
            display: flex;
            flex-direction: column;
            .bl_join_team__item {
                padding: 45px;
                padding-left: 80px;
                box-shadow: 0 0 60px rgba(111, 118, 140, 0.2);
                margin-bottom: 40px;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 991px) {
                    padding-left: 45px;
                }
                @media (max-width: 767px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                @media (max-width: 374px) {
                    padding: 40px 30px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                .bl_join_team__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-right: 40px;
                    @media (max-width: 767px) {
                        margin-right: 0;
                        margin-bottom: 35px;
                    }
                    h3 {
                        margin-bottom: 15px;
                    }
                    p {
                        // height: 80px;
                        // overflow: hidden;
                        line-height: 30px;
                    }
                }
                >a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 23px;
                    background-color: $blue;
                    border-radius: 5px;
                    min-width: 240px;
                    font-family: $Gibson;
                    font-size: 20px;
                    font-weight: 900;
                    line-height: 100%;
                    color: #fff;
                    @media (max-width: 767px) {
                        padding: 15px;
                    }
                    @media (max-width: 450px) {
                        min-width: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// END JOIN TEAM
// ========================================
// ========================================
// BLOCK IN THE MEDIA
.bl_in_the_media {
    padding-top: 70px;
    padding-bottom: 45px;
    background-color: #fafafb;
    .bl_in_the_media__content {
        h2 {
            margin-bottom: 50px;
        }
        .bl_in_the_media__items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            margin-bottom: 70px;
            @media (max-width: 991px) {
                margin-bottom: 90px;
            }
            .slick-dots {
                bottom: -40px;
            }
            .bl_in_the_media__item {
                width: 48%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                .bl_in_the_media__img {
                    height: 400px;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 6px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }
                .bl_in_the_media__text {
                    // width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-right: 35px;
                    margin-left: 35px;
                    background-color: #fff;
                    padding: 35px 50px;
                    padding-bottom: 60px;
                    position: relative;
                    z-index: 10;
                    border-radius: 6px;
                    margin-top: -150px;
                    @media (max-width: 991px) {
                        // margin-top: -50px;
                    }
                    @media (max-width: 767px) {
                        width: 100%;
                        margin-top: -50px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                    @media (max-width: 374px) {
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-bottom: 30px;
                    }
                    .bl_in_the_media__title {
                        margin-bottom: 20px;
                        a {
                            display: block;
                            margin-bottom: 10px;
                            font-family: $SF;
                            color: $orange;
                            font-size: 16px;
                            line-height: 120%;
                        }
                        h3 {
                            margin-bottom: 8px;
                        }
                        p {
                            span {
                                font-family: $Gibson;
                                font-weight: 300;
                                color: #6f768c;
                                font-size: 16px;
                                line-height: 120%;
                            }
                        }
                    }
                    >p {
                        margin-bottom: 25px;
                        line-height: 150%;
                    }
                    .read_more {
                        display: block;
                        color: $blue;
                        font-size: 20px;
                        font-family: $Gibson;
                        font-weight: 900;
                        @media (max-width: 991px) {}
                        &:hover {
                            text-decoration: underline;
                        }
                        @media (max-width: 767px) {
                            padding: 20px 60px;
                            border-radius: 3px;
                            background-color: $blue;
                            color: #fff;
                        }
                    }
                }
            }
        }
        >a {
            display: block;
            color: $blue;
            font-size: 20px;
            font-family: $Gibson;
            font-weight: 900;
            border-radius: 3px;
            background-color: $blue;
            color: #fff;
            padding: 20px 60px;
            margin: 0 auto;
            width: fit-content;
            &:hover {
                text-decoration: underline;
            }
            @media (max-width: 767px) {}
        }
    }
}

// END BLOCK IN THE MEDIA
// ========================================
// ========================================