// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
// BLOCK HEADER
.bl_header {
  position: relative;
  z-index: 50;
  min-height: 500px;
  background-color: #ccc;
  background-image: url("../img/bg/bg_header_home2.png");
  background-repeat: repeat;
  background-size: 100% auto;
  background-position: center center;
  padding-top: 170px;
  padding-bottom: 90px;
  position: relative;
  @media (max-width: 768px) {
    padding-top: 105px;
    padding-bottom: 50px;
  }
  @media (max-width: 600px) {
    overflow: hidden;
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 930px;
    background-image: url("../img/bg/bg_header_home.png");
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    @media (max-width: 768px) {
      height: 800px;
    }
    @media (max-width: 390px) {
      height: 56.5%;
    }
  }
  .bl_header__content {
    position: relative;
    z-index: 5;
  }
  .bl_header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;

    @media (max-width: 992px) {
      flex-direction: column;
    }
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
    h1 {
      width: 45%;
      @media (max-width: 992px) {
        width: 100%;
        margin-bottom: 60px;
        letter-spacing: -0.1px;
      }
    }
    .top__right {
      width: 50%;
      margin-top: 6px;
      @media (max-width: 992px) {
        width: 100%;
      }
      p {
        font-family: $HelvEx;
        font-weight: 300;
        font-size: 32px;
        line-height: 52px;
        color: #fff;
        margin-bottom: 43px;
        display: block;
        max-width: 700px;
        letter-spacing: 0px;
        @media (max-width: 1440px) {
          font-size: 28px;
          line-height: 46px;
        }
        @media (max-width: 768px) {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 45px;
        }
      }
      .trial_p {
        font-size: 14px;
        line-height: 16px;
        color: #778cac;
        font-family: $Helv;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 0;
        letter-spacing: 0.2px;
        @media (max-width: 768px) {
          font-size: 10px;
          line-height: 12px;
        }
      }
      .top__right__btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          margin-bottom: 10px;
        }
        @media (max-width: 375px) {
          flex-wrap: wrap;
          gap: 30px;
        }
        .btn_free_trial {
          margin-right: 60px;
          @media (max-width: 768px) {
            margin-right: 30px;
          }
        }
      }
    }
  }
  .bl_header__center {
    // display: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
    @media (max-width: 768px) {
      // margin-bottom: 60px;
    }
    .notebook {
      width: 60%;
      position: relative;
      @media (max-width: 768px) {
        width: 80%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }

      .notebook__antenna {
        position: absolute;
        bottom: 0;
        width: 40px;
        height: 33px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          li {
            transform: rotate(180deg);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            opacity: 0;
            animation-duration: 1.5s;

            &:first-child {
              height: 7px;
              width: 7px;
              animation-name: antenna1;
              animation-delay: 0.2s;
              transition: 0.3s;
              animation-iteration-count: infinite;
            }
            &:nth-child(2) {
              height: 7px;
              width: 17px;
              animation-name: antenna1;
              animation-delay: 0.4s;
              transition: 0.3s;
              animation-iteration-count: infinite;
            }
            &:nth-child(3) {
              height: 7px;
              width: 29px;
              animation-name: antenna1;
              animation-delay: 0.6s;
              transition: 0.3s;
              animation-iteration-count: infinite;
            }
            &:nth-child(4) {
              height: 7px;
              width: 43px;
              animation-name: antenna1;
              animation-delay: 0.8s;
              transition: 0.3s;
              animation-iteration-count: infinite;
            }

            svg {
              @media (max-width: 768px) {
                fill: #141414;
              }
              path {
                @media (max-width: 768px) {
                  fill: #141414;
                }
              }
              g {
                @media (max-width: 768px) {
                  fill: #141414;
                }
                ellipse {
                  @media (max-width: 768px) {
                    fill: #141414;
                  }
                }
              }
            }
          }
        }
        @keyframes antenna1 {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
      .antenna__left {
        right: 30%;
        bottom: 0;
        @media (max-width: 1440px) {
          bottom: -20px;
        }
        @media (max-width: 768px) {
          right: 50%;
          transform: translateX(50%);
        }
      }
      .antenna__right {
        bottom: 0px;
        left: 30%;
        @media (max-width: 1440px) {
          bottom: -20px;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
      &::before {
        content: "";
        display: block;
        width: 40px;
        height: 33px;
        background-image: url("../img/home/wifi.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0px;
        left: 30%;
        display: none;
        @media (max-width: 1440px) {
          bottom: -20px;
        }
        @media (max-width: 768px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &::after {
        content: "";
        display: block;
        width: 40px;
        height: 33px;
        background-image: url("../img/home/wifi.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0px;
        right: 30%;
        display: none;
        @media (max-width: 1440px) {
          bottom: -20px;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
      img {
        width: 100%;
      }
    }
    .safari_img {
      height: 356px;
      width: 20%;
      position: relative;
      z-index: 5;
      @media (max-width: 768px) {
        height: auto;
        width: 10%;
      }
      @media (max-width: 600px) {
        width: 1%;
      }
      .img_block {
        display: block;
        position: absolute;
        height: 100%;
        width: 187%;
        display: flex;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: 768px) {
          width: 250px;
        }
        @media (max-width: 600px) {
          width: 180px;
        }
        @media (max-width: 390px) {
          width: 160px;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 70px;
          height: 70px;
          background-image: url("../img/home/arrow.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          @media (max-width: 768px) {
            width: 30px;
            height: 30px;
          }
        }
        img {
          display: block;
          // height: 100%;
        }
      }
    }
    .safari_left {
      .img_block {
        left: 0;
        justify-content: flex-start;
        @media (max-width: 768px) {
          left: -50px;
        }
        @media (max-width: 600px) {
          left: -80px;
        }
        &::before {
          right: -18%;
          top: 50%;
        }
      }
    }
    .safari_right {
      .img_block {
        right: 0;
        justify-content: flex-end;
        @media (max-width: 768px) {
          right: -50px;
        }
        @media (max-width: 600px) {
          right: -80px;
        }
        &::before {
          left: -20%;
          top: 50%;
          transform: rotate(180deg);
        }
      }
    }
  }
  .bl_header__bottom {
    // display: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .bottom__text {
      max-width: 394px;
      padding-left: 35px;
      @media (max-width: 1024px) {
        padding-left: 0;
      }
      @media (max-width: 768px) {
        margin-bottom: 45px;
        max-width: none;
        padding-left: 0;
      }
      &:last-child {
        padding-left: 0;
        padding-right: 0;
        @media (max-width: 768px) {
          margin-bottom: 0;
        }
        p {
          @media (max-width: 390px) {
            max-width: 284px;
          }
        }
      }
      h3 {
        font-size: 24px;
        line-height: 44px;
        font-family: $HelvEx;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 17px;
        @media (max-width: 768px) {
          margin-bottom: 20px;
          font-size: 20px;
          line-height: 30px;
        }
      }
      p {
        // font-size: 22px;
        line-height: 140%;
        @media (max-width: 768px) {
          letter-spacing: 0;
        }
        a {
          color: $blue;
        }
      }
    }
    .bottom__sliders {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      max-width: 730px;
      margin-right: 20px;
      margin-left: 20px;
      @media (max-width: 1440px) {
        max-width: 600px;
      }
      @media (max-width: 1200px) {
        max-width: 320px;
        flex-direction: column;
        justify-content: flex-start;
      }
      @media (max-width: 768px) {
        order: -1;
        margin-left: 0;
        margin-right: 0;
        max-width: none;
        width: 100%;
        margin-bottom: 45px;
      }
      .bottom__slides {
        width: 49%;
        @media (max-width: 1200px) {
          width: 100%;
        }

        &:first-child {
          @media (max-width: 1200px) {
            margin-bottom: 20px;
          }
          @media (max-width: 768px) {
            display: none;
          }
        }
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              height: 207px;
              overflow: hidden;
              background-image: url("../img/home/slide_img_border.png");
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-position: center center;
              padding: 5px;
              @media (max-width: 1440px) {
                height: 167px;
              }
              @media (max-width: 768px) {
                height: auto;
              }
              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
              picture {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }
      }
    }
  }
}
// END BLOCK HEADER
// ========================================
// VIDEO
.bl_video {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/bg/bg_header_home3.png");
  background-repeat: repeat;
  background-size: 100% auto;
  background-position: center center;
  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  @media (max-width: 390px) {
    background-size: auto;
  }
  .bl_video__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
  .bl_video__video {
    position: relative;
    width: 56%;
    height: fit-content;
    @media (max-width: 1200px) {
      width: 100%;
      max-width: 930px;
      margin-bottom: 60px;
    }
    @media (max-width: 768px) {
      margin-bottom: 45px;
    }

    .video {
      position: relative;
      z-index: 0;
      width: 100%;
      video {
        width: 100%;
        display: block;
      }
    }
    .video_img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-image: url("../img/home/video_bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn_play_video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 308px;
      height: 308px;
      border: 0;
      padding: 130px;
      background: transparent radial-gradient(closest-side at 50% 50%, #5756a4 0%, #5756a400 100%) 0% 0% no-repeat
        padding-box;
      transition: 0.3s;
      @media (max-width: 768px) {
        width: 200px;
        height: 200px;
        padding: 80px;
      }
      @media (max-width: 375px) {
        width: 150px;
        height: 150px;
        padding: 55px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        &:hover {
          transition: 0.3s;
          opacity: 0.6;
        }
      }
    }
  }
  .bl_video__text {
    width: 36.8%;
    @media (max-width: 1200px) {
      width: 100%;
    }
    h2 {
      margin-bottom: 36px;
    }
    p {
      display: block;
      margin-bottom: 49px;
      max-width: 510px;
      @media (max-width: 1200px) {
        max-width: none;
      }
      @media (max-width: 768px) {
        margin-bottom: 45px;
      }
      @media (max-width: 390px) {
        max-width: 301px;
      }
    }
  }
}
// END VIDEO
// ========================================
// TICKER
.bl_ticker {
  background-color: #141414;
  margin-top: -2px;
  padding-bottom: 60px;
  @media (max-width: 768px) {
    padding-bottom: 40px;
  }
}
.bl_ticker__slides {
  .swiper {
    overflow: inherit;
    .swiper-wrapper {
      transition-timing-function: linear;
      .swiper-slide {
        width: 540px;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        @media (max-width: 768px) {
          width: 310px;
        }
        &:last-child {
          border-right: 1px solid #fff;
        }
        .bl_ticker__title {
          padding: 20px 22px;
          border-bottom: 1px solid #fff;
          height: auto;
          @media (max-width: 768px) {
            padding: 8px 13px;
          }

          h4 {
            font-family: $HelvEx;
            font-size: 22px;
            line-height: 32px;
            font-weight: 300;
            padding-left: 26px;
            position: relative;
            color: #fff;
            display: block;
            @media (max-width: 768px) {
              font-size: 12px;
              line-height: 18px;
              padding-left: 18px;
            }
            &::before {
              content: "";
              display: block;
              width: 11px;
              height: 11px;
              border-radius: 50%;
              background-color: #fff;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              @media (max-width: 768px) {
                width: 7px;
                height: 7px;
              }
            }
          }
        }

        .bl_ticker__img {
          padding: 14px 22px;
          height: 350px;
          @media (max-width: 768px) {
            height: 210px;
            padding: 8px 13px;
          }
          .img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
    }
  }
}
// END TICKER
// ========================================
// HARDWARE
.bl_hardware {
  background-image: url("../img/bg/bg_hardware.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 95px;
  @media (max-width: 768px) {
    padding-top: 45px;
    background-image: url("../img/bg/bg_hardware_mob.png");
  }
  .container {
    @media (max-width: 500px) {
      padding: 0;
    }
  }
  .bl_hardware__content {
    h2 {
      margin-bottom: 92px;
      @media (max-width: 768px) {
        margin-bottom: 45px;
      }
      @media (max-width: 500px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (max-width: 375px) {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
      }
    }
  }
  .bl_hardware__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    .bl_hardware__item {
      width: 50%;
      display: flex;
      flex-direction: column;
      @media (max-width: 992px) {
        width: 100%;
      }
      &:first-child {
        .item__body {
          padding-right: 120px;
          padding-top: 60px;
          padding-bottom: 100px;
          border-right: 1px solid $black;
          @media (max-width: 1440px) {
            padding-right: 60px;
          }
          @media (max-width: 1200px) {
            padding-right: 45px;
          }
          @media (max-width: 992px) {
            border: 0;
            padding-right: 0;
          }
          @media (max-width: 768px) {
            padding-top: 45px;
            padding-bottom: 60px;
          }
          &::before {
            width: 200%;
            right: 0;
            @media (max-width: 992px) {
              right: -50%;
            }
          }
        }
      }
      &:last-child {
        h3 {
          padding-left: 120px;
          @media (max-width: 1440px) {
            padding-left: 0;
          }
          @media (max-width: 500px) {
            padding-left: 30px;
          }
          @media (max-width: 375px) {
            padding-left: 20px;
          }
        }
        .item__body {
          padding-left: 120px;
          padding-top: 60px;
          padding-bottom: 100px;
          @media (max-width: 1440px) {
            padding-left: 60px;
          }
          @media (max-width: 1200px) {
            padding-left: 45px;
          }
          @media (max-width: 992px) {
            border: 0;
            padding-left: 0;
          }
          @media (max-width: 768px) {
            padding-top: 45px;
            padding-bottom: 60px;
          }
          &::before {
            left: 0;
            width: 200%;
            @media (max-width: 992px) {
              left: -50%;
            }
          }
        }
      }
      h3 {
        display: block;
        font-family: $HelvEx;
        font-size: 44px;
        line-height: 44px;
        font-weight: 300;
        color: $black;
        margin-bottom: 63px;
        height: 43px;
        @media (max-width: 1200px) {
          font-size: 34px;
        }
        @media (max-width: 768px) {
          font-size: 24px;
          margin-bottom: 25px;
          height: auto;
        }
        @media (max-width: 500px) {
          padding-left: 30px;
          padding-right: 30px;
        }
        @media (max-width: 375px) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .item__body {
      position: relative;
      height: 100%;
      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: $black;
        position: absolute;
        top: 0;
      }
      > p {
        display: block;
        margin-bottom: 26px;
        @media (max-width: 768px) {
          margin-bottom: 45px;
        }
        @media (max-width: 500px) {
          padding-left: 30px;
          padding-right: 30px;
        }
        @media (max-width: 375px) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .item__img {
      height: 460px;
      margin-bottom: 64px;
      overflow: hidden;
      @media (max-width: 1830px) {
        height: calc(263px + (460 - 263) * ((100vw - 993px) / (1830 - 993)));
      }
      @media (max-width: 992px) {
        // height: calc(225px + (580 - 225) * ((100vw - 320px) / (992 - 320)));
        width: 100%;
        height: auto;
      }
      @media (max-width: 768px) {
        margin-bottom: 45px;
      }
      @media (max-width: 500px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (max-width: 375px) {
        padding-left: 20px;
        padding-right: 20px;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    .item__data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid $black;
      padding-bottom: 30px;
      margin-bottom: 30px;
      @media (max-width: 1200px) {
        flex-direction: column;
      }
      @media (max-width: 992px) {
        flex-direction: row;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 45px;
      }
      @media (max-width: 500px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (max-width: 375px) {
        padding-left: 20px;
        padding-right: 20px;
      }
      h4 {
        font-family: $HelvEx;
        font-size: 34px;
        line-height: 100%;
        font-weight: 400;
        color: $black;
        margin-right: 20px;
        @media (max-width: 1200px) {
          margin-right: 0;
          margin-bottom: 25px;
        }
        @media (max-width: 992px) {
          margin-bottom: 0;
          margin-right: 20px;
        }
        @media (max-width: 768px) {
          margin-bottom: 25px;
          margin-right: 0;
          font-size: 24px;
        }
      }
      .item__data__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 768px) {
          justify-content: space-between;
        }
        .price {
          font-family: $HelvEx;
          font-size: 34px;
          line-height: 100%;
          font-weight: 500;
          color: $black;
          white-space: nowrap;
          margin-right: 45px;
          @media (max-width: 768px) {
            margin-right: 20px;
            font-size: 24px;
          }
        }
      }
    }
    .item__table {
      .table__th {
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          li {
            width: 25%;
            border-left: 1px solid $black;
            border-top: 1px solid $black;
            padding: 16px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $HelvEx;
            font-size: 22px;
            line-height: 32px;
            font-weight: 400;
            color: $black;
            @media (max-width: 1440px) {
              font-size: 20px;
              line-height: 28px;
            }
            @media (max-width: 768px) {
              font-size: 16px;
              line-height: 100%;
            }
            &:first-child {
              border-top-left-radius: 3px;
              // margin-right: -1px;
              @media (max-width: 1440px) {
                margin-right: -1px;
              }
            }
            &:last-child {
              border-top-right-radius: 3px;
              border-right: 1px solid $black;
            }
          }
        }
      }
      .table__td {
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          border-bottom: 1px solid $black;
          border-right: 1px solid $black;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;

          li {
            width: 50%;
            border-left: 1px solid $black;
            border-top: 1px solid $black;
            padding: 16px 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: $HelvEx;
            font-size: 22px;
            line-height: 32px;
            font-weight: 300;
            color: $black;
            position: relative;
            @media (max-width: 1200px) {
              padding: 20px 15px;
            }
            @media (max-width: 768px) {
              font-size: 16px;
              line-height: 100%;
              justify-content: center;
            }
            @media (max-width: 390px) {
              padding-left: 20px;
              justify-content: flex-start;
            }
            &::before {
              content: "";
              display: block;
              min-width: 11px;
              max-width: 11px;
              height: 11px;
              border-radius: 50%;
              background-color: $black;
              margin-right: 30px;
              @media (max-width: 1200px) {
                margin-right: 15px;
              }
              @media (max-width: 768px) {
                min-width: 7px;
                max-width: 7px;
                height: 7px;
              }
            }
          }
        }
      }
      .table__td_2 {
        ul {
          border-top-right-radius: 3px;
          li {
            &:first-child {
              border-top-left-radius: 3px;
            }
            &:nth-child(2) {
              border-top-right-radius: 3px;
            }
          }
        }
      }
    }
    .item__bottom {
      margin-top: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media (max-width: 500px) {
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
      }
      @media (max-width: 375px) {
        padding-left: 20px;
        padding-right: 20px;
      }
      > p {
        font-family: $HelvEx;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.2px;
        font-weight: 500;
        color: $black;
        margin-right: 20px;
        letter-spacing: 0.4px;
        @media (max-width: 768px) {
          font-size: 16px;
          line-height: 100%;
        }
        @media (max-width: 500px) {
          margin-bottom: 25px;
          margin-right: 0;
        }
      }
      .btn_underline_blue {
        display: none;
        @media (max-width: 768px) {
          display: flex;
        }
      }
      .btn_underline_black {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
// END HARDWARE
// ========================================
// SEE WHAT
.bl_see_what {
  padding-top: 92px;
  // background-color: #141414;
  background-image: url("../img/bg/bg_bl_see_what.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @media (max-width: 768px) {
    padding-top: 45px;
  }
  @media (max-width: 390px) {
    background-size: auto;
  }
  .container {
    @media (max-width: 1200px) {
      padding: 0 35px;
    }
    @media (max-width: 1024px) {
      padding: 0 20px;
    }

    @media (max-width: 375px) {
      padding: 0 10px;
    }
  }
  .bl_see_what__content {
    h2 {
      color: #fff;
      margin-bottom: 92px;
      @media (max-width: 1200px) {
        padding-left: 45px;
      }
      @media (max-width: 1024px) {
        padding-left: 20px;
      }
      @media (max-width: 768px) {
        padding-left: 10px;
        margin-bottom: 45px;
      }
      @media (max-width: 390px) {
        max-width: 250px;
      }
    }
    .bl_see_what__items {
      position: relative;

      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 200%;
        background-color: #fff;
        position: absolute;
        left: -50%;
        top: 0;
      }
      .swiper {
        overflow: inherit;
        @media (max-width: 768px) {
          // padding-right: 20px;
        }
        .swiper-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .swiper-slide {
            width: 31.6%;
            padding-top: 100px;
            padding-bottom: 100px;
            height: auto;
            @media (max-width: 1200px) {
              width: 50%;
            }
            @media (max-width: 768px) {
              padding-top: 45px;
              padding-bottom: 70px;
              // margin-right: 20px;
            }
            &:first-child {
              padding-right: 60px;
              border-right: 1px solid #fff;
              @media (max-width: 1440px) {
                padding-right: 45px;
              }
              @media (max-width: 1200px) {
                border-right: none;
                width: auto;
                padding-left: 45px;
              }
              @media (max-width: 1024px) {
                padding-left: 20px;
                padding-right: 20px;
              }
              @media (max-width: 768px) {
                padding-left: 10px;
                padding-right: 10px;
                padding-right: 30px;
              }
            }
            &:nth-child(2) {
              padding-left: 67px;
              padding-right: 67px;
              border-right: 1px solid #fff;
              width: calc(33.333% + 60px);
              @media (max-width: 1440px) {
                padding-right: 45px;
                padding-left: 45px;
                width: calc(33.333% + 45px);
              }
              @media (max-width: 1200px) {
                border-right: none;
                width: auto;
              }
              @media (max-width: 1024px) {
                padding-left: 20px;
                padding-right: 20px;
              }
              @media (max-width: 768px) {
                padding-left: 10px;
                padding-right: 10px;
                padding-right: 30px;
              }
            }
            &:last-child {
              padding-left: 60px;
              @media (max-width: 1440px) {
                padding-left: 45px;
              }
              @media (max-width: 1200px) {
                padding-right: 45px;
              }
              @media (max-width: 1024px) {
                padding-left: 20px;
                padding-right: 20px;
              }
              @media (max-width: 768px) {
                padding-left: 10px;
                padding-right: 10px;
                padding-right: 30px;
              }
            }
            h3 {
              color: #fff;
              font-family: $HelvEx;
              font-size: 34px;
              line-height: 46px;
              font-weight: 400;
              margin-bottom: 37px;
              @media (max-width: 1400px) {
                height: 120px;
              }
              @media (max-width: 1200px) {
                height: 90px;
              }
              @media (max-width: 768px) {
                height: auto;
                margin-bottom: 40px;
                font-size: 24px;
                line-height: 32px;
              }
            }
            p {
              color: #fff;
              margin-bottom: 50px;
              height: 90px;
              @media (max-width: 1440px) {
                height: 120px;
              }
              @media (max-width: 1200px) {
                height: 90px;
              }
              @media (max-width: 768px) {
                height: auto;
                margin-bottom: 45px;
              }
            }
            .bl_see_what__img {
              height: 325px;
              width: 100%;
              overflow: hidden;
              margin-bottom: 54px;
              @media (max-width: 1830px) {
                height: calc(190px + (325 - 190) * ((100vw - 1200px) / (1830 - 1200)));
              }
              @media (max-width: 1200px) {
                height: calc(218px + (325 - 218) * ((100vw - 769px) / (1200 - 769)));
              }
              @media (max-width: 768px) {
                height: calc(190px + (480 - 190) * ((100vw - 320px) / (768 - 320)));
                margin-bottom: 45px;
              }
              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
            .btn_underline_white {
              white-space: normal;
            }
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          display: none;
        }
        .swiper-button-next {
          @media (max-width: 1200px) {
            display: block;
            width: 30px;
            height: 22px;
            right: -5px;
            top: 58%;
          }
          &::after {
            display: none;
          }
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
        .swiper-button-disabled {
          opacity: 0;
          transition: 0.3s;
          pointer-events: none;
        }
      }
    }
  }
}
// END SEE WHAT
// ========================================
// TAILORED
.bl_tailored {
  background-color: #f2f5fa;
  padding-top: 89px;
  padding-bottom: 104px;
  @media (max-width: 768px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .bl_tailored__content {
    .bl_tailored__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 90px;
      @media (max-width: 1200px) {
        flex-direction: column;
      }
      @media (max-width: 768px) {
        margin-bottom: 45px;
      }
      h2 {
        width: 55%;
        font-size: 62px;
        line-height: 92px;
        font-family: $HelvEx;
        font-weight: 300;
        letter-spacing: normal;
        @media (max-width: 1440px) {
          width: 50%;
        }
        @media (max-width: 1200px) {
          width: 100%;
          margin-bottom: 45px;
        }
        @media (max-width: 768px) {
          font-size: 30px;
          line-height: 42px;
          margin-bottom: 0;
        }
        @media (max-width: 390px) {
          max-width: 300px;
        }
      }
      p {
        width: 36.8%;
        font-size: 32px;
        line-height: 166%;
        font-family: $HelvEx;
        font-weight: 300;
        margin-top: 10px;
        letter-spacing: 0.6px;
        @media (max-width: 1440px) {
          width: 45%;
        }
        @media (max-width: 1200px) {
          width: 100%;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    .bl_tailored__slides {
      .swiper {
        overflow: inherit;
        .swiper-wrapper {
          transition-timing-function: linear;
          .swiper-slide {
            width: 580px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0px 10px 25px #1414140f;
            padding: 100px 60px;
            padding-bottom: 95px;
            min-height: 640px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: cover;
            transition: 0.8s;
            @media (max-width: 768px) {
              width: 310px;
              padding: 45px 30px;
              min-height: 420px;
            }

            &:nth-child(1n) {
              background-image: url("../img/bg/bg_tailored1.png");
            }
            &:nth-child(2n) {
              background-image: url("../img/bg/bg_tailored2.png");
            }
            &:nth-child(3n) {
              background-image: url("../img/bg/bg_tailored3.png");
            }
            h3 {
              font-family: $HelvEx;
              font-size: 34px;
              line-height: 46px;
              font-weight: 400;
              color: $black;
              margin-bottom: 45px;
              @media (max-width: 768px) {
                font-size: 24px;
                line-height: 120%;
              }
            }
            .bl_tailored__bottom {
              p {
                display: block;
                margin-bottom: 45px;
                letter-spacing: 0.4px;
              }
            }
          }
          .swiper-slide-prev {
            // opacity: 0;
            transition: 0.8s;
          }
        }
      }
    }
  }
}
// END TAILORED
// ========================================
// READY TO GET
.bl_ready_to_get {
  background-image: url("../img/bg/bg_ready_to_get.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 142px;
  padding-bottom: 140px;
  position: relative;
  @media (max-width: 768px) {
    background-position: left center;
    background-size: 400% 100%;
    padding-bottom: 160px;
  }
  .bl_ready_to_get__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
    .btn_up {
      position: absolute;
      top: 60px;
      right: 60px;
      transition: 0.3s;
      opacity: 0.6;
      &:hover {
        transition: 0.3s;
        opacity: 1;
      }
      @media (max-width: 600px) {
        display: none;
      }
    }
    h2 {
      color: #fff;
      width: 48%;
      @media (max-width: 1024px) {
        width: 58%;
      }
      @media (max-width: 600px) {
        text-align: center;
        width: 100%;
        margin-bottom: 45px;
        font-size: 26px;
        line-height: 38px;
        letter-spacing: -1px;
      }
    }
    .bl_ready_to_get__btns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 50%;
      padding-left: 87px;
      padding-top: 33px;
      @media (max-width: 1440px) {
        padding-left: 0;
        padding-top: 0;
      }

      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        width: 40%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-right: 45px;
        @media (max-width: 1024px) {
          margin-right: 0;
          margin-bottom: 25px;
          align-items: center;
        }
        @media (max-width: 768px) {
          margin-bottom: 10px;
          justify-content: flex-start;
        }
        .btn_free_trial {
          margin-bottom: 20px;
          @media (max-width: 768px) {
            margin-bottom: 10px;
          }
        }
        p {
          font-size: 14px;
          line-height: 16px;
          font-style: italic;
          font-family: $Helv;
          color: #fff;
          @media (max-width: 600px) {
            font-size: 10px;
          }
        }
      }
      .btn_underline_white {
        top: 18px;
      }
    }
  }
}
// END READY TO GET
// ========================================
