// ========================================
// ---------- VARIABLES ----------
@import "__variables.scss";
// ---------- END VARIABLES ----------
// ========================================

*,
*:before,
*:after {
    box-sizing: border-box;
}
html.lock,
body.lock {
    height: 100%;
    overflow: hidden !important;
    width: 100%;
    position: relative;
}

.main-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    // z-index: 100;
    // background-color: #fff;
    @media (max-height: 100vh) {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: stretch;
        // min-height: 100vh;
    }
    // > main {
    //     position: relative;
    //     z-index: 11111;
    //     background-color: #fff;
    // }
}

.container {
    max-width: calc(1110px + 60px);
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    @media (max-width: 425px) {
        padding: 0 20px;
    }
}

// ========================================
// ---------- HEADING ----------
h2 {
    display: block;
    font-family: $R;
    font-weight: 700;
    font-size: 32px;
    line-height: normal;
    color: #000;
    width: fit-content;
    @media (max-width: 768px) {
        font-size: 24px;
    }
}
.big-title-h2 {
    display: block;
    font-family: $R;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    @media (max-width: 992px) {
        font-size: 35px;
    }
    @media (max-width: 480px) {
        font-size: 20px;
        line-height: 130%;
    }
    span {
        display: block;
        font-size: 120px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 100%;
        @media (max-width: 950px) {
            font-size: 80px;
        }
        @media (max-width: 480px) {
            font-size: 48px;
        }
    }
}
h4 {
    display: block;
    font-family: $R;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    color: #000;
    width: fit-content;
}
// ---------- END HEADING ----------
// ----------------------------------------
// ---------- TEXTS ----------
p {
    font-family: $R;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}
// ---------- END TEXTS ----------
// ----------------------------------------
// ---------- BUTTONS ----------
// ----------------------------------------

a {
    display: block;
    font-family: $R;
    font-weight: 700;
    font-size: 17px;
    color: #000;
    transition: 0.3s;
}
.btn-yellow {
    max-width: 350px;
    width: 100%;
    height: 48px;
    // background-color: $gold;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px;
    color: #fff;
    font-family: $R;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    margin: 0 auto;
    border: none;
    transition: 0.3s;
    background: linear-gradient(122.24deg, #cbb04f 5.53%, #c99717 106.47%);
    border: 1px solid #b4962a;
    &:hover {
        opacity: 0.8;
    }
}
.btn-yellow-big-icon {
    max-width: 350px;
    width: 100%;
    height: 48px;
    // background-color: $gold;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px;
    color: #fff;
    font-family: $R;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    margin: 0 auto;
    border: none;
    transition: 0.3s;
    background: linear-gradient(122.24deg, #cbb04f 5.53%, #c99717 106.47%);
    border: 1px solid #b4962a;
    &:hover {
        opacity: 0.8;
    }
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("../img/icons/basket-border-white.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        display: block;
        margin-right: 8px;
    }
}
.btn-yellow-border {
    max-width: 160px;
    width: 100%;
    height: 35px;
    border: 1px solid $gold;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: #000;
    font-family: $R;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    &:hover {
        background-color: $gold;
        color: #fff;
    }
}
.btn-yellow-border-icon {
    max-width: 103px;
    width: 100%;
    height: 35px;
    border: 1px solid $gold;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    padding-left: 24px;
    color: #000;
    font-family: $R;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    position: relative;
    &:hover {
        background-color: $gold;
        color: #fff;
    }
    &:hover::before {
        background-image: url("../img/icons/basket-border-white.svg");
        transition: 0.3s;
    }
    &::before {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        background-image: url("../img/icons/basket-border-black.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        position: absolute;
        left: 8px;
        top: 46%;
        transform: translateY(-50%);
        transition: 0.3s;
    }
}

// ----------------------------------------
// ---------- END BUTTONS ----------
// ========================================
// ---------- OTHERS ----------
// ----------------------------------------
.d-none {
    display: none !important;
}

// ----------------------------------------

// ---------- IMAGES ----------

// ---------- END IMAGES ----------
// ----------------------------------------
// ---------- CRUMBS ----------

// ---------- END CRUMBS ----------
// ----------------------------------------
// ---------- COLORS ----------

// ---------- END COLORS ----------
// ----------------------------------------
// ---------- END OTHERS ----------
// ========================================
// ========================================
