// ========================================
// ---------- VARIABLES ----------
@import "__variables.scss";
// ---------- END VARIABLES ----------
// ========================================
// ----------------------------------------
// ---------- BLOCK HEADER ----------
.bl-header {
  .swiper {
    position: relative;
    .swiper-wrapper {
      .swiper-slide {
        height: 500px;
        position: relative;
        z-index: 5;
        @media (max-width: 480px) {
          height: 320px;
        }
      }
      .swiper-slide-1 {
        background-color: #d6df22;
        @media (max-width: 768px) {
          background-image: url("../img/index/bl-header1-2.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
        }
        @media (max-width: 576px) {
          background-color: transparent;
          padding: 33px;
          background-image: none;
          height: 550px;
        }
        @media (max-width: 480px) {
          padding: 20px;
        }
        .container {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 768px) {
            padding: 0;
          }
          @media (max-width: 576px) {
            background-color: #d6df22;
            background-image: url("../img/index/bl-header1-2.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
          }
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
          @media (max-width: 1024px) {
            object-fit: cover;
          }
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
      .swiper-slide-2 {
        background-color: #eac4f3;
        background-image: url("../img/index/bl-header2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        @media (max-width: 576px) {
          padding: 33px;
          background-color: transparent;
          background-image: none;
        }
        @media (max-width: 480px) {
          padding: 20px;
          height: auto;
        }
        .container {
          height: 100%;
          @media (max-width: 576px) {
            padding: 0;
            background-color: #eac4f3;
            background-image: url("../img/index/bl-header2-2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 420px;
          }
          @media (max-width: 480px) {
            background-color: transparent;
            height: auto;
            background-image: none;
          }
        }
        &__content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          padding-left: 35px;
          padding-right: 55px;
          @media (max-width: 1024px) {
            padding-right: 35px;
          }
          @media (max-width: 768px) {
            justify-content: center;
          }
          @media (max-width: 480px) {
            padding: 0;
          }
        }
        &__text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          @media (max-width: 768px) {
            display: none;
          }
          h1 {
            display: block;
            font-family: $R;
            font-size: 48px;
            font-weight: 400;
            line-height: normal;
            @media (max-width: 992px) {
              // display: none;
              font-size: 35px;
            }
            @media (max-width: 768px) {
              display: none;
            }
            span {
              display: block;
              font-size: 120px;
              font-weight: 700;
              text-transform: uppercase;
              line-height: 100%;
              @media (max-width: 1024px) {
                font-size: 80px;
              }
              @media (max-width: 992px) {
                font-size: 70px;
              }
            }
          }
          p {
            font-family: $R;
            font-size: 24px;
            font-weight: 400;
            max-width: 408px;
            line-height: normal;
            @media (max-width: 992px) {
              // display: none;
              font-size: 20px;
            }
            @media (max-width: 768px) {
              display: none;
            }
          }
        }
        .block-black {
          @media (max-width: 576px) {
            transform: translateY(105px);
          }
          @media (max-width: 480px) {
            transform: translate(0);
          }
        }
      }
      .swiper-slide-3 {
        background-color: #88642d;
        background-image: url("../img/index/bl-header3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        @media (max-width: 576px) {
          background-image: none;
          padding: 33px;
          background-color: transparent;
          height: auto;
        }
        @media (max-width: 480px) {
          padding: 20px;
        }
        .container {
          height: 100%;
          @media (max-width: 576px) {
            background-image: url("../img/index/bl-header3.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 485px;
          }
          @media (max-width: 480px) {
            height: 100%;
          }
        }
        &__content {
          padding-left: 35px;
          padding-right: 50px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          @media (max-width: 700px) {
            justify-content: center;
            padding-right: 35px;
          }
          @media (max-width: 576px) {
            padding: 0;
          }
        }
        &__texts {
          display: flex;
          flex-direction: column;
          @media (max-width: 700px) {
            display: none;
          }
          h2 {
            font-family: $R;
            font-size: 48px;
            font-weight: 400;
            line-height: normal;
            color: #fff;
            margin-bottom: 13px;
            @media (max-width: 768px) {
              font-size: 40px;
            }
            span {
              display: block;
              width: fit-content;
              background-image: url("../img/index/golds-bg.png");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
              text-transform: uppercase;
              font-size: 100px;
              font-weight: 700;
              padding-left: 17px;
              padding-right: 17px;
              margin-top: 15px;
              white-space: nowrap;
              @media (max-width: 1024px) {
                font-size: 80px;
              }
              @media (max-width: 992px) {
                font-size: 60px;
              }
              @media (max-width: 768px) {
                font-size: 40px;
              }
            }
          }
          p {
            font-family: $R;
            font-size: 20px;
            font-weight: 400;
            color: #fff;
            line-height: normal;
            max-width: 491px;
          }
        }
        &__img {
          // margin-left: 20px;
          @media (max-width: 480px) {
            height: 100%;
          }
          img {
            display: block;
            @media (max-width: 480px) {
              object-fit: contain;
              object-position: center;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .btns-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      z-index: 5;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      pointer-events: none;
      @media (max-width: 576px) {
        display: none;
      }
      div {
        pointer-events: all;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }
  }
}
.block-black {
  background-color: #000;
  border-radius: 10px;
  max-width: 445px;
  width: 100%;
  &__top {
    padding: 19px;
    position: relative;
    z-index: 5;
    p {
      font-family: $R;
      font-size: 14px;
      line-height: 16px;
      color: #a9a9a9;
      text-align: center;
      @media (max-width: 480px) {
        line-height: 150%;
      }
      br {
        display: none;
        @media (max-width: 480px) {
          display: block;
        }
      }
    }
  }
  &__menu {
    background-color: #565656;
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: 480px) {
      overflow: auto;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      li {
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 45px;
          color: #353535;
          font-family: $R;
          font-size: 18px;
          line-height: normal;
          // @media (max-width: 480px) {
          //   min-width: 128px;
          // }
        }
        a.active {
          background-color: $gold;
          color: #fff;
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
  &__price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 12px;
    p {
      font-family: $R;
      font-size: 96px;
      line-height: normal;
      font-weight: 700;
      color: #fff;
      display: block;
      margin-right: 11px;
      @media (max-width: 480px) {
        font-size: 75px;
        white-space: nowrap;
      }
    }
    img {
      display: block;
      max-width: 40px;
    }
  }
  .btn-yellow {
    @media (max-width: 480px) {
      margin-right: 24px;
      margin-left: 24px;
      width: initial;
    }
  }
  .btn-update {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 14px 0;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    img {
      display: block;
      max-width: 18px;
      min-width: 18px;
      margin-right: 5px;
    }
    span {
      font-family: $R;
      font-weight: 400;
      font-size: 14px;
      line-height: normal;
      color: #fff;
      display: block;
    }
  }
  .block-black_0 {
    // display: none;
  }
}
// ---------- END BLOCK HEADER ----------
// ----------------------------------------
// ---------- THREE ELEMENTS ----------
.bl-three-el {
  padding-top: 24px;
  @media (max-width: 480px) {
    padding-top: 0;
  }
  .container {
    @media (max-width: 768px) {
      padding: 0;
    }
  }
  .swiper {
    @media (max-width: 992px) {
      // overflow: scroll;
    }
    @media (max-width: 480px) {
      // overflow: hidden;
    }
    .swiper-wrapper {
      @media (max-width: 992px) {
        // overflow: scroll;
      }
      // @media (max-width: 768px) {
      //   padding: 0 30px;
      // }
      @media (max-width: 480px) {
        // overflow: initial;
      }
    }
    .swiper-slide {
      padding-bottom: 64px;
      padding-left: 30px;
      position: relative;
      height: auto;
      @media (max-width: 992px) {
        min-width: 290px;
      }
      @media (max-width: 600px) {
        // padding: 0 30px;
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (max-width: 576px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
      }
      @media (max-width: 480px) {
        width: 100%;
        min-width: auto;
      }
      &::before {
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $gold;
        transition: 0.3s;
        opacity: 0;
      }
      .link-block {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
      h4 {
        margin-bottom: 9px;
      }
      .btn-yellow-border {
        position: absolute;
        bottom: 16px;
        left: 30px;
        z-index: 5;
        @media (max-width: 576px) {
          left: auto;
          bottom: auto;
          position: relative;
          margin-top: 16px;
        }
      }
    }
    .swiper-slide-thumb-active {
      &::before {
        opacity: 1;
        @media (max-width: 480px) {
          display: none;
        }
      }
    }
    .three-swiper-pagination {
      width: 100%;
      height: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      bottom: 0;
      display: none;
      background-color: transparent;
      padding-right: 20px;
      padding-left: 20px;
      @media (max-width: 480px) {
        display: flex;
      }
      span {
        background-color: #a6a6a6;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
        display: block;
        height: 2px;
      }
      .swiper-pagination-bullet-active {
        height: 5px;
        background-color: $gold;
      }
    }
  }
}
// ---------- END THREE ELEMENTS ----------
// ----------------------------------------
// ---------- POPULAR CATEGORY ----------
.bl-pop-cat {
  padding-top: 75px;
  padding-bottom: 100px;
  h2 {
    margin-bottom: 27px;
    @media (max-width: 576px) {
      font-size: 16px;
    }
  }
  &__item {
    margin-bottom: 110px;
    @media (max-width: 480px) {
      margin-bottom: 80px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      .bl-pop-cat__content {
        .bl-pop-cat__img {
          grid-row-start: 1;
          grid-row-end: 2;
        }
        .swiper-scrollbar {
          right: auto;
          left: -19px;
          @media (max-width: 750px) {
            left: 0;
          }
        }
      }
    }
    .btn-bottom-p-c-elements-mobile {
      display: block;
      font-family: $R;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      position: relative;
      padding-right: 15px;
      width: fit-content;
      margin: 0 auto;
      color: #757575;
      transition: 0.3s;
      display: none;
      @media (max-width: 750px) {
        display: block;
      }
      &:hover {
        opacity: 0.6;
      }
      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        margin-left: 4px;
        background-image: url("../img/icons/arrow-right-grey.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media (max-width: 750px) {
      grid-template-columns: repeat(1, 100%);
      margin-bottom: 30px;
      gap: 20px;
    }
    @media (max-width: 480px) {
      gap: 10px;
    }
  }
  &__elements {
    max-height: 660px;
    height: 100%;
    @media (max-width: 1024px) {
      max-height: 550px;
    }
    @media (max-width: 768px) {
      max-height: 405px;
    }
    @media (max-width: 750px) {
      // width: inherit !important;
    }
    .swiper-wrapper {
      pointer-events: none;
      overflow: inherit;
      @media (max-width: 750px) {
        // overflow: auto;
      }
    }
    .swiper {
      height: 660px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: inherit;
      @media (max-width: 1024px) {
        height: 550px;
      }
      @media (max-width: 768px) {
        max-height: 405px;
      }
      @media (max-width: 750px) {
        width: 100%;
        height: fit-content;
      }
    }
    .swiper-slide {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-bottom: 40px;
      position: relative;
      background-color: #fff;
      opacity: 0;
      transition: 0.3s;
      pointer-events: none;
      @media (max-width: 1024px) {
        margin-bottom: 25px;
      }
      @media (max-width: 750px) {
        transition: none;
        width: 330px;
        opacity: 1;
        pointer-events: all;
        margin-bottom: 0;
      }
      @media (max-width: 480px) {
        width: auto;
      }

      &:last-child {
        margin-bottom: 0;
      }
      // &:first-child {
      //   z-index: 5;
      // }
    }
    .swiper-slide-next,
    .swiper-slide-active {
      opacity: 1;
      pointer-events: all;
    }
    .swiper-scrollbar {
      right: -19px;
      top: 0;
      height: 100%;
      border-radius: 0;
      @media (max-width: 750px) {
        height: 4px;
        top: calc(100% + 74px);
      }
      .swiper-scrollbar-drag {
        border-radius: 0;
      }
    }
  }
  &__img {
    height: 660px;
    overflow: hidden;
    position: relative;
    @media (max-width: 1024px) {
      height: 550px;
    }
    @media (max-width: 768px) {
      max-height: 405px;
    }
    @media (max-width: 750px) {
      grid-row-start: 1;
      grid-row-end: 2;
      max-height: 510px;
    }
    @media (max-width: 480px) {
      max-height: 280px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .pop-numbers {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    button {
      font-family: $R;
      font-size: 20px;
      font-weight: 700;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      width: fit-content;
      position: absolute;
      background-color: transparent;
      transition: 0.3s;
      cursor: default;

      span {
        background-color: #000;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        transition: 0.3s;
        @media (max-width: 480px) {
          font-size: 16px;
          background: $gold;
        }
      }
      .pop-numbers__number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        &:hover {
          opacity: 0;
          cursor: pointer;
        }
        &:hover + .pop-numbers__text {
          opacity: 1;
        }
      }
      .pop-numbers__text {
        opacity: 0;
      }
    }
  }
  .pop-img1 {
    .btn-pop-img1 {
      right: 10%;
      top: 17%;
    }
    .btn-pop-img2 {
      right: 32%;
      top: 27%;
    }
    .btn-pop-img3 {
      right: 40%;
      top: 51%;
    }
    .btn-pop-img4 {
      right: 58%;
      top: 63%;
    }
  }
  .pop-img2 {
    .btn-pop-img1 {
      right: 16%;
      top: 31%;
    }
    .btn-pop-img2 {
      left: 16%;
      top: 15%;
    }
    .btn-pop-img3 {
      left: 49%;
      bottom: 18%;
    }
    .btn-pop-img4 {
      left: 38%;
      bottom: 7%;
    }
  }
}
.p-c-elements {
  &__item {
    position: relative;
    background-color: #fff;
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      z-index: 5;
      @media (max-width: 750px) {
        box-shadow: none;
      }
    }
    &:hover .p-c-elements__hidden {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      pointer-events: all;
      opacity: 1;
      @media (max-width: 750px) {
        box-shadow: none;
      }
    }
  }
  &__img {
    height: 255px;
    overflow: hidden;
    position: relative;
    @media (max-width: 1024px) {
      height: 200px;
    }
    @media (max-width: 768px) {
      height: 150px;
    }
    @media (max-width: 480px) {
      height: 130px;
    }
    a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // z-index: 5;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__prices {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    margin-bottom: 5px;
    @media (max-width: 1024px) {
      padding: 10px;
    }
    @media (max-width: 750px) {
      padding-left: 0;
      padding-right: 0;
    }
    .p-c-price {
      font-family: $R;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: #000;
      margin-right: 20px;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    del {
      display: block;
      font-family: $R;
      font-size: 14px;
      line-height: 24px;
      color: #a6a6a6;
    }
  }
  &__hidden {
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    pointer-events: none;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    @media (max-width: 1024px) {
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    @media (max-width: 750px) {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      opacity: 1;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    h4 {
      margin-bottom: 5px;
      font-size: 16px;
    }
    ul {
      margin-bottom: 10px;
      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5px;
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: #757575;
          &:last-child {
            text-align: right;
          }
          @media (max-width: 1024px) {
            font-size: 12px;
          }
        }
      }
    }
    .btn-basket-p-c-elements {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 1px solid #000;
      background-color: transparent;
      width: 100%;
      height: 33px;
      margin-bottom: 6px;
      transition: 0.3s;
      @media (max-width: 750px) {
        border-radius: 2px;
      }
      &:hover {
        opacity: 0.6;
      }
      img {
        display: block;
        max-width: 15px;
        min-width: 15px;
      }
      span {
        font-family: $R;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #000;
        display: block;
        margin-left: 8px;
      }
    }
    .btn-bottom-p-c-elements {
      display: block;
      font-family: $R;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      position: relative;
      padding-right: 15px;
      width: fit-content;
      margin: 0 auto;
      color: #757575;
      transition: 0.3s;
      @media (max-width: 750px) {
        display: none;
      }
      &:hover {
        opacity: 0.6;
      }
      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        margin-left: 4px;
        background-image: url("../img/icons/arrow-right-grey.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
// ---------- END POPULAR CATEGORY ----------
// ----------------------------------------
// ---------- CATEGORY FILTER ----------
.bl-cat-filter {
  overflow: hidden;
  padding-bottom: 127px;
  @media (max-width: 992px) {
    padding-bottom: 98px;
  }
  @media (max-width: 480px) {
    padding-bottom: 50px;
  }
}
.title-tovars {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 36px;
  @media (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 23px;
  }

  &__count {
    display: block;
    font-family: $R;
    font-weight: 400;
    font-size: 14px;
    color: #8b8b8b;
    margin-left: 15px;
    margin-top: 12px;
    @media (max-width: 480px) {
      margin-left: 0;
      margin-top: 8px;
    }
  }
}
.filter-top-mobile {
  display: none;
  // display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 25px;
  @media (max-width: 992px) {
    display: flex;
  }
  @media (max-width: 600px) {
    flex-direction: row-reverse;
    padding-bottom: 12px;
    padding-top: 12px;
  }
  &::before {
    content: "";
    display: block;
    height: 2px;
    width: 200%;
    background-color: #dcdcdc;
    position: absolute;
    left: -50%;
    bottom: 0;
    @media (max-width: 600px) {
      height: 1px;
      background-color: #000;
    }
  }
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 200%;
    background-color: #dcdcdc;
    position: absolute;
    left: -50%;
    top: 0;
    display: none;
    @media (max-width: 600px) {
      display: block;
      height: 1px;
      background-color: #000;
    }
  }

  &__left {
    font-family: $R;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    color: #474747;
    position: relative;
    padding-left: 26px;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    margin-bottom: 5px;
    @media (max-width: 600px) {
      margin-bottom: 0;
    }
    &:hover {
      opacity: 0.6;
    }
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 11px;
      background-image: url("../img/icons/filter-icon-mobile.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    p {
      font-family: $R;
      font-weight: 400;
      font-size: 14px;
      line-height: normal;
      color: #474747;
      display: block;
      padding-bottom: 8px;
      @media (max-width: 600px) {
        display: none;
      }
    }
    button {
      display: flex;
      background-color: transparent;
      border: none;
      font-family: $R;
      font-weight: 700;
      font-size: 14px;
      line-height: normal;
      position: relative;
      padding-right: 15px;
      margin-left: 5px;
      border-bottom: 2px dashed #000;
      padding-bottom: 5px;
      transition: 0.3s;
      @media (max-width: 600px) {
        border-bottom: none;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 0;
      }
      &:hover {
        opacity: 0.6;
      }
      &::after {
        content: "";
        display: block;
        height: 15px;
        width: 10px;
        background-image: url("../img/icons/arrow-top-grey.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        position: absolute;
        right: 0;
        top: 0;
        @media (max-width: 600px) {
          background-image: url("../img/icons/arrow-top-bottom-grey.svg");
          width: 15px;
          right: auto;
          left: 0;
        }
      }
    }
  }
}
.c-f-body {
  display: flex;
  flex-direction: row;
  &__items {
    @media (max-width: 992px) {
      width: 100%;
    }
    > ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      margin-bottom: 32px;
      @media (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
      }
      @media (max-width: 480px) {
        gap: 20px;
      }
    }
    .p-c-elements__img {
      height: 198px;
      @media (max-width: 992px) {
        height: 224px;
      }
      @media (max-width: 750px) {
        height: 240px;
      }
      @media (max-width: 480px) {
        height: 130px;
      }
    }
  }
  .additional-info-li {
    .c-f-additional-info {
      display: flex;
      flex-direction: column;
      &__img {
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .btn-additional-info {
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $R;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        background-color: #000;
        transition: 0.3s;
        @media (max-width: 480px) {
          height: 55px;
        }
        &:hover {
          color: $gold;
        }
      }
      .black {
        background-color: #000;
      }
      .pink {
        background-color: #e62075;
      }
    }
  }
  .additional-info-li-1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    @media (max-width: 768px) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    @media (max-width: 600px) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
  .additional-info-li-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
  }
}
.btn-all-more-show {
  height: 48px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $R;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;
  background-color: transparent;
  transition: 0.3s;
  margin-bottom: 32px;
  @media (max-width: 480px) {
    margin-bottom: 26px;
  }
  &:hover {
    color: $gold;
    border: 1px solid $gold;
  }
}
.c-f-filter {
  min-width: 226px;
  max-width: 226px;
  margin-right: 60px;
  background-color: #fff;
  transition: 0.3s;
  @media (max-width: 1024px) {
    margin-right: 20px;
  }
  @media (max-width: 992px) {
    // display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 50;
    margin-right: 0;
    min-width: auto;
    max-width: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  h2 {
    margin-bottom: 30px;
  }
  &__btn-close {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 20px;
    display: none;
    @media (max-width: 992px) {
      display: block;
    }
    img {
      display: block;
    }
  }
  &__click {
    display: none;
    // display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    @media (max-width: 992px) {
      display: block;
    }
  }
  form {
    @media (max-width: 992px) {
      min-width: 260px;
      max-width: 260px;
      background-color: #fff;
      padding: 25px;
      position: relative;
      z-index: 5;
      overflow: auto;
      height: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  ul {
    li {
      margin-bottom: 8px;
    }
  }
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    > p {
      font-family: $R;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      display: block;
      width: fit-content;
      color: #000;
    }
  }
  .f-check {
    position: relative;
    input {
      display: block;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      &:checked ~ span {
        border: 1px solid $gold;
      }
      &:checked ~ span::before {
        opacity: 1;
      }
    }
    span {
      display: block;
      max-width: 14px;
      min-width: 14px;
      height: 14px;
      border: 1px solid #b8b8b8;
      border-radius: 2px;
      position: relative;
      margin-right: 9px;
      transition: 0.3s;
      &::before {
        content: "";
        display: block;
        background-color: $gold;
        border-radius: 1px;
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        bottom: 2px;
        opacity: 0;
        transition: 0.3s;
      }
    }
  }
  .btn-all-more {
    font-family: $R;
    font-size: 12px;
    font-weight: 400;
    padding-right: 13px;
    color: #000;
    position: relative;
    width: fit-content;
    background-color: transparent;
    border: none;
    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 8px;
      background-image: url("../img/icons/arrow-down-gold2.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .btn-filter-drop {
    font-family: $R;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: #000;
    width: 100%;
    padding-right: 18px;
    position: relative;
    background-color: transparent;
    border: none;
    text-align: left;
    margin-bottom: 15px;
    &::after {
      content: "";
      display: block;
      width: 15px;
      height: 10px;
      background-image: url("../img/icons/arrow-down-gold2.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transform-origin: center;
      transition: 0.3s;
    }
  }
  .btn-filter-drop.active {
    &::after {
      transform: rotateX(180deg) translateY(50%);
    }
  }
  .filter-drop {
    margin-bottom: 15px;
    &__items {
      max-height: 190px;
      overflow: auto;
    }
    ::-webkit-scrollbar {
      width: 4px;
    }
    ::-webkit-scrollbar-track {
      background: #bdbdbd;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #848484;
    }
  }
  .btn-filter-reset {
    height: 48px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    background-color: #dcdcdc;
    color: #000;
    cursor: pointer;
  }
  .btn-filter-reset.disabled {
    color: #888;
    cursor: default;
    pointer-events: none;
  }
  &__tovars {
    margin-bottom: 36px;
    > ul {
      > li {
        display: none;
        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12) {
          display: block !important;
        }
      }
    }
  }
  &__prices {
    margin-bottom: 35px;
    .f-input {
      margin-bottom: 10px;
      input {
        height: 35px;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 9px 5px;
        appearance: none;
        outline: none;
        font-family: $R;
        font-weight: 300;
        font-size: 14px;
        color: #000;
        width: 100%;
      }
    }
    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      div {
        font-family: $R;
        font-size: 300px;
        font-size: 14px;
        line-height: 17px;
        color: #b5b5b5;
      }
    }
  }
}
.c-f-filter.active {
  @media (max-width: 992px) {
    left: 0;
    z-index: 200;
  }
  .c-f-filter__click {
    transition-delay: 0.3s;
    transition-duration: 0.6s;
    background-color: rgba(0, 0, 0, 0.25);
  }
}
.noUi-target {
  border: none;
  box-shadow: none;
  height: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #b8b8b8;
    position: absolute;
    right: -20px;
    top: 0;
  }
  .noUi-base {
    .noUi-connects {
      height: 2px;
      background-color: #b8b8b8;
      .noUi-connect {
        background: $gold;
      }
    }
    .noUi-origin {
      .noUi-handle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        top: -9px;
        right: -20px;
        &::before,
        &::after {
          display: none;
        }
      }
      // .noUi-handle-upper {
      //   margin-right: 20px;
      //   // margin-left: 20px;
      // }
      // .noUi-handle-lower {
      //   right: -20px;
      // }
    }
  }
}
.pagination-cat {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    li {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  a {
    max-width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    font-size: 16px;
    font-family: $R;
    font-weight: 700;
    @media (max-width: 480px) {
      max-width: 23px;
      min-width: 23px;
      height: 23px;
      font-size: 14px;
    }
  }
  .btn-arrow-left-pag-all,
  .btn-arrow-left-pag,
  .btn-arrow-right-pag,
  .btn-arrow-right-pag-all {
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      // background-color: #ccc;
    }
    &:hover::before {
      opacity: 0.6;
    }
  }
  .disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  .btn-arrow-left-pag-all {
    &::before {
      background-image: url("../img/icons/arrow-left-all-grey.svg");
    }
  }
  .btn-arrow-left-pag {
    &::before {
      background-image: url("../img/icons/arrow-left-grey.svg");
    }
  }
  .btn-arrow-right-pag-all {
    &::before {
      background-image: url("../img/icons/arrow-right-pag-grey-all.svg");
    }
  }
  .btn-arrow-right-pag {
    &::before {
      background-image: url("../img/icons/arrow-right-pag-grey.svg");
    }
  }
  .number-pag {
    &:hover {
      background-color: $gold;
      color: #fff;
    }
  }
  .number-pag.active {
    background-color: $gold;
    color: #fff;
  }
}
// ---------- END CATEGORY FILTER ----------
// ----------------------------------------
// ---------- RANSOM ----------
.bl-ransom {
  background-color: #f3f3f3;
  padding-top: 30px;
  padding-bottom: 40px;
  // overflow: hidden;
  @media (max-width: 768px) {
    padding-top: 100px;
  }
  @media (max-width: 480px) {
    padding-top: 40px;
    background-color: #fff;
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 20;
    @media (max-width: 750px) {
      flex-direction: column;
      margin-bottom: 50px;
    }
  }
  &__top-left {
    @media (max-width: 768px) {
      margin-top: 80px;
    }
    @media (max-width: 750px) {
      margin-top: 0;
      margin-bottom: 30px;
      position: relative;
      z-index: 16;
    }
    p {
      font-family: $R;
      font-size: 24px;
      font-weight: 400;
      max-width: 408px;
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 24px;
      }
      @media (max-width: 750px) {
        max-width: none;
        width: 100%;
      }
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
  &__top-right {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 820px;
      height: 518px;
      position: absolute;
      top: -85px;
      left: -106px;
      background-image: url("../img/index/ransom-bg1.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      z-index: 0;
      @media (max-width: 1024px) {
        display: none;
      }
      @media (max-width: 768px) {
        display: block;
        background-image: url("../img/index/ransom-bg3.png");
        width: 273px;
        height: 220px;
        left: -260px;
        top: -120px;
      }
      @media (max-width: 750px) {
        width: 863px;
        height: 540px;
        left: 50%;
        top: -160px;
        transform: translateX(-50%);
        background-image: url("../img/index/ransom-bg4.png");
      }
    }
    &::after {
      content: "";
      display: block;
      width: 210px;
      height: 180px;
      position: absolute;
      bottom: 0;
      left: -170px;
      background-image: url("../img/index/ransom-bg2.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      z-index: 10;
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .block-black {
      min-width: 445px;
      margin-right: 45px;
      z-index: 5;
      position: relative;
      @media (max-width: 1024px) {
        margin-right: 0;
      }
      @media (max-width: 850px) {
        min-width: 330px;
      }
      @media (max-width: 750px) {
        min-width: 445px;
        margin: 0 auto;
      }
      @media (max-width: 500px) {
        min-width: auto;
      }
      .btn-yellow {
        @media (max-width: 850px) {
          width: auto;
          margin-left: 16px;
          margin-right: 16px;
          max-width: none;
        }
      }
    }
  }
}
.purchase-price {
  margin-top: -40px;
  position: relative;
  z-index: 15;
  @media (max-width: 980px) {
    margin-top: 20px;
  }
  h2 {
    @media (max-width: 992px) {
      font-size: 24px;
    }
    @media (max-width: 576px) {
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  &__menu {
    margin-bottom: 20px;
    @media (max-width: 576px) {
      margin-bottom: 40px;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 2px solid #e8e8e8;
    }
    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 213px;
      height: 65px;
      font-family: $R;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;
      color: #000;
      border-bottom: 2px solid transparent;
      position: relative;
      bottom: -2px;
      transition: 0.3s;
      @media (max-width: 768px) {
        height: 45px;
        width: 145px;
      }
      &:hover {
        color: $gold;
      }
    }
    a.active {
      border-bottom: 2px solid $gold;
      pointer-events: none;
      &:hover {
        color: #000;
      }
    }
  }
  .btn-yellow {
    margin-left: 0;
    @media (max-width: 576px) {
      max-width: none;
      width: 100%;
    }
  }
}
.pp-table {
  margin-bottom: 17px;
  @media (max-width: 768px) {
    padding-bottom: 30px;
  }
  @media (max-width: 480px) {
    // overflow: auto;
    // min-width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  > div {
    padding: 20px 35px;
    border-bottom: 1px solid #e2e2e2;
    @media (max-width: 750px) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (max-width: 576px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    > ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      }
      li {
        min-width: 150px;
        max-width: 150px;
        font-family: $R;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #000;
        @media (max-width: 768px) {
          min-width: auto;
          padding-left: 30px;
        }
        @media (max-width: 750px) {
          padding-left: 0;
        }
        @media (max-width: 576px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          z-index: 5;
        }
        @media (max-width: 480px) {
          min-width: 105px;
        }
        &:first-child {
          @media (max-width: 576px) {
            color: $gold;
          }
        }
      }
    }
  }
  .pp-table__th {
    ul {
      li {
        font-weight: 600;
        @media (max-width: 576px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 16px;
          position: relative;
          z-index: 5;
        }
        &:first-child {
          text-transform: uppercase;
          @media (max-width: 576px) {
            color: #000;
          }
          &::before {
            content: "";
            display: none;
            background-color: #fff;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            width: 100%;
            height: calc(450% + 40px);
            z-index: -1;
            @media (max-width: 576px) {
              display: block;
            }
          }
        }
        img {
          display: none;
          @media (max-width: 576px) {
            display: block;
            height: 25px;
            margin: 0 auto;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
.pp-table-silver {
  display: none;
}
// ---------- END RANSOM ----------
// ----------------------------------------
// ---------- INVEST ----------
.bl-invest {
  padding-top: 70px;
  padding-bottom: 25px;
  @media (max-width: 768px) {
    padding-bottom: 65px;
  }
  @media (max-width: 750px) {
    padding-top: 50px;
    padding-bottom: 45px;
  }
  @media (max-width: 480px) {
    padding-bottom: 80px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 750px) {
      flex-direction: column;
    }
  }
  &__img {
    margin-right: 47px;
    min-width: 540px;
    max-width: 540px;
    @media (max-width: 1200px) {
      max-width: none;
      min-width: auto;
      width: 50%;
      margin: 0;
    }
    @media (max-width: 750px) {
      width: 100%;
      margin-bottom: 10px;
    }
    img {
      display: block;
      @media (max-width: 750px) {
        margin: 0 auto;
      }
    }
  }
  &__texts {
    width: 100%;
    @media (max-width: 1200px) {
      width: 49%;
    }
    @media (max-width: 750px) {
      width: 100%;
    }
    .big-title-h2 {
      line-height: 100%;
      span {
        font-size: 96px;
        line-height: 120%;
        white-space: nowrap;
        @media (max-width: 1024px) {
          font-size: 90px;
        }
        @media (max-width: 950px) {
          font-size: 64px;
        }
        @media (max-width: 480px) {
          font-size: 48px;
        }
      }
    }
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      margin-bottom: 20px;
      max-width: 490px;
      @media (max-width: 750px) {
        max-width: none;
      }
      @media (max-width: 480px) {
        font-size: 14px;
        line-height: 130%;
      }
    }
    .btn-yellow {
      margin-left: 0;
      @media (max-width: 576px) {
        max-width: none;
        width: 100%;
      }
    }
  }
}

// ---------- END INVEST ----------
// ----------------------------------------

// ========================================
