// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
// BLOCK HEADER
.bl_header {
  position: relative;
  padding-bottom: 112px;
  @media (max-width: 768px) {
    padding-bottom: 80px;
  }
  .bl_header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    .big_slides {
      width: 75%;
      background-image: url("../img/index/header_index/slide_bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: 30px;
      @media (max-width: 992px) {
        width: 100%;
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .slick-list {
          height: 100%;
          .slick-track {
            height: 100%;
          }
        }
        .slick-dots {
          height: 3px;
          li {
            padding: 0;
          }
        }
        .slick-next {
          right: 20px;
          width: 40px;
          height: 40px;
          border: 2px solid $border;
          background-color: #fff;
          background-image: url("../img/icons/arrow_slide_blue.svg");
          @media (max-width: 600px) {
            right: -15px;
          }
          &:hover {
            transition: 0.3s;
            border: 2px solid $blue;
            background-color: $blue;
            background-image: url("../img/icons/arrow_right_border.svg");
          }
          &:focus {
            border: 2px solid $dark;
          }
        }
        .slick-prev {
          left: 20px;
          width: 40px;
          height: 40px;
          border: 2px solid $border;
          background-color: #fff;

          @media (max-width: 600px) {
            left: -15px;
          }
          &:hover {
            transition: 0.3s;
            border: 2px solid $blue;
            background-color: $blue;
          }
          &:focus {
            border: 2px solid $dark;
          }
        }
        li {
          width: 100%;
          overflow: hidden;

          .big_slides__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 70px;
            @media (max-width: 600px) {
              padding: 30px;
            }
            @media (max-width: 600px) {
              min-height: 250px;
            }

            .big_slides__text {
              position: relative;
              z-index: 5;
              width: 75%;
              @media (max-width: 768px) {
                width: 100%;
              }
              h1 {
                margin-bottom: 30px;
              }
              h2 {
                margin-bottom: 30px;
                display: block;
                font-family: $Mont;
                font-size: 40px;
                font-weight: bold;
                color: $dark;
                line-height: 1.3;
                @media (max-width: 1440px) {
                  // font-size: 34px;
                }
                @media (max-width: 1024px) {
                  font-size: 24px;
                }
                @media (max-width: 768px) {
                  font-size: 18px;
                }
              }
              > p {
                font-size: 18px;
                font-weight: 500;
                font-family: $Mont;
                display: block;
                margin-bottom: 30px;
                color: $dark;
                @media (max-width: 600px) {
                  display: none;
                }
              }
              ul {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                @media (max-width: 1230px) {
                  max-width: 314px;
                }
                @media (max-width: 1024px) {
                  max-width: none;
                }
                @media (max-width: 740px) {
                  max-width: 310px;
                }
                @media (max-width: 600px) {
                  display: none;
                }
                li {
                  margin-bottom: 20px;
                  font-weight: 400;
                  font-size: 16px;
                  font-family: $Mont;
                  line-height: normal;
                  color: $grey;
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }
            .big_slides__img {
              width: 25%;
              position: relative;
              @media (max-width: 768px) {
                width: 10%;
              }
              img {
                display: block;
                position: absolute;
                // right: 0;
                left: -100px;
                top: -30px;
                min-width: 300px;
                @media (max-width: 1024px) {
                  left: 0;
                }
                @media (max-width: 992px) {
                  min-width: 275px;
                }
                @media (max-width: 768px) {
                  left: -92px;
                  top: -40px;
                  min-width: 300px;
                }
                @media (max-width: 600px) {
                  min-width: 130px;
                  top: 0;
                }
                @media (max-width: 374px) {
                  left: -37px;
                }
              }
            }
          }
        }
      }
    }
    .small_slides {
      width: 22.8%;
      min-width: 220px;
      background-color: $bg1;
      @media (max-width: 992px) {
        display: none;
      }
      ul {
        .slick-next {
          right: -20px;
          width: 40px;
          height: 40px;
          border: 2px solid $border;
          background-color: #fff;
          background-image: url("../img/icons/arrow_slide_blue.svg");
          @media (max-width: 1024px) {
            display: none;
          }
          &:hover {
            transition: 0.3s;
            border: 2px solid $blue;
            background-color: $blue;
            background-image: url("../img/icons/arrow_right_border.svg");
          }
          &:focus {
            border: 2px solid $dark;
          }
        }
        .slick-prev {
          left: -20px;
          width: 40px;
          height: 40px;
          border: 2px solid $border;
          background-color: #fff;
          @media (max-width: 1024px) {
            display: none;
          }
          &:hover {
            transition: 0.3s;
            border: 2px solid $blue;
            background-color: $blue;
          }
          &:focus {
            border: 2px solid $dark;
          }
        }
        li {
          .small_slides__content {
            padding: 30px;
            @media (max-width: 1300px) {
              padding: 20px;
            }
            .small_slides__top {
              .small_slides__img {
                height: 210px;
                position: relative;
                margin-bottom: 30px;
                .discount {
                  font-family: $Mont;
                  font-weight: 500;
                  font-size: 14px;
                  color: #fff;
                  padding: 5px 6px;
                  background-color: $red;
                  border-radius: 3px;
                  width: fit-content;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  object-position: center;
                }
              }
              .small_slides__text {
                h4 {
                  font-size: 16px;
                  color: $dark;
                  font-weight: 400;
                  margin-bottom: 20px;
                }
                ul {
                  margin-bottom: 40px;
                  li {
                    margin-bottom: 20px;
                    &:last-child {
                      margin-bottom: 0;
                    }
                    p {
                      color: $grey;
                      font-family: $Mont;
                      font-size: 14px;
                      font-weight: 400;
                      span {
                        color: $dark;
                        margin-left: 10px;
                      }
                    }
                  }
                }
              }
            }
            .small_slides__bottom {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              .small_slides__prices {
                display: flex;
                flex-direction: column;
                del {
                  color: $light_grey;
                  font-weight: 500;
                  font-size: 16px;
                  font-family: $Mont;
                }
                p {
                  font-weight: 500;
                  font-size: 24px;
                  font-family: $Mont;
                  color: $dark;
                }
              }
              .small_slides__cart {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $blue;
                border-radius: 3px;
                padding: 15px;
                transition: 0.3s;
                &:hover {
                  background-color: $blue_hov;
                  transition: 0.3s;
                }
                img {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}
// END BLOCK HEADER
// ========================================
// BLOCK SPECIAL
.bl_special {
  // padding-bottom: 300px;
  min-height: 706px;
  @media (max-width: 768px) {
    padding-bottom: 20px;
    min-height: auto;
    padding-bottom: 80px;
  }
  @media (max-width: 425px) {
    padding-bottom: 50px;
  }
  .bl_special__content {
    .bl_special__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: -20px;
      .btn_fff {
        @media (max-width: 700px) {
          display: none;
        }
      }
    }
    .bl_special__items {
      ul {
        // margin-right: -30px;
        margin-right: -30px;
        @media (max-width: 768px) {
          margin-right: -20px;
        }
        @media (max-width: 500px) {
          margin-right: 0;
        }
        .slick-list {
          overflow: inherit;
          // padding-left: 60px;
          // padding-right: 60px;
          // margin-right: -30px;
        }

        .slick-list::-webkit-scrollbar {
          display: none;
        }
        .slick-slide {
          opacity: 0;
          transition: 1s;
        }
        .slick-active {
          opacity: 1 !important;
          transition: 1s;
        }
        .slick-prev {
          transform: none;
          top: 140px;
        }
        .slick-next {
          transform: none;
          top: 140px;
          right: 5px;
          @media (max-width: 500px) {
            right: -25px;
          }
          @media (max-width: 375px) {
            right: -15px;
          }
        }
        li {
          margin-right: 30px;
          margin-top: 58px;
          margin-bottom: 60px;
          position: relative;
          @media (max-width: 768px) {
            margin-right: 20px;
            margin-bottom: 0;
          }

          @media (max-width: 700px) {
            margin-bottom: 40px;
          }
          @media (max-width: 500px) {
            margin-right: 0;
          }
          // &:nth-child(4n) {
          //   margin-right: 0;
          // }

          &::before {
            content: "";
            display: block;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            background-color: #fff;
            position: absolute;
            top: -30px;
            left: -30px;
            right: -30px;
            bottom: -110px;
            transition: 0.3s;
            opacity: 0;
            @media (max-width: 768px) {
              display: none;
            }
          }
          &:hover::before {
            opacity: 1;
            transition: 0.3s;
          }
          &:hover .bl_special__item .bl_special__top .bl_special__text ul li {
            display: block !important;
            height: 16px;
            transition: 0.3s;
            margin-bottom: 10px;
            @media (max-width: 768px) {
              height: 17px;
              margin-bottom: 10px;
            }
          }
          &:hover .bl_special__item .bl_special__bottom {
            opacity: 1;
          }
          .bl_special__item {
            // padding: 30px;
            // padding-bottom: 80px;
            position: relative;
            @media (max-width: 768px) {
              padding-bottom: 0;
            }
            .bl_special__top {
              margin-bottom: 20px;
              .bl_special__img {
                height: 180px;
                position: relative;
                margin-bottom: 20px;
                .discount {
                  font-family: $Mont;
                  font-weight: 500;
                  font-size: 14px;
                  color: #fff;
                  padding: 4px 6px;
                  background-color: $red;
                  border-radius: 3px;
                  width: fit-content;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                .amount {
                  font-family: $Mont;
                  font-weight: 500;
                  font-size: 14px;
                  color: #fff;
                  padding: 4px 6px;
                  background-color: $blue;
                  border-radius: 3px;
                  width: fit-content;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                .best {
                  font-family: $Mont;
                  font-weight: 500;
                  font-size: 14px;
                  color: #fff;
                  padding: 4px 6px;
                  background-color: $yell;
                  border-radius: 3px;
                  width: fit-content;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                .new {
                  font-family: $Mont;
                  font-weight: 500;
                  font-size: 14px;
                  color: #fff;
                  padding: 4px 6px;
                  background-color: #4c1e87;
                  border-radius: 3px;
                  width: fit-content;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  object-position: center;
                }
              }
              .bl_special__text {
                h4 {
                  // font-size: 16px;
                  color: $dark;
                  font-weight: 400;
                  // margin-bottom: 20px;
                  min-height: 80px;
                  line-height: 24px;
                  margin-bottom: 10px;
                }
                ul {
                  // margin-bottom: 10px;
                  margin-right: 0;
                  li {
                    // display: none;
                    margin-right: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                    height: 0;
                    overflow: hidden;
                    transition: 0.3s;
                    @media (max-width: 768px) {
                      height: auto;
                      margin-bottom: 10px;
                    }

                    box-shadow: none;
                    &::before {
                      display: none;
                    }
                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3) {
                      display: block;
                      margin-bottom: 10px;
                      height: auto;
                      transition: 0.3s;
                    }
                    &:last-child {
                      margin-bottom: 0;
                    }
                    p {
                      color: $grey;
                      font-family: $Mont;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 17px;
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      span {
                        color: $light_grey;
                        &:last-child {
                          color: $dark;
                          margin-left: 10px;
                        }
                      }
                    }
                  }
                }
                .bl_special__prices {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  p {
                    font-weight: 500;
                    font-size: 24px;
                    font-family: $Mont;
                    color: $dark;
                    display: block;
                    margin-right: 10px;
                    @media (max-width: 768px) {
                      font-size: 20px;
                    }
                  }

                  del {
                    color: $light_grey;
                    font-weight: 500;
                    font-size: 16px;
                    font-family: $Mont;
                  }
                }
              }
            }
            .bl_special__bottom {
              // display: flex;
              // flex-direction: row;
              // justify-content: space-between;
              // align-items: center;
              position: absolute;
              bottom: -100px;
              left: 0;
              right: 0;
              opacity: 0;
              transition: 0.3s;
              z-index: 5;
              @media (max-width: 768px) {
                position: relative;
                bottom: 0;
                opacity: 1;
              }
              .bl_special__counts {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 10px;

                .count {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  min-width: 146px;
                  border-radius: 3px;
                  padding: 2px;
                  background-color: $bg2;
                  a {
                    min-width: 46px;
                    max-width: 46px;
                    height: 46px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    color: $grey;
                    font-weight: 400;
                    border-radius: 3px;
                    transition: 0.3s;
                    &:hover {
                      transition: 0.3s;
                      background-color: $blue;
                      color: #fff;
                    }
                  }
                  .deactivation {
                    background-color: $bg1;
                    color: $border;
                    transition: 0.3s;
                    &:hover {
                      transition: 0.3s;
                      background-color: $bg1;
                    }
                  }
                  .number {
                    font-family: $Mont;
                    font-weight: 400;
                    color: $dark;
                    line-height: 100%;
                    font-size: 14px;
                    display: block;
                  }
                }

                .bl_special__cart {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: $blue;
                  border-radius: 3px;
                  padding: 15px;
                  transition: 0.3s;
                  width: 50px;
                  height: 50px;
                  &:hover {
                    background-color: $blue_hov;
                    transition: 0.3s;
                  }
                  img {
                    display: block;
                  }
                }
              }
              .favorites {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                position: relative;
                transition: 0.3s;
                &:hover span {
                  transition: 0.3s;
                  color: $blue;
                }
                &:hover svg {
                  transition: 0.3s;
                  path {
                    stroke: $blue;
                    transition: 0.3s;
                  }
                }
                svg {
                  margin-right: 10px;
                  path {
                    transition: 0.3s;
                  }
                }
                img {
                  display: block;
                  min-width: 24px;
                  max-width: 24px;
                  width: 24px;
                  height: 20px;
                  margin-right: 10px;
                  transition: 0.3s;
                }
                span {
                  display: block;
                  font-family: $Mont;
                  font-size: 14px;
                  font-weight: 500;
                  color: $grey;
                }
              }
              .favorites.active {
                &::before {
                  content: "";
                  width: 23px;
                  height: 20.6px;
                  display: block;
                  background-image: url("../img/icons/favorites_red2.svg");
                  background-repeat: no-repeat;
                  background-size: 23px 20.6px;
                  background-position: center center;
                  position: absolute;
                  left: -0.2px;
                  top: -0.2px;
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }
    > .btn_fff {
      display: none;
      @media (max-width: 700px) {
        display: flex;
        margin: 0 auto;
      }
    }
  }
}
// END BLOCK SPECIAL
// ========================================
// OUR WORKS
.bl_our_works {
  .bl_our_works__content {
    h2 {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      @media (max-width: 425px) {
        margin-bottom: 0;
      }
    }
    .bl_our_works__links {
      overflow: auto;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @media (max-width: 760px) {
          justify-content: flex-start;
        }
        li {
          a {
            display: block;
            padding: 15px 30px;
            // padding-top: 10px;
            font-family: $Mont;
            font-size: 14px;
            font-weight: 500;
            color: $grey;
            text-align: center;
            white-space: nowrap;
            position: relative;
            transition: 0.8s;
            @media (max-width: 1100px) {
              padding: 20px 10px;
            }
            @media (max-width: 992px) {
              padding: 20px 8px;
            }
            @media (max-width: 760px) {
              padding: 20px 10px;
            }
            &::before {
              content: "";
              display: block;
              width: 100%;
              height: 2px;
              border-radius: 1px;
              background-color: transparent;
              position: absolute;
              left: 0;
              bottom: 0;
              right: 0;
              transition: 0.8s;
            }
          }
          a.active {
            color: $blue;
            transition: 0.8s;

            &::before {
              background-color: $blue;
              transition: 0.8s;
            }
          }
        }
      }
    }
    .bl_our_works__slides {
      background-color: $bg1;
      padding-top: 40px;
      padding-bottom: 60px;
      @media (max-width: 425px) {
        padding-bottom: 40px;
        padding-top: 20px;
      }
      ul {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin-bottom: 30px;
        margin-right: -30px;
        @media (max-width: 1024px) {
          margin-right: -20px;
        }
        @media (max-width: 768px) {
          margin-right: -10px;
        }
        @media (max-width: 425px) {
          margin-right: 0;
        }
        // width: 100%;
        // .slick-list {
        //   // margin-right: -30px;
        //   // width: 100%;
        //   // @media (max-width: 1024px) {
        //   //   margin-right: -20px;
        //   // }
        //   // @media (max-width: 768px) {
        //   //   margin-right: -10px;
        //   // }
        // }
        .slick-prev {
          @media (max-width: 768px) {
            top: 60%;
          }
        }
        .slick-next {
          // transform: none;
          right: 5px;
          @media (max-width: 1024px) {
            right: -7px;
          }
          @media (max-width: 768px) {
            right: -17px;
            top: 60%;
          }
          @media (max-width: 425px) {
            right: -25px;
          }
          @media (max-width: 375px) {
            right: -15px;
          }
        }
        li {
          margin-right: 30px;
          @media (max-width: 1024px) {
            margin-right: 20px;
          }
          @media (max-width: 768px) {
            margin-right: 10px;
          }
          @media (max-width: 425px) {
            margin-right: 0;
          }
          .bl_our_works__img {
            position: relative;
            border-radius: 3px;
            overflow: hidden;
            margin-bottom: 20px;
            height: 330px;
            @media (max-width: 1920px) {
              height: calc(220px + (330 - 220) * ((100vw - 1025px) / (1920 - 1025)));
            }
            @media (max-width: 1024px) {
              height: calc(170px + (220 - 170) * ((100vw - 769px) / (1024 - 769)));
            }
            @media (max-width: 600px) {
              height: calc(180px + (270 - 180) * ((100vw - 426px) / (600 - 426)));
            }
            @media (max-width: 425px) {
              height: 290px;
            }
            a {
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              display: block;
              width: 100%;
              height: 100%;
              z-index: 5;
            }
            .number_works {
              padding: 6px 11px;
              font-family: $Mont;
              font-size: 14px;
              font-weight: 400;
              min-width: 30px;
              color: #fff;
              background-color: $blue;
              border-radius: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              width: fit-content;
              position: absolute;
              right: 10px;
              top: 10px;
            }
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          .bl_our_works__text {
            h4 {
              margin-bottom: 10px;
            }
            address {
              display: block;
              font-family: $Mont;
              font-weight: 400;
              font-size: 14px;
              color: $light_grey;
              position: relative;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              font-style: normal;
              &::before {
                content: "";
                width: 10px;
                height: 13px;
                display: block;
                background-image: url("../img/icons/address_location.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                margin-right: 5px;
              }
            }
          }
        }
      }
      .btn_blue {
        margin: 0 auto;
      }
    }
  }
}
// END OUR WORKS
// ========================================
// OUR CLIENTS
.bl_our_clients {
  padding-top: 92px;
  // padding-bottom: 100px;

  padding-bottom: 70px;
  @media (max-width: 1024px) {
    padding-bottom: 70px;
  }
  @media (max-width: 768px) {
    padding-bottom: 50px;
    padding-top: 80px;
  }
  @media (max-width: 425px) {
    padding-bottom: 30px;
  }
  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  .bl_our_clients__content {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      // .slick-list {
      // margin-right: -100px;
      // padding-left: 75px;
      // padding-right: 75px;
      // }
      // .slick-track {
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;
      //   padding-right: 40px;
      //   @media (max-width: 768px) {
      //     padding-right: 30px;
      //   }
      //   @media (max-width: 375px) {
      //     padding-right: 15px;
      //   }
      // }
      .slick-slide {
        opacity: 0;
        transition: 1s;
      }
      .slick-active {
        opacity: 1 !important;
        transition: 1s;
      }
      li {
        // margin-right: 100px;
        height: 140px;
        width: 100%;
        @media (max-width: 992px) {
          height: 100px;
        }
        @media (max-width: 425px) {
          height: 85px;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: contain;
          max-width: 120px;
          margin: 0 auto;

          @media (max-width: 992px) {
            max-width: 100px;
          }
          @media (max-width: 425px) {
            max-width: 85px;
          }
        }
      }
    }
  }
}
// END OUR CLIENTS
// ========================================
// POP CATEGORY
.pop_category {
  padding-top: 22px;
  padding-bottom: 51px;
  @media (max-width: 768px) {
    padding-bottom: 20px;
  }
  @media (max-width: 600px) {
    padding-bottom: 10px;
  }

  h2 {
    margin-bottom: 60px;
    text-align: center;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
  .pop_category__content {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      @media (max-width: 600px) {
        justify-content: space-between;
      }
      li {
        width: 16.6%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 65px;
        @media (max-width: 992px) {
          width: 25%;
          margin-bottom: 60px;
        }
        @media (max-width: 600px) {
          width: 46%;
        }
        a {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
        }

        a:hover + .pop_category__img svg path {
          fill: $blue !important;
          transition: 0.3s;
        }
        a:hover ~ h4 {
          color: $blue;
          transition: 0.3s;
        }

        .pop_category__img {
          height: 90px;
          margin-bottom: 20px;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
          path {
            transition: 0.3s;
          }
        }
        h4 {
          transition: 0.3s;
          text-align: center;
        }
      }
    }
  }
}
// END POP CATEGORY
// ========================================
// SERVICES
.bl_services {
  .container {
    @media (max-width: 700px) {
      padding: 0;
    }
  }
  .bl_services__content {
    h2 {
      text-align: center;
      margin-bottom: 30px;
      @media (max-width: 700px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .bl_services__items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      background-image: url("../img/index/services/master.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      padding-top: 116px;
      padding-bottom: 98px;
      @media (max-width: 700px) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        min-height: 550px;
        background-size: auto 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 60px;
        padding-bottom: 60px;
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 360px;
        width: 100%;
        @media (max-width: 1440px) {
          max-width: 260px;
        }
        @media (max-width: 768px) {
          max-width: 210px;
        }
        @media (max-width: 700px) {
          display: none;
        }
        li {
          margin-bottom: 30px;
          width: 100%;
          position: relative;
          &:hover ul {
            opacity: 1;
            z-index: 10;
            transition: 0.3s;
          }
          &:last-child {
            margin-bottom: 0;
          }
          h4 {
            padding-right: 30px;
            border-right: 2px solid transparent;
            border-left: 2px solid transparent;
            transition: 0.3s;
            line-height: 150%;
            border-radius: 1px;
            font-size: 16px;
            width: fit-content;
            @media (max-width: 1024px) {
              padding-right: 20px;
            }
            @media (max-width: 768px) {
              padding-right: 10px;
            }
            &:hover {
              cursor: pointer;
              border-right: 2px solid $blue;
              transition: 0.3s;
              color: $blue;
            }
          }
          h4.active {
            border-right: 2px solid $blue;
            transition: 0.3s;
            color: $blue;
          }
          // ul {
          //   display: none;
          // }
          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid $border;
            border-radius: 3px;
            background-color: #fff;
            max-width: 230px;
            opacity: 0;
            z-index: -10;
            transition: 0.3s;

            li {
              margin-bottom: 14px;
              display: block;
              width: 100%;
              &:last-child {
                margin-bottom: 0;
              }
              a {
                display: block;
                font-family: $Mont;
                font-weight: 400;
                font-size: 14px;
                color: $grey;
                line-height: normal;
                transition: 0.3s;

                &:hover {
                  color: $blue;
                  transition: 0.3s;
                }
              }
            }
          }
        }
        &:first-child {
          align-items: flex-end;
          li {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            ul {
              li {
                justify-content: flex-start;
              }
            }
            h4 {
              text-align: right;
            }
            a {
              text-align: left;
            }
          }
        }
        &:nth-child(3) {
          li {
            h4 {
              border-right: 2px solid transparent;
              border-left: 2px solid transparent;
              transition: 0.3s;
              line-height: 150%;
              padding-left: 30px;
              padding-right: 0;
              border-radius: 1px;
              @media (max-width: 1024px) {
                padding-left: 20px;
              }
              @media (max-width: 768px) {
                padding-left: 10px;
              }
              &:hover {
                cursor: pointer;
                border-right: 2px solid transparent;
                border-left: 2px solid $blue;

                transition: 0.3s;
                color: $blue;
              }
            }
            h4.active {
              border-right: 2px solid transparent;
              border-left: 2px solid $blue;

              transition: 0.3s;
              color: $blue;
            }
            ul {
              left: auto;
              right: 100%;
            }
          }
        }
      }
      .btn_yell {
        margin-top: 231px;
        @media (max-width: 700px) {
          margin-top: 20px;
        }
      }
      .bl_services__select {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        max-width: 300px;
        display: none;
        @media (max-width: 700px) {
          display: flex;
        }
        .bl_services__categories {
          margin-bottom: 10px;
        }
        // .select {
        //   select {
        //     width: 100%;
        //     display: block;
        //     padding: 18px 20px;
        //     border: 2px solid $border;
        //     border-radius: 3px;
        //     font-family: $Mont;
        //     color: $light_grey;
        //     font-weight: 400;
        //     font-size: 14px;
        //   }
        // }
        .select {
          display: block;
          width: 100%;
          position: relative;
          background-color: #fff;
          border-radius: 3px;
          font-family: $Mont;
          color: $light_grey;
          font-weight: 400;
          font-size: 14px;
        }

        .new-select {
          position: relative;
          // border: 1px solid #ced4da;
          border: 2px solid $border;
          border-radius: 3px;
          cursor: pointer;
          user-select: none;
          padding: 12px 20px;
          font-family: $Mont;
          color: $light_grey;
          font-weight: 400;
          font-size: 14px;
          height: 50px;
        }

        .new-select__list {
          position: absolute;
          top: 45px;
          left: 0;
          border: 1px solid #ced4da;
          cursor: pointer;
          width: 100%;
          z-index: 2;
          background: #fff;
          user-select: none;
        }

        .new-select__list.on {
          display: block;
        }

        .new-select__item span {
          display: block;
          padding: 10px 15px;
        }

        .new-select__item span:hover {
          color: #12b223;
        }

        .new-select:after {
          content: "";
          display: block;
          width: 20px;
          height: 10px;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          background: url("../img/icons/arrow_select.svg") no-repeat center center / contain;

          // transform: rotate(0deg);
        }

        .new-select.on:after {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }
}
// END SERVICES
// ========================================
