// ========================================
// ---------- VARIABLES ----------
@import "__variables.scss";
// ---------- END VARIABLES ----------
// ========================================
// ---------- FORMS ----------
// ----------------------------------------
//==============================
//---------- ARTICLES ----------
.inp_search {
  position: relative;
  input::placeholder {
    font-family: $M;
    color: $temp1;
  }
  input:-ms-input-placeholder {
    font-family: $M;
    color: $temp1;
  }
  input::-ms-input-placeholder {
    font-family: $M;
    color: $temp1;
  }
  input {
    padding: 21px;
    font-family: $M;
    font-weight: 400;
    font-size: 17px;
    line-height: normal;
    color: $text;
    border: 1px solid $temp1;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    width: 100%;
    @media (max-width: 768px) {
      font-size: 12px;
      padding: 17px 21px;
    }
    &:focus {
      border: 1px solid $text;
    }
  }
  .btn_search {
    padding: 21px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    @media (max-width: 768px) {
      padding: 17px;
    }
    &:hover,
    &:focus {
      opacity: 0.6;
    }
    img,
    picture {
      display: block;
      width: 20px;
    }
  }
}

.input {
  position: relative;
  input::placeholder {
    font-family: $M;
    color: $temp1;
  }
  input:-ms-input-placeholder {
    font-family: $M;
    color: $temp1;
  }
  input::-ms-input-placeholder {
    font-family: $M;
    color: $temp1;
  }
  input {
    padding: 21px;
    font-family: $M;
    font-weight: 400;
    font-size: 17px;
    line-height: normal;
    color: $text;
    border: 1px solid $temp1;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    width: 100%;
    @media (max-width: 768px) {
      font-size: 12px;
      padding: 17px 21px;
    }
    &:focus {
      border: 1px solid $text;
    }
  }
}

//---------- END ARTICLES ----------
//==============================

// ----------------------------------------
// ---------- END FORMS ----------
// ========================================
