// ========================================
// ---------- VARIABLES ----------
@import "__variables.scss";
// ---------- END VARIABLES ----------
// ========================================
// ---------- POPUPS ----------
// ----------------------------------------
.popup {
  position: fixed;
  inset: 0;
  z-index: 105;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  display: none;
  @media (max-height: 1200px) and (max-width: 1200px) {
    justify-content: flex-start;
    overflow: auto;
  }
  &__content {
    max-width: 1240px;
    background-color: #fff;
    border-radius: 72px;
    padding: 50px;
    position: relative;
    @media (max-width: 768px) {
      padding: 40px 45px;
      border-radius: 0;
    }
  }
  .btn_popup_close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 5;
    @media (max-width: 768px) {
      width: 20px;
      height: 20px;
      right: 20px;
      top: 20px;
    }
    img,
    picture {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
.pop_story {
  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 50px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
      margin-bottom: 30px;
    }
  }
  &__author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__author_img {
    display: flex;
    flex-direction: row;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: calc(205px + 20px);
      height: calc(205px + 20px);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("../img/webinars/circle_dashed.png");
      position: absolute;
      top: -10px;
      left: -10px;
      @media (max-width: 1200px) {
        width: calc(150px + 20px);
        height: calc(150px + 20px);
      }
      @media (max-width: 768px) {
        width: calc(90px + 20px);
        height: calc(90px + 20px);
      }
    }
  }
  &__author_subimg {
    height: 205px;
    width: 205px;
    min-width: 205px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
    position: relative;
    @media (max-width: 1200px) {
      height: 150px;
      width: 150px;
      min-width: 150px;
      margin-right: 20px;
    }
    @media (max-width: 768px) {
      width: 90px;
      height: 90px;
      min-width: 90px;
    }

    img,
    picture {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__author_texts {
    h3 {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      br {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  &__dots {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 70px;
    position: relative;
    @media (max-width: 768px) {
      grid-row: auto;
      grid-column: auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding-left: 40px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      bottom: 20px;
      left: 17px;
      width: 5px;
      height: 100%;
      background-color: #f2dccb;
      @media (max-width: 768px) {
        top: 15px;
        bottom: 15px;
        left: 10px;
      }
    }
  }
  &__dot {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 39px;
      height: 39px;
      position: absolute;
      left: -70px;
      top: 5px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("../img/icons/point.svg");
      @media (max-width: 768px) {
        width: 24px;
        height: 24px;
        left: -40px;
      }
    }
    h3,
    h4,
    .tit40 {
      margin-bottom: 20px;
      @media (max-width: 768px) {
        margin-bottom: 10px;
      }
    }
    ol {
      padding-left: 20px;
      li {
        margin-bottom: 11px;
        font-family: $M;
        font-weight: 400;
        font-size: 17px;
        line-height: normal;
        color: $text;
        list-style: auto;
        position: relative;
        @media (max-width: 1024px) {
          font-size: 14px;
          margin-bottom: 8px;
        }
        @media (max-width: 600px) {
          font-size: 12px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__during {
    h3,
    h4,
    .tit40 {
      margin-bottom: 20px;
      @media (max-width: 768px) {
        margin-bottom: 10px;
      }
    }
    ol {
      padding-left: 20px;
      li {
        margin-bottom: 11px;
        font-family: $M;
        font-weight: 400;
        font-size: 17px;
        line-height: normal;
        color: $text;
        list-style: auto;
        position: relative;
        @media (max-width: 1024px) {
          font-size: 14px;
          margin-bottom: 8px;
        }
        @media (max-width: 600px) {
          font-size: 12px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__text {
    padding: 50px;
    background: rgba(242, 220, 203, 0.2);
    box-shadow: 0px 4px 9px rgba(201, 169, 144, 0.2);
    border-radius: 30px;
    position: relative;
    @media (max-width: 768px) {
      border-radius: 12px;
      padding: 20px 20px 35px 20px;
    }

    &::after {
      content: "";
      display: block;
      width: 78px;
      height: 70px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("../img/about/quotes.svg");
      position: absolute;
      bottom: -30px;
      right: 30px;
      @media (max-width: 768px) {
        width: 50px;
        height: 45px;
        bottom: -20px;
      }
    }
    p {
      line-height: 123%;
    }
  }
}
.popup_form {
  .popup {
    &__content {
      max-width: 917px;
      width: 100%;
      padding: 70px;
      overflow: hidden;
      @media (max-width: 768px) {
        padding: 40px;
      }
    }
  }
}
.pop_form {
  &__form {
    max-width: 454px;
    position: relative;
    z-index: 5;
    @media (max-width: 992px) {
      max-width: 350px;
    }
    @media (max-width: 600px) {
      max-width: none;
    }
    p {
      margin-bottom: 35px;
      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }
  form {
    @media (max-width: 600px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__inp {
    margin-bottom: 20px;
    p {
      margin-bottom: 10px;
      @media (max-width: 768px) {
        margin-bottom: 5px;
      }
      span {
        color: red;
      }
    }
  }
  .btn_grad2 {
    margin-top: 35px;
    margin-bottom: 30px;
    width: 100%;
    @media (max-width: 768px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
.u-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  @media (max-width: 600px) {
    grid-row: 4/5;
  }
  &:hover {
    cursor: pointer;
  }
  .u-check {
    margin-right: 10px;
    position: relative;
    input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 0;
      height: 0;
      &:focus ~ .u-check__check,
      &:checked ~ .u-check__check {
        border: 1px solid $addit1;
      }

      &:checked ~ .u-check__check::before {
        opacity: 1;
      }
    }
    &__check {
      display: block;
      position: relative;
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      border: 1px solid $addit1;
      transition: 0.3s;
      border-radius: 4px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        right: 3px;
        top: 3px;
        bottom: 3px;
        left: 3px;
        transition: 0.3s;
        opacity: 0;
        background-image: url(../img/icons/check2.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
    }
  }
  p {
    margin: 0;
    font-size: 11px;
    color: $addit1;
    line-height: 123%;
    @media (max-width: 768px) {
      margin: 0;
    }
    a {
      color: $addit1;
      text-decoration: underline;
      position: relative;
      z-index: 10;
    }
  }
}
.popup_subscription {
  display: none;
  .pop_form {
    img,
    picture {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 417px;
      pointer-events: none;
      @media (max-width: 768px) {
        width: 300px;
      }
      @media (max-width: 600px) {
        width: 215px;
        z-index: 15;
        bottom: -65px;
        right: -15px;
      }
    }
  }
}
.popup_subscription_leave {
  display: none;
  .pop_form {
    img,
    picture {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 508px;
      @media (max-width: 768px) {
        width: 300px;
      }
      @media (max-width: 600px) {
        width: 215px;
        z-index: 15;
        bottom: -50px;
        right: -15px;
      }
    }
  }
}
.popup_registration {
  display: none;
  .pop_form {
    img,
    picture {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 362px;
      @media (max-width: 768px) {
        width: 300px;
      }
      @media (max-width: 600px) {
        width: 170px;
        z-index: 15;
        bottom: -50px;
        right: -15px;
      }
    }
  }
}
.popup_guide {
  display: none;
  .pop_form {
    img,
    picture {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 458px;
      @media (max-width: 768px) {
        width: 300px;
      }
      @media (max-width: 600px) {
        width: 170px;
        z-index: 15;
        bottom: -30px;
        right: -10px;
      }
    }
  }
}
.popup_check_list {
  display: none;
  .pop_form {
    img,
    picture {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 455px;
      @media (max-width: 768px) {
        width: 300px;
      }
      @media (max-width: 600px) {
        width: 170px;
        z-index: 15;
        bottom: -30px;
        right: -10px;
      }
    }
  }
}

// ----------------------------------------
.popup_success {
  display: flex;
  justify-content: center !important;
  .popup {
    &__content {
      max-width: 640px;
      width: 100%;
      background-color: $addit;
      @media (max-width: 768px) {
        border-radius: 12px;
      }
    }
  }
}
.pop_success {
  min-height: 338px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 480px) {
    min-height: auto;
  }
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 480px) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
    }
    img,
    picture {
      display: block;
      width: 117px;
      min-width: 117px;
      @media (max-width: 480px) {
        width: 57px;
        min-width: 57px;
        margin: 0;
        margin-right: 15px;
      }
    }
    .tit40,
    h3 {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 10px;
      @media (max-width: 480px) {
        text-align: left;
        margin: 0;
      }
    }
  }
  p {
    text-align: center;

    @media (max-width: 480px) {
      text-align: left;
      font-size: 12px;
    }
  }
}
.popup_success1 {
  display: none;
}
.popup_success2 {
  display: none;
}
.popup_success3 {
  display: none;
}
.flex_imp {
  display: flex !important;
}
// ----------------------------------------
// ---------- END POPUPS ----------
// ========================================
