// ========================================
// ---------- VARIABLES ----------
@import "__variables.scss";
// ---------- END VARIABLES ----------
// ========================================
// ---------- ABOUT ----------
// ----------------------------------------
.bl_header_about {
  background-image: url(../img/about/header_about_bg.webp);
  @media (max-width: 480px) {
    background-image: url(../img/about/header_about_bg_mob.webp);
  }
  @media (min-width: 1600px) {
    background-image: url(../img/about/header_about_bg_big.webp);
  }
  .bl_header_main {
    &__texts {
      padding-bottom: 0;
      max-width: 620px;
      @media (max-width: 1024px) {
        max-width: 500px;
      }
      @media (max-width: 768px) {
        max-width: 400px;
      }
      @media (max-width: 600px) {
        max-width: 270px;
      }
      h1 {
        margin-bottom: 50px;
        @media (max-width: 600px) {
          margin-bottom: 20px;
        }
        span {
          @media (max-width: 600px) {
            font-size: 25px;
          }
        }
      }
    }
  }
}

// ----------------------------------------
// ---------- END ABOUT ----------
// ========================================
//==============================
//---------- ABOUT ----------
.bl_stars {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 160px;
    position: relative;
    @media (max-width: 992px) {
      gap: 50px 100px;
    }
    @media (max-width: 768px) {
      gap: 20px;
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
    &::before {
      content: "";
      display: block;
      width: 296px;
      height: 296px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("../img/about/star_center.svg");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  &__item {
    background: #fcf8f4;
    border-radius: 30px;
    overflow: hidden;
    padding: 38px;
    padding-left: 84px;
    position: relative;
    z-index: 5;
    @media (max-width: 768px) {
      padding: 20px;
      padding-left: 80px;
      border-radius: 12px;
    }
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 100px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: absolute;
      left: 20px;
      top: 80px;
      @media (max-width: 768px) {
        width: 60px;
        height: 80px;
        left: 10px;
        top: 40px;
      }
      @media (max-width: 480px) {
        top: 53px;
      }
    }
    &:first-child::before {
      background-image: url(../img/about/about1.svg);
    }
    &:nth-child(2)::before {
      background-image: url(../img/about/about2.svg);
    }
    &:nth-child(3)::before {
      background-image: url(../img/about/about3.svg);
    }
    &:nth-child(4)::before {
      background-image: url(../img/about/about4.svg);
    }
    p {
      line-height: 123%;
    }
  }
}
//---------- END ABOUT ----------
//==============================
//==============================
//---------- COMPAINES ----------
.bl_companies {
  .container {
    @media (max-width: 480px) {
      padding: 0;
    }
  }
  &__content {
    @media (max-width: 700px) {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 100px;
    }
    @media (max-width: 480px) {
      margin-top: 0;
    }
  }
  &__top {
    margin-bottom: 52px;
    @media (max-width: 700px) {
      margin-bottom: 0;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 53px 42px;
    @media (max-width: 1024px) {
      gap: 30px;
    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
      padding-left: 45px;
      padding-right: 45px;
    }
    @media (max-width: 375px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__item {
    &:first-child {
      grid-column: 2/3;
      @media (max-width: 700px) {
        grid-column: auto;
      }
    }
    &:nth-child(2) {
      grid-column: 3/4;
      @media (max-width: 700px) {
        grid-column: auto;
      }
    }
    &:nth-child(3) {
      grid-column: 2/3;
      @media (max-width: 700px) {
        grid-column: auto;
      }
    }
    &:nth-child(4) {
      grid-column: 3/4;
      @media (max-width: 700px) {
        grid-column: auto;
      }
    }
    &:nth-child(5) {
      grid-column: 2/3;
      @media (max-width: 700px) {
        grid-column: auto;
      }
    }
    &:nth-child(6) {
      grid-column: 3/4;
      @media (max-width: 700px) {
        grid-column: auto;
      }
    }
  }
  &__item_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 17px;
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
    img,
    picture {
      display: block;
      width: 70px;
      min-width: 70px;
      margin-right: 15px;
      @media (max-width: 768px) {
        margin-right: 10px;
      }
    }
    h4 {
      margin-bottom: 12px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      @media (max-width: 768px) {
        margin-bottom: 5px;
      }
    }
    p {
      color: $addit1;
    }
  }
  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 60px;
    position: relative;
    @media (max-width: 1024px) {
      gap: 30px;
    }
    @media (max-width: 700px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      margin-bottom: 60px;
      gap: 0;
    }
    .bl_companies__item {
      @media (max-width: 700px) {
        width: calc(50% - 30px);
        margin-bottom: 30px;
      }
      @media (max-width: 480px) {
        margin-bottom: 80px;
        width: 186px;
        margin-right: 45px;
      }
      @media (max-width: 375px) {
        margin-right: 20px;
      }
    }
  }
  &__bottom_text {
    grid-column: 1/3;
    padding: 50px 60px;
    background: rgba(242, 220, 203, 0.2);
    box-shadow: 0px 4px 9px rgba(201, 169, 144, 0.2);
    border-radius: 30px;
    position: relative;
    @media (max-width: 768px) {
      padding: 20px 20px 20px 45px;
    }
    @media (max-width: 480px) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-right: 45px;
    }
    @media (max-width: 375px) {
      padding-left: 20px;
    }

    &::before {
      content: "";
      width: 355px;
      height: 606px;
      display: block;
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: contain;
      background-image: url("../img/about/ccompany_anna.png");
      position: absolute;
      bottom: 100%;
      left: 0;
      @media (max-width: 1200px) {
        width: 300px;
        height: 480px;
      }
      @media (max-width: 900px) {
        width: 200px;
      }
      @media (max-width: 480px) {
        height: 290px;
        background-position: top center;
      }
      @media (max-width: 425px) {
        left: -50px;
      }
      @media (max-width: 375px) {
        left: -70px;
      }
    }
    &::after {
      content: "";
      display: block;
      width: 78px;
      height: 70px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("../img/about/quotes.svg");
      position: absolute;
      bottom: -30px;
      right: 30px;
      @media (max-width: 768px) {
        width: 50px;
        height: 45px;
        bottom: -20px;
      }
    }
    p {
      line-height: 123%;
    }
  }
  .hashtag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;

    li {
      font-family: $M;
      font-weight: 400;
      font-size: 17px;
      line-height: normal;
      color: $text;
      background: rgba(242, 220, 203, 0.2);
      border-radius: 5px;
      display: block;
      padding: 5px 20px;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}
//---------- END COMPAINES ----------
//==============================
//==============================
//---------- ADVANTAGES ----------
.bl_advantages {
  &__content {
    max-width: 978px;
    margin: 0 auto;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // gap: 30px 0;
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
  &__item {
    padding: 20px 12px;
    position: relative;
    @media (max-width: 600px) {
      padding: 0;
      padding-left: 60px;
    }
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: -20px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("../img/about/advantages_dot.svg");
      z-index: 5;
      @media (max-width: 600px) {
        width: 24px;
        height: 24px;
        top: 0;
        left: 18px;
      }
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-color: $addit;
      position: absolute;
      top: -2.5px;
      left: 15px;
      @media (max-width: 600px) {
        width: 2px;
        height: calc(100% + 20px);
        left: 30px;
        top: 10px;
      }
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding-top: 32px;
      padding-bottom: 40px;
      @media (max-width: 600px) {
        padding: 0;
        padding-left: 60px;
      }
      &::before,
      &::after {
        display: none;
        @media (max-width: 600px) {
          display: block;
        }
      }
    }
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      padding-top: 32px;
      @media (max-width: 600px) {
        padding: 0;
        padding-left: 60px;
      }
    }
    &:last-child {
      &::after {
        @media (max-width: 600px) {
          display: none;
        }
      }
    }
    h3 {
      margin-bottom: 5px;
    }
  }
}
//---------- END ADVANTAGES ----------
//==============================
//==============================
//---------- FREE MATERIALS ----------
.bl_free_mat {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url("../img/about/free_mat_bg.svg");
  @media (max-width: 480px) {
    background-image: url("../img/about/free_mat_bg_mob.svg");
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    @media (max-width: 1024px) {
      gap: 20px;
    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 9px rgba(201, 169, 144, 0.2);
    border-radius: 30px;
    min-height: 277px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 768px) {
      padding: 30px;
    }
    @media (max-width: 700px) {
      min-height: 200px;
    }
    h5 {
      margin-bottom: 20px;
      position: relative;
      z-index: 5;
    }
    img,
    picture {
      display: block;
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 80px;
      @media (max-width: 992px) {
        right: 15px;
        bottom: 15px;
      }
    }
    a {
      z-index: 5;
      position: relative;
    }
    .btn_grad1 {
      width: fit-content;
      @media (max-width: 480px) {
        width: 100%;
      }
    }
    &:first-child {
      h5 {
        max-width: 184px;
      }
      img,
      picture {
        width: 254px;
        right: 19px;
        bottom: 0;
        @media (max-width: 992px) {
          width: 200px;
          right: 0;
        }
        @media (max-width: 480px) {
          width: 152px;
        }
      }
    }
    &:nth-child(2) {
      h5 {
        max-width: 290px;
      }
      img,
      picture {
        width: 169px;
        @media (max-width: 992px) {
          width: 122px;
        }
        @media (max-width: 480px) {
          width: 128px;
        }
      }
    }
    &:nth-child(3) {
      h5 {
        max-width: 420px;
      }
      img,
      picture {
        width: 140px;
        @media (max-width: 992px) {
          width: 100px;
        }
        @media (max-width: 480px) {
          width: 116px;
        }
      }
    }
    &:nth-child(4) {
      h5 {
        max-width: 330px;
      }
      img,
      picture {
        width: 207px;
        @media (max-width: 992px) {
          width: 150px;
        }
        @media (max-width: 480px) {
          width: 147px;
        }
      }
    }
    &:nth-child(5) {
      h5 {
        max-width: 289px;
      }
      img,
      picture {
        width: 225px;
        @media (max-width: 992px) {
          width: 150px;
        }
        @media (max-width: 480px) {
          width: 140px;
        }
      }
    }
    &:nth-child(6) {
      h5 {
        max-width: 467px;
      }
      img,
      picture {
        width: 231px;
        @media (max-width: 992px) {
          width: 150px;
        }
      }
    }
    &:nth-child(7) {
      min-height: 401px;
      @media (max-width: 700px) {
        min-height: 250px;
      }
      h5 {
        max-width: 234px;
      }
      img,
      picture {
        width: 387px;
        bottom: 0;
        right: 0;
        @media (max-width: 992px) {
          width: 250px;
        }
        @media (max-width: 480px) {
          width: 200px;
        }
      }
    }
    &:nth-child(8) {
      min-height: 401px;
      @media (max-width: 700px) {
        min-height: 250px;
      }
      h5 {
        max-width: 209px;
      }
      img,
      picture {
        width: 363px;
        bottom: 0;
        right: 0;
        @media (max-width: 992px) {
          width: 250px;
        }
        @media (max-width: 480px) {
          width: 200px;
        }
      }
    }
  }
}
//---------- END FREE MATERIALS ----------
//==============================
