// ========================================
// ---------- VARIABLES ----------
@import "__variables.scss";
// ---------- END VARIABLES ----------
// ========================================
// ---------- POPUPS ----------
// ----------------------------------------
.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 105;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  display: none;
  @media (max-height: 768px) {
    align-items: flex-start;
  }
  .block-close {
    position: absolute;
    left: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &__content {
    background-color: #fff;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    max-width: 530px;
    width: 100%;
    padding-bottom: 40px;
    z-index: 5;
    > p {
      font-family: $G;
      font-weight: 500;
      font-size: 18px;
      line-height: normal;
      color: $dark;
      display: block;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 27px;
      text-align: center;
    }
  }
  .btn-close-popup {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 15px;
    top: 15px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__logo {
    background-color: #f4f4f4;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: 480px) {
      padding-top: 60px;
    }
    img {
      max-width: 270px;
      display: block;
      margin: 0 auto;
    }
  }
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 46px;
    button {
      height: 57px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: $G;
      font-weight: 500;
      font-size: 18px;
      line-height: normal;
      color: $dark;
      &:first-child {
        border-bottom-right-radius: 10px;
      }
      &:last-child {
        border-bottom-left-radius: 10px;
      }
    }
    button.active {
      background-color: #f4f4f4;
    }
  }
  &__soc-btns {
    margin-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 47px;
      max-width: 370px;
      width: 100%;
      position: relative;
      font-family: $G;
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
      text-align: center;
      color: $dark;
      border-radius: 10px;
      margin: 0 auto;
      &:first-child {
        margin-bottom: 14px;
      }
      img,
      picture {
        display: block;
        width: 35px;
        position: absolute;
        left: 7px;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: 380px) {
          left: 5px;
          width: 25px;
        }
      }
      span {
        @media (max-width: 380px) {
          margin-left: 28px;
        }
      }
    }
    .btn-facebook {
      color: #fff;
      background-color: #3b5998;
    }
    .btn-google {
      border: 1px solid #c8c3c3;
    }
  }
  form {
    padding-right: 25px;
    padding-left: 25px;
  }
  .btn-green {
    margin: 0 auto;
    max-width: 330px;
    width: 100%;
  }
}
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
  @media (max-width: 480px) {
    flex-direction: column;
  }
  .input {
    width: 100%;
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:first-child {
      margin-right: 30px;
      @media (max-width: 480px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    input {
      border: 1px solid #c8c3c3;
      border-radius: 10px;
      height: 47px;
      outline: none;
      font-family: $G;
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
      color: $dark;
      width: 100%;
      padding-left: 38px;
      padding-right: 38px;
      text-align: center;
    }
    input::placeholder {
      font-family: $G;
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
      color: $dark;
    }
    input:-ms-input-placeholder {
      font-family: $G;
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
      color: $dark;
    }
    input::-ms-input-placeholder {
      font-family: $G;
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
      color: $dark;
    }
  }
  .input-email {
    position: relative;
    &::before {
      background-image: url("../img/icons/email.svg");
    }
  }
  .input-password {
    position: relative;
    &::before {
      background-image: url("../img/icons/password.svg");
    }
  }
}
.btn-remember {
  font-family: $G;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  color: $green;
  text-align: center;
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 40px;
  &:hover {
    color: $dark;
  }
}
// ----------------------------------------
// ---------- END POPUPS ----------
// ========================================
// ---------- MAIN ----------
// ----------------------------------------
.d-none {
  display: none !important;
}
/* ---------- */
/* HEADER AND FOOTER */
.header__logo-icon img {
  display: block;
  max-width: 200px;
}
@media (max-width: 425px) {
  .header__logo-icon img {
    max-width: 120px;
  }
  .header__right {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ---------- */
.header-top {
  width: 100%;
}
.header-top__top {
  background-color: #06c167;
}
.header-top__top a {
  padding: 7px 0;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
  line-height: normal;
}
@media (max-width: 480px) {
  .header-top__top a {
    font-size: 16px;
  }
}
.header-top__top a:hover {
  opacity: 0.6;
}
.header-top__bottom .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-top__bottom a {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #222;
  padding: 8px 16px;
  transition: 0.3s;
  text-align: center;
  line-height: normal;
}

.header-top__bottom a:hover {
  opacity: 0.6;
}
.btn-h-top-grey {
  background-color: #e7e7e7;
  border-radius: 50px 0 0 50px;
  margin-right: 5px;
}
.btn-h-top-orange {
  background-color: #f55f30;
  text-transform: uppercase;
  color: #fff !important;
  border-radius: 0 50px 50px 0;
}
@media (max-width: 480px) {
  .header-top__bottom a {
    font-size: 12px;
    border-radius: 0;
  }

  .header-top__bottom .container {
    padding: 0;
  }

  .btn-h-top-grey {
    margin-right: 0;
  }
}

/* ---------- */
.footer-bottom__logo {
  max-width: 200px;
}
.footer-bottom__logo img {
  display: block;
  width: 100%;
}
@media (max-width: 425px) {
  .header__logo-icon img {
    max-width: 120px;
  }
}
@media (max-width: 425px) {
  .footer-bottom__list {
    flex-wrap: wrap;
    grid-column: auto;
    grid-row: auto;
  }
  .footer-bottom__inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-bottom__social-list {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
/* END HEADER AND FOOTER */
/* ---------- */
/* OFFERS */
.bl-offers {
  padding-top: 50px;
  padding-bottom: 50px;
}
.bl-offers h2 {
  display: block;
  margin-bottom: 20px;
}
.bl-offers__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}
/* @media (max-width: 767px) {
  .bl-offers__items{

  }
} */
.bl-offers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bl-offers__item img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.bl-offers__item h3 {
  text-align: center;
  display: block;
  max-width: 180px;
}

@media (max-width: 767px) {
  .bl-offers__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .bl-offers__items img {
    max-width: 200px;
  }
}
/* END OFFERS */
/* ---------- */
/* DASHPASS */
.bl-dashpass {
  padding-bottom: 50px;
}
.dashpass-slider {
  position: relative;
  margin-bottom: 20px;
}
.dashpass-slider:last-child {
  margin-bottom: 0;
}
.bl-dashpass .product-slider__arrow {
  position: absolute;
}
.bl-dashpass .product-slider__arrow:hover {
  cursor: pointer;
}
.bl-dashpass .swiper-button-prevv {
  top: 50%;
  transform: translateY(-50%);
  left: -16px;
  z-index: 10;
}
.bl-dashpass .swiper-button-prevv::after {
  background-image: url(../update-img/arrow-left.svg);
}
.bl-dashpass .swiper-button-nextt {
  top: 50%;
  transform: translateY(-50%);
  right: -16px;
  z-index: 10;
}
.bl-dashpass .swiper-button-nextt::after {
  background-image: url(../update-img/arrow-right.svg);
}
.dashpass-slider .swiper-slide {
  overflow: hidden;
  border-radius: 15px;
}
.dashpass-slider .swiper-slide a {
  display: block;
  position: absolute;
  inset: 0;
  z-index: 5;
}
.dashpass-slider .swiper-slide img {
  display: block;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
/* END DASHPASS */
/* ---------- */
/* ======================================== */
/* ---------- */
/* METHODS */
.methods {
  margin-bottom: 20px;
}
/* END METHODS */
/* ---------- */
/* EDIT PROFILE */
.program {
  margin-bottom: 32px;
}
/* END EDIT PROFILE */
/* ---------- */
/* ======================================== */
/* STAGES */
/* ---------- */
.fix-stages {
  position: fixed;
  right: 0;
  bottom: 24px;
  z-index: 50;
  overflow: auto;
  height: auto;
  max-width: 256px;
  @media (max-width: 480px) {
    max-width: 187px;
  }
  @media (max-height: 387px) {
    top: 0;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  > p {
    display: block;
    border-radius: 20px 0 0 20px;
    background-color: #e7e7e7;
    margin-bottom: 7px;
    padding: 5px 40px 5px 18px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #222;
    line-height: normal;
    @media (max-width: 480px) {
      margin-bottom: 5px;
      font-size: 9px;
      padding: 5px 20px 5px 13px;
    }
  }
  .p-orange {
    background-color: #f55f30;
    color: #fff;
    margin-bottom: 16px;
    @media (max-width: 480px) {
      margin-bottom: 10px;
    }
  }
  ul {
    background: #fff9f1;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
    border-radius: 33px;
    padding: 16px 6px;
    padding-right: 15px;
    max-width: 246px;
    // overflow: hidden;
    margin-right: 10px;
    li {
      padding-left: 60px;
      min-height: 53px;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      margin-bottom: 17px;
      opacity: 0.5;
      @media (max-width: 480px) {
        padding-left: 45px;
        min-height: 38px;
      }
      &::before {
        content: "";
        display: block;
        width: 54px;
        height: 66px;
        // background-color: #ccc;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        @media (max-width: 480px) {
          width: 38px;
          height: 48px;
        }
      }
      p {
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #222;
        line-height: normal;
        display: block;
        position: relative;
        @media (max-width: 480px) {
          font-size: 12px;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 200%;
          height: 1px;
          // background-color: #ccc;
          opacity: 0;
        }
      }
    }
    li.active {
      opacity: 1;
    }
    li.success {
      opacity: 1;
    }
    // ----------
    .stage-address {
      &::before {
        background-image: url("../img/stages/1.svg  ");
      }
    }
    .stage-address.active {
      p {
        color: #ffb345;
        &::before {
          opacity: 1;
          background-color: #ffb345;
        }
      }
    }
    .stage-address.success {
      &::before {
        background-image: url("../img/stages/1-success.svg");
      }
      p {
        color: #06c167;
        &::before {
          display: none;
        }
      }
    }
    // ----------

    .stage-method {
      &::before {
        background-image: url("../img/stages/2.svg  ");
      }
    }
    .stage-method.active {
      p {
        color: #ff8754;
        &::before {
          opacity: 1;
          background-color: #ff8754;
        }
      }
    }
    .stage-method.success {
      &::before {
        background-image: url("../img/stages/2-success.svg  ");
      }
      p {
        color: #06c167;
        &::before {
          display: none;
        }
      }
    }
    // ----------

    .stage-sertificate {
      &::before {
        background-image: url("../img/stages/3.svg  ");
      }
    }
    .stage-sertificate.active {
      p {
        color: #9ed342;
        &::before {
          opacity: 1;
          background-color: #9ed342;
        }
      }
    }
    .stage-sertificate.success {
      &::before {
        background-image: url("../img/stages/3-success.svg");
      }
      p {
        color: #06c167;
        &::before {
          display: none;
        }
      }
    }
    // ----------
    .stage-apps {
      &::before {
        background-image: url("../img/stages/4.svg");
      }
    }
    .stage-apps.active {
      p {
        color: #40d3e2;
        &::before {
          opacity: 1;
          background-color: #40d3e2;
        }
      }
    }
    .stage-apps.success {
      &::before {
        background-image: url("../img/stages/4-success.svg");
      }
      p {
        color: #06c167;
        &::before {
          display: none;
        }
      }
    }
    // ----------

    .stage-choice {
      &::before {
        background-image: url("../img/stages/5.svg  ");
      }
    }

    .stage-choice.active {
      p {
        color: #cf6ff1;
        &::before {
          opacity: 1;
          background-color: #cf6ff1;
        }
      }
    }

    .stage-choice.success {
      &::before {
        background-image: url("../img/stages/5-success.svg");
      }
      p {
        color: #06c167;
        &::before {
          display: none;
        }
      }
    }
    // ----------
  }
  &__success {
    display: none;
  }
}
/* ---------- */
/* END STAGES */
/* ======================================== */
/* PAYMENT */
.header-payment {
  input {
    height: auto !important;
    background-color: transparent;
  }
}
.main-m-block__payment {
  @media (max-width: 600px) {
    padding-top: 0;
  }
  .m-block {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: 600px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
/* END PAYMENT */
/* ======================================== */
/* ADD ADDRESS */
.bl-add-addresses {
  .container {
    max-width: calc(766px + 64px);
  }
}
.add-address {
  border: 1px solid #d6d6d6;
  margin-bottom: 20px;
  h4 {
    padding: 24px;
    padding-bottom: 0px;
  }
  p {
    padding: 24px;
    margin-bottom: 0;
  }
}
.btn-add-address {
  border-top: 1px solid #d6d6d6;
  width: 100%;
  padding: 15px 24px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: #1a73e8;
}
.add-address-form {
  border: 1px solid #d6d6d6;
  margin-bottom: 24px;
  display: none;
  .program__caption {
    padding: 24px;
    padding-bottom: 0;
  }
  &__inputs {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    padding-top: 0;
    button {
      margin: 0;
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
/* END ADD ADDRESS */
/* ======================================== */
